
.atom-clock-time , .current-path {
  color: #4e96aa;
  // background-color: black;
}

.syntax--comment {
    color:#28757c !important;
    font-style:italic;
}

.syntax--comment .syntax--markup.syntax--link {
    color:#28757c !important;
}

atom-text-editor {
  background-color: black !important;
  background: black !important;
}
