@-moz-document url-prefix("https://www.aliexpress.com"), url-prefix("https://www.aliexpress.ru"), url-prefix("https://trade.aliexpress.com"), url-prefix("https://trade.aliexpress.ru"), url-prefix("https://best.aliexpress.ru"), url-prefix("https://best.aliexpress.com"), url-prefix("https://message.aliexpress.com"), url-prefix("https://message.aliexpress.ru"), url-prefix("https://aliexpress.com"), url-prefix("https://aliexpress.ru"), domain("i.alicdn.com"), domain("i.alicdn.ru"), domain("g.alicdn.com"), domain("g.alicdn.ru"), domain("aliexpress.com"), domain("aliexpress.ru"), domain("passport.aliexpress.com"), domain("passport.aliexpress.ru"), domain("message.aliexpress.com"), domain("message.aliexpress.ru"), domain("best.aliexpress.com"), domain("developers.aliexpress.com"), domain("trade.aliexpress.com"), domain("trade.aliexpress.ru")
{
  /*11.11.21*/
  html {
    filter: invert(100%);
  }
  body {
    background-color: #000;
  }
  body {
    background: #fff;
  }
  a,
  img {
    filter: invert(1) !important;
  }

  [class*="Product_GalleryVideo"] {
    filter: invert(100%);
  }
  [class*="Reviews_Flag"] {
    filter: invert(100%);
  }
  [class*="ali-kit_Image"] {
    filter: invert(100%);
  }
  [class*="alikit"] {
    filter: invert(100%);
  }
  [class*="shopcart-empty"] {
    background-color: #000;
    filter: invert(100%);
  }
  [class*="card-img"] {
    filter: invert(0);
  }
  [class*="img"] {
    filter: invert(0) !important;
  }
  .cart-product-img {
    filter: invert(0) !important;
  }

  /*отзывы*/
  .feedback-container {
    background-color: #000;
  }
  .buyer-feedback {
    filter: invert(100%);
  }
  .feedback-action {
    filter: invert(100%);
  }
  .filter-wrap {
    filter: invert(100%);
  }

  .r-num {
    filter: invert(100%);
  }
  .rate-score {
    filter: invert(100%);
  }
  .customer-reviews {
    filter: invert(100%);
  }
  .buyer-addition-feedback {
    filter: invert(100%);
  }
  .j-digg-info-new {
    filter: invert(100%);
  }
  .feedback-container {
    filter: invert(100%);
  }
  .site-footer {
    background-color: #fff;
  }
  .footer-copywrite {
    background-color: #000;
  }
  .footer-copywrite {
    filter: invert(100%);
  }
  /*.tab-content {filter:invert(100%);} 
.store-header-nav {filter:invert(100%);}
.photo-view-content {filter:invert(100%);}
.pic-view-item {filter:invert(100%);}
.Product_GalleryVideo__video__9fbpv {filter:invert(100%);}
.transform {filter:invert(100%);}
[class*=Product_Gallery] {filter:invert(100%);}*/
}
