@-moz-document domain("amazon.com.mx") {
  #navbar,
  #nav-main,
  body,
  html,
  .a-popover-inner,
  #suggestions-template,
  .nav-search-submit,
  #pagn,
  #hows-my-search,
  .rhfWrapper,
  .rhfHistoryWrapper,
  #rhfDividerColumn,
  #white-mask,
  .history-text,
  .nav-flyout-sidePanel-content,
  #nav-flyout-yourAccount,
  #nav-flyout-wishlist,
  #nav-flyout-cart,
  .click_region,
  #cbcc_banner,
  #hl-confirm-text,
  .a-box,
  .benefits-container,
  #spc-imb,
  .nav-catFlyout,
  .nav-flyout-content,
  .nav-promo,
  .small,
  #nav-subnav,
  a.a-link-section-expander,
  #nav-belt,
  .nav-signin-tt,
  .a-alert-info .a-alert-container,
  /* .a-box-group > .a-box:first-child > .a-box-inner, */
  #bbopAndCartBox,
  .nav-bluebeacon .ewc-beacon #ewc #ewc-checkout,
  .ewc-style .ewc-section-expander > .ewc-expander-header a,
  #btfContent,
  .a-box-title .a-box-inner,
  #actionPanelWrapper,
  .payment-row,
  .a-box-inner,
  .a-form-actions,
  ul.a-tabs li:first-child a,
  #huc-v2-order-row-items,
  #huc-v2-order-row-messages,
  .huc-v2-upsell-item-slide,
  input[type="text"],
  .a-search input {
    background: black !important;
  }

  ul.a-tabs li:first-child a {
    border-color: #d2d2d2 #ddd #ddd !important;
  }
  option {
    color: white;
  }
  #main,
  #suggestions-template,
  .a-color-base,
  #leftNav a:hover,
  #nav-search,
  .click_region,
  h3,
  .upsell_title_post,
  .a-carousel-pagination,
  .a-alert-container,
  #sc-about,
  h2,
  .byline,
  .a-checkbox-label,
  .sc-product-creator,
  #spc-order-summary,
  .a-size-medium,
  .a-text-center,
  .a-fixed-right-flipped-grid,
  #centerCol,
  #feature-bullets,
  .a-list-item,
  .a-section,
  .small,
  .nav-a:hover,
  .a-spacing-medium,
  .num-orders-for-orders-by-date,
  a.item:hover,
  .a-text-bold,
  .a-spacing-extra-large,
  #miniATF_titleLink:hover,
  .navFooterColHead,
  .nav-tpl-itemList .nav-link:hover .nav-text,
  #feature-bullets-atf li span,
  ul.a-tabs li:first-child a,
  a:link,
  .nav-tpl-itemList .nav-link .nav-text,
  .huc-v2-order-row .huc-v2-scarcity {
    color: #d2d2d2 !important;
  }

  .s-selected,
  .a-row,
  .a-container,
  .sc-list,
  .sc-secondary-list,
  .a-row,
  .a-cardui,
  .a-section,
  .maple-banner,
  .nav-flyout,
  .a-cardui-body,
  .a-box-group > .a-box:first-child > .a-box-inner,
  .a-box-group,
  .a-accordion-inner,
  .a-accordion-row,
  .a-price,
  .es_MX,
  ._universal-detail-ilm-card_style_desktop__2G4jX,
  ul.a-tabs {
    background: #161616 !important;
    color: #ddd;
  }
  .a-price,
  .a-offscreen,
  .a-price-whole,
  .a-column,
  .a-price-symbol {
    color: white !important;
  }
  #leftNav a,
  #rhf_nav_back,
  a.item,
  #signin-slot,
  #nav-cart-flyout.nav-empty .nav-dynamic-empty,
  .postContent,
  #quickPromoBucketContent .qpUL,
  #fbt_x_title,
  .bxgy-byline-text,
  div.bucket,
  #miniATF_titleLink,
  body,
  .rhf-sign-in-title {
    color: gray !important;
  }
  .main-tv .dv-dp-top-wrapper {
    padding-bottom: 25px;
    background: transparent
      linear-gradient(to bottom, #000 0px, #000 82%, #000 100%) repeat scroll 0%
      0%;
  }
  .nav-search-field,
  .nav-searchbar .nav-active,
  .nav-search-scope,
  .nav-search-label,
  .nav-search-facade,
  .nav-searchbar,
  #twotabsearchtextbox,
  .nav-focus,
  #searchOrdersInput {
    background: #161616 !important;
    color: white !important;
    border: none !important;
    box-shadow: none !important;
  }
  .dv-episode-container {
    background-color: #000;
  }
  #leftNav .seeMore,
  .boldRefinementLink,
  .a-color-state,
  #leftNav h2 {
    color: #4682b4 !important;
  }

  #s-result-info-bar,
  .a-alert-info .a-alert-container {
    border: 1px #161616 solid !important;
    box-shadow: none !important;
  }

  .s-suggestion:hover,
  #miniATFUDP,
  .wl-list.selected {
    background: black !important;
    border: 1px white solid !important;
  }

  .s-highlight-primary {
    color: #4682b4 !important;
  }

  #navbar #nav-flyout-ewc .nav-flyout-tail {
    background: #404040 !important;
  }

  #nav-logo-borderfade {
    background: gray !important;
  }

  .a-button,
  .a-button-text,
  .nav-action-button,
  .nav-action-button:link,
  .rhf-sign-in-button .action-inner,
  span.btn-prim-med-ra span input {
    -moz-appearance: none !important;
    background: linear-gradient(#333, #000) !important;
    border: 1px #444 solid !important;
    color: #999 !important;
    box-shadow: unset !important;
  }

  .nav-action-button .nav-action-inner,
  .nav-action-button:link .nav-action-inner {
    color: #999 !important;
  }

  .rhf-sign-in-button .action-inner {
    text-shadow: unset !important;
  }

  .a-button:hover,
  .a-button-text:hover,
  .nav-action-button:hover,
  .nav-action-button:link:hover,
  .rhf-sign-in-button .action-inner:hover,
  span.btn-prim-med-ra span input:hover {
    background: #222 !important;
  }
  .nav-flyout {
    position: absolute;
    display: none;
    overflow: visible !important;
    /* background: #000; */
    border: 1px solid #bbb;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 14px;
    margin: 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
    -ms-user-select: none;
    zoom: 1;
    -webkit-transform: translate3d(0, 0, 0);
    font-size: 13px;
    font-family: arial, sans-serif;
    line-height: normal;
  }

  #hud-dashboard {
    background-color: #000;
    padding: 24px 8px 20px 26px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
    min-width: 1000px;
    overflow-y: hidden;
    height: 115px;
  }
  #nav-upnav {
    margin: 0;
    display: none;
  }

  .nav-npm-text-detail,
  a.nav-npm-text-detail-a,
  a.nav-npm-text-detail-a:link,
  a.nav-npm-text-detail-a:visited,
  a.nav-npm-text-detail-a:hover,
  a.nav-npm-text-detail-a:active {
    font-family: arial, sans-serif;
    font-size: 12px;
    color: #00958a;
  }
  .comparison_baseitem_column {
    background-color: #000;
    border: 1px dotted #ccc;
    padding-left: 10px;
  }
  .comparison_attribute_name_column {
    background-color: #000;
    border: 1px dotted #ccc;
    padding-left: 10px;
  }
  #rhf .rhf-divider::after {
    display: block;
    width: 100%;
    height: 0px;
    background-color: black;
    background: -moz-linear-gradient(left, #000, rgba(0, 0, 0, 0), #000);
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0, #000),
      color-stop(50%, rgba(0, 0, 0, 0)),
      color-stop(100%, #000)
    );
    background: -webkit-linear-gradient(left, #000, rgba(0, 0, 0, 0), #000);
    background: -o-linear-gradient(left, #000, rgba(0, 0, 0, 0), #000);
    background: -ms-linear-gradient(left, #000, rgba(0, 0, 0, 0), #000);
    background: linear-gradient(left, #000, rgba(0, 0, 0, 0), #000);
    filter: none;
    z-index: 1;
    content: "";
  }

  .a-box .a-divider.a-divider-section .a-divider-inner::after,
  .a-color-base-background .a-divider.a-divider-section .a-divider-inner::after,
  .a-divider.a-divider-section .a-divider-inner::after {
    display: block;
    width: 100%;
    height: 0px;
    background-color: transparent;
    background: -webkit-linear-gradient(
      to right,
      #fff,
      rgba(255, 255, 255, 0),
      #fff
    );
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
    z-index: 1;
    content: "";
  }

  tbody.tr,
  tr,
  td,
  th {
    background-color: #000 !important;
  }
}
