@-moz-document regexp("http(s)?://(www\.)?freecodecamp.*")
{
  *,
  body,
  main,
  footer {
    color: #fff;
    background-color: #002b36 !important;
  }

  .sidebar,
  .trending-guides,
  .footer-container,
  .footer-top,
  .footer-desc-col,
  .post-and-sidebar,
  [class^=" footer-col-"] {
    background-color: #002b36 !important;
  }

  div {
    background-color: black !important;
    color: white !important;
  }
  h1,
  h2,
  strong {
    color: #ccc !important;
  }
  a,
  nav,
  summary {
    color: green !important;
  }

  code,
  pre,
  nav,
  ol,
  input {
    background-color: #161616 !important;
    color: white !important;
  }

  html {
    /* background-color: green !important; */
    background-color: #002b36 !important;
  }
}
