@-moz-document domain("javascript.info") {
  .sitetoolbar__content,
  .page-footer,
  .sidebar__inner {
    background-color: #4c4c4c;
    color: #f4f5fb;
  }

  .sidebar__section-title {
    color: #ebebeb;
  }

  .sitetoolbar__link {
    color: #ccc;
  }

  .page__inner,
  .lessons-list,
  .main-en-contents,
  .page-wrapper {
    background-color: #333;
    color: #cfcfcf;
  }

  .sitetoolbar__section_current,
  .sitetoolbar__section_current .sitetoolbar__link,
  .sitetoolbar__section_current .sitetoolbar__dropdown-button,
  .working-hover
    .sitetoolbar__section_current
    .sitetoolbar__dropdown-button:hover {
    color: #d1d1d1;
    border-bottom: 1px solid #b20600;
  }

  .sitetoolbar__user,
  .sitetoolbar__login,
  .sitetoolbar__search-toggle {
    color: #d1d1d1;
  }

  .toolbar .toolbar__button,
  .frontpage-content {
    background: #222;
  }

  .page__inner a,
  .breadcrumbs__link,
  .lessons-list a {
    color: #5daeff;
  }

  .sidebar__link,
  .main-en-contents .list__link {
    color: #90c7ff;
  }

  .quote__text {
    color: #ccbc9a;
  }

  .page__inner code {
    background: #1c1c1c;
    color: #fff;
  }

  pre.line-numbers,
  .line-numbers,
  .line-numbers .line-numbers-rows,
  .line-numbers-rows > span:before,
  .line-numbers-rows > span:after {
    background: #2c2c2c;
  }

  pre[class*="language-"],
  pre[class*="language-"] > code.language-markup {
    background: #222;
    color: #fff;
  }

  span.token.keyword,
  span.token.attr-value {
    color: #00b2ff !important;
  }

  span.token.operator {
    color: #c4aa90 !important;
  }

  span.token.string,
  span.token.attr-name {
    color: #c1ff44 !important;
  }

  span.token.punctuation {
    color: #bbb !important;
  }

  span.token.number,
  span.token.tag {
    color: #ff1195 !important;
  }

  .main .block-highlight .mask,
  .main .inline-highlight .mask,
  code.mask {
    background: #2c2c2c;
    outline-color: #2c2c2c;
  }

  .main .inline-highlight {
    background: transparent;
  }

  .main .block-highlight,
  .main .block-highlight .mask {
    background: transparent;
  }

  .main table tr:nth-child(2n) {
    background: #444 !important;
  }

  /* .disqus-loading { display: none; } */

  input {
    background-color: #034 !important;
    color: #111 !important;
  }
}
