@-moz-document regexp("^.*\.json$") {
  * {
    background-color: black !important;
    color: #888 !important;
  }

  .sObjectK {
    color: #888888 !important;
  }

  .sObjectV {
    color: #00cc00 !important;
  }

  .fa-minus-square-o,
  .fa-plus-square-o {
    color: #008800 !important;
  }
}
