@-moz-document domain("developer.mozilla.org") {
  html,
  body,
  .titlebar-container,
  header .page-header-main,
  .main-nav ul.main-menu,
  .main-nav ul.main-menu ul.show,
  .metadata,
  .header-search,
  input[type="search"],
  .title,
  .output {
    background-color: #151515;
    color: #ccc;
  }

  ul.prev-next a {
    color: #ccc;
  }

  .notecard {
    border-left: 6px solid #1e7f9d66;
  }

  .notecard.note {
    background-color: #dcf4ff22;
  }

  .notecard.note code,
  .notecard.note code a {
    color: #fff;
    background-color: #00000033;
  }

  .notecard h4:before {
    filter: invert(1);
    opacity: 0.66;
  }

  .notecard.draft,
  .notecard.experimental,
  .notecard.secure,
  .notecard.warning {
    background-color: #fef1b622;
    border-color: #e1c54266;
    color: #ccc;
  }

  .notecard.deprecated,
  .notecard.negative,
  .notecard.obsolete {
    background-color: #ffbdbd22;
    border-color: #d0454c66;
    color: #ccc;
  }

  .notecard {
    border-left: 6px solid #1e7f9d;
  }

  .output {
    background-color: #111;
    border-color: #333;
  }

  .CodeMirror pre.CodeMirror-line,
  .CodeMirror pre.CodeMirror-line-like,
  .CodeMirror-sizer {
    background-color: #151515;
    color: #ccc;
  }

  .interactive {
    background-color: #151515;
    border: none;
  }

  code {
    background-color: #111;
    color: #ddd;
  }

  table.bc-table.bc-table-web,
  table.bc-table.bc-table-web th,
  table.standard-table tbody,
  .standard-table td,
  .standard-table th {
    background-color: #222;
    color: #ccc;
    border-color: #151515;
  }

  table.standard-table tbody td span.badge.readonly,
  table.standard-table tbody td span.badge {
    background-color: #111;
    color: #ddd;
    border-color: #ccc;
  }

  table.bc-table.bc-table-web tr.bc-browsers th span:before,
  table.bc-table.bc-table-web th:before {
    filter: invert(1);
    opacity: 0.66;
  }

  .button,
  button,
  input[type="button"],
  input[type="submit"] {
    background-color: #151515;
    color: #ccc;
  }

  mark {
    color: #cfc;
  }

  a,
  a:link,
  a:visited,
  .article h2 a:link,
  .article h2 a:visited,
  .article h2 code,
  .breadcrumbs li:last-child a:link,
  .breadcrumbs li:last-child a:visited {
    color: #09f;
  }

  .breadcrumbs li .breadcrumb-penultimate:after,
  .breadcrumbs li .breadcrumb:after {
    filter: invert(1);
    opacity: 0.66;
  }

  #nav-main-search,
  .header-search input.search-input-field:focus,
  .header-search input.search-input-field {
    background-color: #151515;
    color: #fff;
  }

  pre {
    background-color: #111;
    color: #ccc;
  }

  form.language-menu * {
    background-color: #111;
    color: #ccc;
  }

  form.language-menu select {
    border-color: #333;
  }

  .header-search input[type="submit"] {
    background-color: #151515;
    color: #ccc;
  }

  .titlebar-container {
    border-color: #333;
  }

  a.nav-footer-logo,
  a.logo svg {
    filter: invert(1);
    opacity: 0.3;
  }

  .main-nav ul.main-menu ul.show {
    background-color: #111;
    border: 1px solid #333;
    box-shadow: none;
  }

  .main-nav ul.main-menu button {
    color: #aaa;
  }

  ul.main-menu .top-level-entry:before {
    filter: invert(1);
    opacity: 0.5;
  }

  .search-form input[type="submit"] {
    background-color: #e8e8e8;
    filter: invert(1);
  }

  .CodeMirror-scroll {
    background-color: #151515;
  }

  header h4:before {
    filter: invert(1);
  }

  .CodeMirror-gutters,
  .CodeMirror-linenumber.CodeMirror-gutter-elt {
    background-color: #111;
    color: #aaa;
    border-color: #333;
  }

  footer.page-footer {
    color: #aaa;
  }

  .page-footer .footer-license {
    border-color: #444;
  }

  .token.keyword,
  .cm-s-default .cm-keyword {
    color: #b0b;
  }

  .token.function {
    color: #09c;
  }

  .token.operator {
    color: #fff;
  }

  .token.string,
  .cm-s-default .cm-string {
    color: #3a3;
  }

  .token.number,
  .cm-s-default .cm-number {
    color: #c00;
  }

  .cm-s-default .cm-def {
    color: #ccc;
  }

  .token.selector {
    color: #f09;
  }

  .token.property,
  .cm-s-default .cm-property {
    color: #09f;
  }

  .token.operator {
    color: #099;
  }

  .token.class-name {
    color: #cb6;
  }

  .token.punctuation {
    color: #999;
  }

  .token.attr-name {
    color: #f99;
  }
}
