@-moz-document regexp("http(s)?://(www\.)?php.net.*")
{
  #layout-content {
    background: rgba(0, 0, 0, 0.4) !important;
    color: #ccc !important;
  }

  blockquote.note {
    background-color: #0c0c0c99 !important;
    border: 1px solid #424242 !important;
  }

  .docs .classsynopsis,
  .refsect1 .fieldsynopsis,
  .refsect1 .dc-description,
  .docs .sect1 .dc-description,
  .refsect1 .example-contents > [class$="code"],
  .refsect1 .example-contents.screen,
  #usernotes .note .text,
  .example-contents > [class$="code"],
  .example-contents.screen,
  .informalexample .literallayout {
    background: #141414 !important;
    border-color: #d9d9d9;
  }

  .phpcode span.html {
    color: #ccc !important;
  }

  .interfacename a,
  .fieldsynopsis .type,
  .methodsynopsis .type,
  .constructorsynopsis .type {
    color: #83e126 !important;
  }

  .methodname b,
  .methodname strong,
  .methodname a,
  .classsynopsis .classname,
  .parameter {
    color: #57a1ec !important;
  }

  a:hover,
  a:focus,
  #layout-content a:hover,
  #layout-content a:focus {
    color: #d858ab !important;
    border-color: #c958a1 !important;
  }

  #layout-content a:link,
  #layout-content a:visited {
    color: #7ca1c6 !important;
  }

  .title a,
  .title {
    color: #c54c9a !important;
  }

  .refsect1 blockquote.note {
    background: #182030 !important;
    color: #9daccc !important;
    border: 1px solid #246 !important;
  }

  div.phpcode span.keyword {
    color: #90e33d !important;
  }

  div.phpcode span.default {
    color: #4589ce !important;
  }

  div.phpcode span.string {
    color: #b63d3d !important;
  }

  .phpcode span.comment {
    color: #808080 !important;
  }

  .headsup {
    border-bottom: 1px solid #041 !important;
    background-color: #15271580 !important;
  }

  div.caution {
    background: #8f8f1933 !important;
    border: 1px solid #596b00;
  }

  #usernotes .note .votes .tally {
    color: #308a1e;
  }

  a:hover,
  a:focus,
  #layout-content a:hover,
  #layout-content a:focus {
    color: #c958a1 !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #b4b4b4 !important;
  }

  #flash-message .error,
  div.warning {
    background: #991b1b4d !important;
    border: 1px solid #750f0f !important;
  }

  .navbar {
    background: rgba(0, 0, 0, 0.4) !important;
  }

  .navbar .navbar-search .search-query {
    background: rgba(0, 0, 0, 0.37) none repeat scroll 0% 0% !important;
  }

  #layout-content:not(:only-child) {
    border-right: 0.25rem solid #0b070780 !important;
  }

  .tt-dropdown-menu {
    background: none repeat scroll 0 0 #0000004d !important;
    border-bottom: 1px solid #0000004d !important;
    box-shadow: 1px 0 1px -1px #0006 inset, -1px 0 1px -1px #c4c9df inset,
      0 0 1px #4f5b93 !important;
  }

  .tt-suggestion {
    background: rgba(0, 0, 0, 0.75) !important;
    border-bottom: 1px solid rgb(68, 68, 68) !important;
  }

  .tt-suggestions {
    color: #7babff !important;
  }

  .tt-dropdown-menu .result-heading {
    border-bottom: 2px solid #43485f !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
    background-color: rgb(18, 19, 27) !important;
  }

  .tt-dropdown-menu .search {
    background: rgb(18, 19, 27);
  }

  .doctable thead tr,
  .segmentedlist thead tr {
    border-color: #323a60 !important;
    border-bottom-color: rgb(50, 58, 96) !important;
    border-bottom-color: #03050c !important;
    color: #b5c2d8 !important;
  }

  .doctable th,
  .segmentedlist th {
    background-color: #1735b733 !important;
  }

  .doctable tbody tr:nth-child(2n + 1),
  .segmentedlist tbody tr:nth-child(2n + 1) {
    background-color: #2b38961a !important;
  }

  .doctable tbody tr:nth-child(2n),
  .segmentedlist tbody tr:nth-child(2n) {
    background-color: #3e51a24d !important;
  }

  .doctable tr,
  .segmentedlist tr {
    border-color: #03010199 !important;
  }

  .para var,
  .simpara var {
    background-color: #1208084d !important;
    color: #c3c3c3 !important;
  }

  table.standard tr:nth-child(2n) td,
  table.standard tr:nth-child(2n) td.subr,
  table.standard tr:nth-child(2n) th.subr,
  table.standard tr td.subr,
  table.standard tr th.subr,
  table.standard tr:nth-child(2n) td.sub,
  table.standard tr:nth-child(2n) th.sub,
  table.standard tr td.sub,
  table.standard tr th.sub {
    background-color: #0006 !important;
  }

  .classsynopsisinfo .modifier,
  .fieldsynopsis .modifier,
  .methodsynopsis .modifier,
  .constructorsynopsis .modifier {
    color: #e41f82 !important;
  }

  #mirrors-container .download-file {
    background-color: #03020280 !important;
  }

  #mirrors-container .mirrors-list .mirror {
    border: 1px solid #141010 !important;
  }

  #mirrors-container .mirrors-list .mirror:hover {
    background-color: #10961033 !important;
    border: 1px solid #004e09 !important;
  }
}
