@-moz-document regexp("http(s)?://(www\.)?programiz.*")
{
  figcaption,
  th,
  td,
  li,
  p,
  main {
    color: #fff !important;
    background-color: #002b36 !important;
  }

  h1,
  h2,
  h3,
  #methods,
  p,
  [class*="editor-contents"] {
    color: #fff !important;
  }
}
