@-moz-document domain("speedtest.net") {
  div[class*="-ad-"],
  div[class*="ads-"],
  div[class*="eot-box"],
  div[data-ad-placeholder],
  .lower-content {
    display: none !important;
    background: red;
  }

  div.pure-u-custom-speedtest {
    min-height: 600px;
  }

  div.speedtest-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  body {
    background: #1b1f23;
  }

  header.header,
  footer.site {
    background: #0e0e0e;
  }

  header.header .sub-menu {
    background: #171717;
    border: 1px solid #ffffff0d;
    box-shadow: 0 30px 5px #00000052;
  }

  .main-content {
    background: transparent;
  }

  .result-container-speed-active {
    background-color: #14171a;
  }

  footer {
    margin-top: 8em;
  }

  .start-button a .start-border {
    background-image: linear-gradient(#1a1f23, #0e0e0e),
      linear-gradient(to bottom, #1ebff6, #0062d2);
  }

  .gauge .icon-gauge-upload {
    color: #71ebff;
  }
}
