@-moz-document regexp("http(s)?://(www\.)?tutorialspoint.*")
{
  body {
    background: #444 !important;
  }

  .content {
    background: #555 !important;
  }

  p {
    color: #fff !important;
  }

  h2 {
    color: #000 !important;
    text-shadow: none !important;
  }

  table {
    background: #999 !important;
  }

  pre {
    background: #999 !important;
  }

  .str {
    color: lightyellow;
  }
}
