@-moz-document domain("stackoverflow.com"),domain("superuser.com"), domain("serverfault.com"), domain("askubuntu.com"), domain("stackexchange.com") {
  /* Conwy - Stack Exchange
   Version:  1.0.0
   Author:   lineav
   Licence:  https://creativecommons.org/licenses/by-sa/4.0/
*/

  /* Invert the whole website */
  html {
    filter: invert(0.8) hue-rotate(180deg) contrast(1.2) !important;
    background: #ffffff !important;
  }

  img {
    filter: invert(1) hue-rotate(180deg) brightness(1.1) contrast(1.05) !important;
  }

  /* invert logo */
  img.h-auto.wmx100 {
    filter: invert(0) !important;
  }

  /* make scrollbars dark */
  ::-webkit-scrollbar {
    background: #2f2f2f;
    width: 0.8em;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #555555;
    outline: 1px solid #111111;
  }
}
