@-moz-document regexp("http(s)?://(www\.)?tutorialspoint.*");
 {
  /* Site Settings */

  * {
    letter-spacing: 1px !important;
    text-decoration: none !important;
    transition: none !important;
  }

  .dev-box h5,
  .whtboard,
  div.featured-box h4,
  h1.thick-heading,
  nav ul.nav-main li a {
    text-transform: capitalize !important;
  }

  .android img,
  .chat-msg a.sendmsg,
  .col-md-3,
  .content img,
  .footer-nav .iphone img,
  .gsc-input-box,
  .gsc-search-button-v2,
  .gsc-search-button-v2:focus,
  .gsc-search-button-v2:hover,
  .l-btn-plain:hover,
  .m-btn-plain-active,
  .menu-active,
  .microsoft img,
  .more-btn,
  .pages a,
  .pages a.number,
  .pages span,
  .panel-body,
  .panel-header,
  .right-blog,
  .search-widget,
  .top-jobs,
  .tp-content-widget .tp-content-viewmore a:hover,
  .tut_profile .tut_rght h4 span,
  .views,
  .whtboard,
  :focus,
  div.featured-box,
  ul.cat-menu ul li,
  ul.chapters li a img,
  ul.menu li a,
  ul.menu li a:hover,
  ul.sprite li {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    text-shadow: none !important;
  }

  /* Fonts
_____________________________________________________________________________________________________*/

  .fa-angle-down,
  .fa-search,
  [style="font-size:20px;"],
  pre.prettyprint {
    font-size: 2rem !important;
  }

  .spanQ,
  .tutorial-content h2,
  section.toggle > label {
    font-size: 1.85rem !important;
  }

  .Q,
  .qa_widget .qa_list h2,
  .qa_widget .qa_post h1,
  .qa_widget .qa_post_no_link h1,
  .table > tbody > tr > td,
  .tut_profile .tut_rght h2,
  .whtboard,
  div.featured-box h4,
  li.heading,
  li.sreading {
    font-size: 21px !important;
  }

  .ace-cobalt,
  .ace_editor,
  .mui-col-md-6 label,
  .qa_answer_widget .qa_answer_detail a,
  .tut_profile .tut_rght .tut-title,
  .tutorial-content p,
  div.content p,
  li,
  p,
  ul.toc > li a {
    font-size: 1.5rem !important;
  }

  .mui-appbar-home a svg {
    font-size: 18px !important;
  }

  .qa_answer_widget {
    font-size: 17px !important;
  }

  .qa_category span {
    font-size: 15px !important;
    line-height: 27px !important;
  }

  .ace-cobalt {
    line-height: 25px !important;
  }

  .table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
  }

  .tutorial-content ul.list li {
    line-height: 42px !important;
  }

  /* Remove Items
_____________________________________________________________________________________________________*/

  #google-top-ads,
  ._ap_apex_ad,
  .adsbygoogle,
  .bottomgooglead,
  .course-box:after,
  .enlarge img,
  .google-right-ads,
  .header-navbar .navbar-header .navbar-brand .brand-logo,
  .ms-2,
  .rightgooglead,
  .top-ad-heading,
  .topgooglead,
  div.simple-ad,
  ul.social-icons {
    left: -9999px !important;
    position: absolute !important;
    top: -9999px !important;
  }

  /* Left/Right/Top/Bottom
_____________________________________________________________________________________________________*/

  .sidenav {
    margin-right: 11% !important;
  }

  .mui-col-md-6,
  .tutorial-toc {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 22px;
  }

  .float-right {
    margin-right: 15%;
  }

  #codebox .layout-split-west,
  .layout-panel-east,
  .layout-panel-center {
    top: 65px !important;
  }

  #codebox .layout-panel-center,
  #codebox .tabs-header {
    top: 65px !important;
  }

  .panel-body {
    top: 4rem !important;
  }

  .layout-split-west {
    top: 11px !important;
  }

  .row {
    margin-top: 2rem;
  }

  .mui-container .mui-col-md-3 {
    margin-top: -91px !important;
  }

  .navbar-light .navbar-brand {
    margin-top: 0 !important;
  }

  /* Margins
_____________________________________________________________________________________________________*/

  #sidebar-left,
  .col-md-3,
  .col-md-7,
  .compete-exams,
  .content-wrapper,
  .mui-container .mui-col-md-3,
  .question_section,
  .row.featured-boxes,
  .sidebar-right,
  .slick-initialized .slick-slide,
  .tp-slider,
  .tp-vd-courses {
    margin: 1.2rem !important;
  }

  x.mui-container-fluid {
    margin: 9rem 12px 12px !important;
  }

  /* Paddings
_____________________________________________________________________________________________________*/

  #sidebar-left,
  .card,
  .col-md-3,
  .col-md-7,
  .compete-exams,
  .content-wrapper,
  .left-menu .mui-dropdown__menu,
  .mui-container .mui-col-md-3,
  .row.featured-boxes,
  .sidebar-right,
  .slick-initialized .slick-slide,
  .tp-slider,
  blockquote,
  pre.prettyprint,
  pre.result {
    padding: 1.2rem !important;
  }

  .tutorial-content ul.list {
    padding: 1rem !important;
  }

  selector {
    padding: 13px 26px !important;
  }

  /* Heights
_____________________________________________________________________________________________________*/

  .left-menu .mui-dropdown__menu {
    max-height: none !important;
  }

  .course-card-thumbnail img {
    height: auto !important;
  }

  /* Widths
_____________________________________________________________________________________________________*/

  #privacy-banner a,
  .container,
  .content,
  .content-wrapper,
  .large,
  .left-menu .mui-dropdown__menu,
  .mui-container {
    max-width: none !important;
  }

  .container,
  .content {
    width: 98% !important;
  }

  .col-md-7 {
    width: 74.333333%;
  }

  .col-xl-6,
  .mui-col-md-6 {
    width: 73% !important;
  }

  .content-wrapper {
    width: 69.076% !important;
  }

  .mui-col-md-5 {
    width: 31.66667% !important;
  }

  .mui-container .mui-col-md-3 {
    width: 23% !important;
  }

  .col-md-3 {
    width: 15% !important;
  }

  .col-md-12.col-sm-12.col-xs-12 .col-md-3 {
    width: 23% !important;
  }

  .slick-initialized .slick-slide {
    width: 7% !important;
  }

  .left-menu .mui-dropdown__menu {
    width: 47rem !important;
  }
}

@-moz-document domain("tutorialspoint.com") {
  /* Font Settings */

  a[href] {
    color: #0ff !important;
    text-shadow: 1px 1px #000 !important;
  }

  a[href]:visited {
    color: #fc79fc !important;
    text-shadow: 1px 1px #000 !important;
  }

  /* Yellow
_____________________________________________________________________________________________________*/

  .MathJax_MenuActive,
  .menu-active,
  .mui-col-md-6 h1,
  .pages a.current,
  .pages a.number:hover,
  a[href]:hover span,
  a[href]:hover,
  input[type="checkbox"]:checked + label,
  input[type="radio"]:checked + label,
  h5,
  tr:hover .ts,
  ul.menu li a:hover {
    color: #ff0 !important;
  }

  /* White
_____________________________________________________________________________________________________*/

  #privacy-banner p,
  .MathJax_Menu,
  .ace_text.ace_xml,
  .add-to-cart-form,
  .nav-link,
  .navbar-light .navbar-nav .nav-link,
  .m-btn .l-btn-left .l-btn-text,
  .magnifying-glass,
  .menu-text,
  .mui-col-md-6 li,
  .mui-col-md-6 p,
  .qa_answer_widget,
  .qa_category span,
  .tutorial-content ul.list li,
  .text-secondary,
  .ts,
  .tut_profile .tut_rght h4 span,
  .vid-options,
  [style*="color:#545454;"],
  blockquote,
  div.content p,
  pre.result,
  table,
  ul.menu li a,
  p,
  p:first-child {
    color: #fff !important;
  }

  /* Khaki
_____________________________________________________________________________________________________*/

  .card-title,
  .h5,
  .image-title,
  .imgs-title,
  .main-title,
  .mui-col-md-6 h1,
  .mui-col-md-6 h2,
  .mui-col-md-6 li.big-font,
  .mui-col-md-6 th,
  .mui-tabs__bar.mui-tabs__bar--justified > li > a,
  .panel-title,
  .top-trainer-desc p strong,
  .tp-content-widget .tp-content-icons a div,
  .tut_profile .tut_rght h2,
  .whtboard,
  div.featured-box h4,
  footer h4,
  h1,
  h2 {
    color: #f0e890 !important;
  }

  /* Burlywood
_____________________________________________________________________________________________________*/

  .chat-msg a.sendmsg,
  .crs-left-tagline,
  .h6,
  .mui-col-md-6 h3,
  .mui-col-md-6 h4,
  .mui-col-md-6 p b,
  .tut_profile .tut_rght .tut-title,
  .views,
  b,
  h3,
  h4,
  h6 {
    color: #e0b880 !important;
  }

  /* Sandy Brown
_____________________________________________________________________________________________________*/

  .mui-col-md-6 h5,
  .mui-col-md-6 h6,
  .mui-col-md-6 label {
    color: #f0a060 !important;
  }

  /* Blue
_____________________________________________________________________________________________________*/

  .qa_answer_dtm,
  .qa_published_dtm,
  time {
    color: #07beff !important;
  }

  /* Green
_____________________________________________________________________________________________________*/

  .card .mui-col-sm-6,
  .mui-col-md-5,
  .price {
    color: #07ff24 !important;
  }

  /* Red
_____________________________________________________________________________________________________*/

  selector {
    color: #ff0707 !important;
  }

  /*
_____________________________________________________________________________________________________*/

  .d-xl-inline-block,
  .categories:hover,
  .categories:focus,
  .categories,
  input,
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  select,
  textarea {
    background-color: #5d1b1b !important;
    color: #fff !important;
  }

  /*
_____________________________________________________________________________________________________*/

  ::selection {
    background: #ff9 !important;
    color: #000 !important;
  }

  pre ::selection {
    background: #ff9 !important;
    color: #fff !important;
  }

  ::placeholder {
    color: #f48f8f !important;
    opacity: 1;
  }

  /*___ Code _________________________________________________________________________*/

  #code .ace_line .ace_constant.ace_numeric {
    color: #fbff00;
  }

  #code .ace_line .ace_constant {
    color: #ff8383;
  }

  #code .ace_line .ace_keyword,
  .kwd {
    color: #a4f7ff;
  }

  #code .ace_line .ace_paren.ace_lparen,
  .clo,
  .opn,
  .pun {
    color: #ffff91;
  }

  #code .ace_line .ace_string,
  .pln,
  .str {
    color: #f8f7f3;
  }

  #code .ace_line,
  .Q,
  .ace_gutter-cell,
  .spanQ,
  .ace_punctuation.ace_operator {
    color: #fff;
  }

  .Q .correct {
    color: #3eaa1c !important;
  }

  .Q .wrong {
    color: red !important;
  }

  .Q span,
  i {
    color: #ffdf6f !important;
  }

  .ace-cobalt .ace_comment,
  .com {
    color: #a9a5a5;
  }

  .ace_comment {
    color: #9e9e9d !important;
  }

  .ace_identifier {
    color: #efff74;
  }

  .ace_layer .ace-crimson-editor .ace_support.ace_class,
  .ace_layer .ace-crimson-editor .ace_support.ace_type {
    color: #8e9aff;
  }

  .ace_storage.ace_type {
    color: #ffcd74;
  }

  .atn {
    color: #ff83ff;
  }

  .atv {
    color: #5f5;
  }

  .dec,
  .var {
    color: #f0f;
  }

  .lit {
    color: #03ffff;
  }

  .tag {
    color: #8f8fff;
  }

  .typ {
    color: #ff30ff;
  }

  pre.prettyprint,
  pre.result {
    font-size: 1.95em;
  }
}

@-moz-document domain("tutorialspoint.com") {
  /* Background Settings */

  body,
  html {
    background: #000 !important;
  }

  .nimbus-is-editor {
    background: url(https://image.ibb.co/hVmiOe/wallpaper_with_black_background_45_free_wallpaper.jpg) !important;
    background-attachment: fixed !important;
  }

  #devices {
    background: #8c8989;
  }

  /* Background
_____________________________________________________________________________________________________*/

  .bg-light {
    background: #060505 !important;
    background-color: #060505 !important;
  }

  .ace-crimson-editor .ace_gutter,
  .home-intro-sub,
  .panel-header,
  .tabs-header,
  .tabs-tool,
  .vid-options,
  header {
    background: #0a0909 !important;
    background-color: #0a0909 !important;
  }

  .panel-body {
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
  }

  /* Background Transparent
_____________________________________________________________________________________________________*/

  .py-4.bg-white,
  .MathJax_MenuActive,
  .ace-cobalt .ace_gutter,
  .ace_scroller,
  .card-footer,
  .cat-menu,
  .chat-msg a.sendmsg,
  .col-md-3 .course-box,
  .content-body,
  .content-bottom,
  .content-header,
  .course_header,
  .dev-box h5,
  .gsc-input-box,
  .gsc-search-button-v2,
  .gsc-search-button-v2:focus,
  .gsc-search-button-v2:hover,
  .job-desc h4,
  .l-btn-plain-active,
  .l-btn-plain:hover,
  .m-btn-plain-active,
  .menu,
  .menu-active,
  .menu-shadow,
  .mini-logo,
  .more-btn,
  .mui-dropdown__menu,
  .nav > li:hover,
  .navbar-semi-dark .navbar-header,
  .nxt-btn a:active,
  .nxt-btn a:hover,
  .nxt-btn:hover,
  .pages a,
  .pages a.number,
  .pages a.number:hover,
  .pages span,
  .panel-body,
  .panel-title,
  .pre-btn a:hover,
  .pre-btn:hover,
  .qa_category span,
  .qa_widget,
  .right-menu a:hover,
  .search-widget,
  .slick-next,
  .slick-prev,
  .srch-login-links a,
  .sub-main-menu .sub-menuu div:hover,
  .sub-main-menu .viewall,
  .top-jobs,
  .tp-card,
  .tp-content-widget .tp-content-viewmore a,
  .tp-home .tp-browse-more svg,
  .tp-primary-header:hover,
  .tp-widget,
  .tut_profile .tut_rght h4 span,
  .tutorial-content,
  .views,
  [style="background: #fffb09; font-weight: bold;"],
  button.btn-responsive-nav,
  div.feature-box div.feature-box-icon,
  div.featured-box,
  div.footer-copyright,
  header div.search button.btn-default,
  header nav ul.nav-main li a:hover,
  li.heading,
  main,
  th,
  ul.cat-menu ul li:hover,
  ul.maths li a,
  ul.menu li a:hover,
  ul.nav-top > li > a:hover,
  ul.toc > li a.videolink,
  ul.top-menu li:hover {
    background: #0000 !important;
    background-color: #0000 !important;
  }

  /* Buttons
_____________________________________________________________________________________________________*/

  /* Blue
_____________________________________________________________________________________________________*/

  #banner-accept,
  .btn,
  .btn-default,
  .btn.btn-primary.mb-0,
  .button.accent-color,
  .library-sprite a.btn-white-soft,
  .tp-btn,
  .tp-home .tp-browse-more a {
    background: radial-gradient(circle, #1b8bc8a8 0%, #000 100%) !important;
    border-radius: 22px !important;
    border: none !important;
    box-shadow: 1px 1px 1px black, inset 2px 3px 5px #0000004d,
      inset -2px -3px 5px #ffffff50 !important;
    color: #fff !important;
    opacity: 1 !important;
    padding: 0 1.85rem !important;
    position: relative !important;
    z-index: 1 !important;
  }

  #banner-accept::before,
  .btn::before,
  .btn-default::before,
  .btn.btn-primary.mb-0::before,
  .button.accent-color::before,
  .library-sprite a.btn-white-soft::before,
  .tp-btn::before,
  .tp-home .tp-browse-more a::before {
    background: radial-gradient(circle, #000 0%, #1b8bc8 100%) !important;
    border-radius: 22px !important;
    bottom: 0;
    box-shadow: 1px 1px 1px black, inset 2px 3px 5px #0000004d,
      inset -2px -3px 5px #ffffff80 !important;
    color: #ff0 !important;
    content: "";
    left: 0;
    opacity: 0 !important;
    position: absolute !important;
    right: 0;
    top: 0;
    transition: opacity 0.5s linear !important;
    z-index: -1 !important;
  }

  #banner-accept:hover::before,
  .btn:hover::before,
  .btn-default:hover::before,
  .btn.btn-primary.mb-0:hover::before,
  .button.accent-color:hover::before,
  .library-sprite a.btn-white-soft:hover::before,
  .tp-btn:hover::before,
  .tp-home .tp-browse-more a:hover::before {
    opacity: 1 !important;
  }

  /* Orange
_____________________________________________________________________________________________________*/

  #banner-learn,
  .tp-coding-ground a.tp-coding-btn {
    background: radial-gradient(circle, #ca3805a8 0%, #000 100%) !important;
    border-radius: 22px !important;
    border: none !important;
    box-shadow: 1px 1px 1px black, inset 2px 3px 5px #0000004d,
      inset -2px -3px 5px #ffffff50 !important;
    color: #fff !important;
    opacity: 1 !important;
    padding: 0.5rem 1.85rem !important;
    position: relative !important;
    z-index: 1 !important;
  }

  #banner-learn::before,
  .tp-coding-ground a.tp-coding-btn::before {
    background: radial-gradient(circle, #000 0%, #ca3805 100%) !important;
    border-radius: 22px !important;
    bottom: 0;
    box-shadow: 1px 1px 1px black, inset 2px 3px 5px #0000004d,
      inset -2px -3px 5px #ffffff80 !important;
    color: #ff0 !important;
    content: "";
    left: 0;
    opacity: 0 !important;
    position: absolute !important;
    right: 0;
    top: 0;
    transition: opacity 0.5s linear !important;
    z-index: -1 !important;
  }

  #banner-learn:hover::before,
  .tp-coding-ground a.tp-coding-btn:hover::before {
    opacity: 1 !important;
  }

  /* Green
_____________________________________________________________________________________________________*/

  .btn-sm.btn-grey-border.item-show-hover,
  .btn-success {
    background: radial-gradient(circle, #09b705a8 0%, #000 100%) !important;
    border-radius: 22px !important;
    border: none !important;
    box-shadow: 1px 1px 1px black, inset 2px 3px 5px #0000004d,
      inset -2px -3px 5px #ffffff50 !important;
    color: #fff !important;
    opacity: 1 !important;
    padding: 0.5rem 1.85rem !important;
    position: relative !important;
    z-index: 1 !important;
  }

  .btn-sm.btn-grey-border.item-show-hover::before,
  .btn-success::before {
    background: radial-gradient(circle, #000 0%, #09b705 100%) !important;
    border-radius: 22px !important;
    bottom: 0;
    box-shadow: 1px 1px 1px black, inset 2px 3px 5px #0000004d,
      inset -2px -3px 5px #ffffff80 !important;
    color: #ff0 !important;
    content: "";
    left: 0;
    opacity: 0 !important;
    position: absolute !important;
    right: 0;
    top: 0;
    transition: opacity 0.5s linear !important;
    z-index: -1 !important;
  }

  .btn-sm.btn-grey-border.item-show-hover:hover::before,
  .btn-success:hover::before {
    opacity: 1 !important;
  }

  /* Plain Black
_____________________________________________________________________________________________________*/

  #sidebar-left,
  .col-md-2,
  .col-md-3,
  .col-md-7,
  .compete-exams,
  .content-wrapper,
  .mui-col-md-6,
  .mui-container-fluid,
  .row.featured-boxes,
  .selected-reading-boxes .col-md-3 .course-box,
  .sidebar-right,
  .tp-slider,
  .tp-vd-courses,
  .tutorial-toc {
    background-color: #000 !important;
    border-radius: 22px !important;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
    box-shadow: inset 0 0 5px #0006, #373737 0 1px 0, 10px 10px 5px #0006,
      #9b9b9b 0 1px 0 !important;
    padding: 0.5rem !important;
  }

  /* Plain
_____________________________________________________________________________________________________*/

  .MathJax_Menu,
  .cat-menu,
  .left-menu .mui-dropdown__menu,
  .card,
  .dev-box,
  .menu,
  .mui-container .mui-col-md-3,
  .question_section,
  .slick-initialized .slick-slide,
  .tp-content-widget,
  .tut_profile {
    background-color: #111 !important;
    border-radius: 22px !important;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
    box-shadow: inset 0 0 5px #0006, #373737 0 1px 0, 10px 10px 5px #0006,
      #9b9b9b 0 1px 0 !important;
    padding: 0.5rem !important;
  }

  #sidebar-left:hover,
  .MathJax_Menu:hover,
  .card:hover,
  .cat-menu:hover,
  .col-md-2:hover,
  .col-md-3:hover,
  .col-md-7:hover,
  .compete-exams:hover,
  .content-wrapper:hover,
  .dev-box:hover,
  .left-menu .mui-dropdown__menu:hover,
  .menu:hover,
  .mui-col-md-6:hover,
  .mui-container .mui-col-md-3:hover,
  .mui-container-fluid:hover,
  .question_section:hover,
  .row.featured-boxes:hover,
  .selected-reading-boxes .col-md-3 .course-box:hover,
  .sidebar-right:hover,
  .slick-initialized .slick-slide:hover,
  .tp-content-widget:hover,
  .tp-slider:hover,
  .tp-vd-courses:hover,
  .tut_profile:hover,
  .tutorial-toc:hover {
    box-shadow: inset 0 0 5px #0006, #9b9b9b 0 1px 0, 10px 10px 5px #0a0a0a66,
      #9b9b9b 0 1px 0 !important;
  }

  /* Red Gradient
_____________________________________________________________________________________________________*/

  #privacy-banner,
  .activebar,
  ul.nav-list li:hover,
  ul.submenu li:hover {
    background: linear-gradient(to bottom, #300202 0%, #590505 100%) !important;
  }

  /* Blue Gradient
_____________________________________________________________________________________________________*/

  section.toggle > label,
  blockquote {
    background: linear-gradient(to bottom, #03193c, #000 100%) !important;
  }

  /*__ Light Blue Gradient _________________________________________________________________*/

  a.demo,
  li.heading {
    background: linear-gradient(to bottom, #1ea2c9, #000 100%) !important;
    border-bottom: 1px solid #000 !important;
  }

  /* Green Gradient
_____________________________________________________________________________________________________*/

  .right-menu .mui-btn,
  .tabs li.tabs-selected a.tabs-inner,
  div.featured-box h4 {
    background: linear-gradient(to bottom, #15534d 0%, #000 100%) !important;
  }

  /* Yellow Gradient
_____________________________________________________________________________________________________*/

  li.sreading {
    background: linear-gradient(to bottom, #9d9d5d 0%, #000 100%) !important;
  }

  /* Orange Gradient
_____________________________________________________________________________________________________*/

  .tutorial-content .MathJax .math {
    background: linear-gradient(to bottom, #da3a04 0%, #000 100%) !important;
  }

  /*__ Pink Gradient _______________________________________________________________*/

  .course_header_title,
  .crs-left-title,
  .qa_pop_enroll {
    background: linear-gradient(to bottom, #a44170 0%, #000 100%) !important;
    border-bottom: 1px solid #000 !important;
    border-radius: 22px !important;
    text-shadow: 1px 1px #555 !important;
  }

  /* Gradient Border
_____________________________________________________________________________________________________*/

  selector {
    border-bottom: 1px solid #000 !important;
    border-radius: 22px !important;
  }

  /* Code
_____________________________________________________________________________________________________*/

  .prettyprint,
  .result {
    background: url(https://image.ibb.co/e8fWZk/red_carbon_pattern_by_mystica_264_d4ceu9m.png)
      #111 !important;
    background-size: 100% !important;
  }

  /*___ Highlight Background _________________________________________________________*/

  [style="background-color: rgb(214, 214, 214);"],
  tr:not(:first-child):hover,
  ul.toc > li:not(.heading):not(.sreading):hover {
    border-left-color: #232222 !important;
    background: linear-gradient(to right, #38383842, #0000) !important;
  }

  .ace-crimson-editor .ace_gutter-active-line {
    border-left-color: #232222 !important;
    background: linear-gradient(to left, #a5af07, #000) !important;
  }

  .ace_gutter-cell.ace_info {
    border-left-color: #232222 !important;
    background: linear-gradient(to left, #6f0202, #000) !important;
  }

  .ace-crimson-editor .ace_marker-layer .ace_active-line {
    border-left-color: #232222 !important;
    background: linear-gradient(to right, #383838, #0000) !important;
  }

  /* Highlight Background
_____________________________________________________________________________________________________*/

  .current-chapter,
  [style="background-color: rgb(214, 214, 214);"],
  tr:not(:first-child):hover,
  ul.toc > li:not(.heading):not(.sreading):hover {
    background: linear-gradient(to right, #300, #0000) !important;
    border-left-color: #434343 !important;
  }

  /* Radial Background
_____________________________________________________________________________________________________*/

  .back-top {
    background: radial-gradient(
      ellipse at center,
      #07ed07 0%,
      #0000 70%
    ) !important;
    padding: 13px 26px !important;
  }
}

@-moz-document domain("tutorialspoint.com") {
  /* Image Settings */

  .card,
  .card-body ul,
  .card-body ul li,
  .chat-msg a.sendmsg,
  .col-md-3,
  .col-xxl-2,
  .compete-exams,
  .dev-box,
  .menu-active,
  .menu-item,
  .mui-container .mui-col-md-3,
  .nxt-btn,
  .pre-btn,
  .question_section,
  .selected-reading-boxes .col-md-3 .course-box,
  .slick-initialized .slick-slide,
  .tp-content-widget .tp-content-icons,
  .tut_profile,
  .tutorial-content p,
  .tutorial-content ul.list li,
  section.toggle,
  ul.menu li a,
  ul.sprite li {
    filter: brightness(75%) !important;
  }

  /*__________________________________________________________________________________*/

  .card-body ul li:hover,
  .card:hover,
  .chat-msg a.sendmsg:hover,
  .col-md-3:hover,
  .col-xxl-2:hover,
  .compete-exams:hover,
  .current-chapter,
  .dev-box:hover,
  .menu-active:hover,
  .menu-item:hover,
  .mui-container .mui-col-md-3:hover,
  .nxt-btn:hover,
  .pre-btn:hover,
  .question_section:hover,
  .selected-reading-boxes .col-md-3 .course-box:hover,
  .slick-initialized .slick-slide:hover,
  .tp-content-widget .tp-content-icons:hover,
  .tut_profile:hover,
  .tutorial-content p:hover,
  .tutorial-content ul.list li:hover,
  section.toggle:hover,
  ul.menu li a:hover,
  ul.sprite li:hover {
    filter: brightness(100%) !important;
  }

  /*__________________________________________________________________________________*/

  .d-xl-inline-block,
  img ppp {
    border-radius: 22px !important;
  }

  /*__________________________________________________________________________________*/

  img {
    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.1)));
  }

  /*__________________________________________________________________________________*/

  .dev-box:hover,
  .tp-content-widget .tp-content-icons a img:hover {
    opacity: 1 !important;
  }
}

@-moz-document domain("tutorialspoint.com") {
  /* New Icons */

  input[type="checkbox"],
  input[type="radio"] {
    appearance: none !important;
  }

  .fal:not(.fa-search):not(.fa-angle-down) {
    font-size: 4.31rem !important;
  }

  .fa,
  .fab,
  .icon {
    width: 1.3em !important;
  }

  .fal {
    margin-right: 21px !important;
  }

  /* Arrows _______________________________________________________________________*/

  /* Up _________________*/

  .fa-angle-down:before,
  .fa-angle-up:before,
  .fa-chevron-circle-left:before,
  .fa-chevron-circle-right:before {
    content: "";
  }

  .fa-angle-up:before {
    background: url(https://i.ibb.co/bvZmSFj/red-up.png) no-repeat !important;
    box-sizing: border-box;
  }

  /* Down _________________*/

  .fa-angle-down:before {
    background: url(https://i.ibb.co/z7MRv74/direction-arrow-down.png) no-repeat !important;
    box-sizing: border-box;
  }

  /* Left _________________*/

  .fa-chevron-circle-left:before {
    background: url(https://i.ibb.co/mRKFvH8/direction-arrow-left.png) no-repeat !important;
    box-sizing: border-box;
  }

  /* Right _________________*/

  .fa-chevron-circle-right:before {
    background: url(https://i.ibb.co/LQDKzQT/direction-arrow-right.png)
      no-repeat !important;
    box-sizing: border-box;
  }

  .fa-angle-down:before,
  .fa-angle-up:before,
  .fa-chevron-circle-left:before,
  .fa-chevron-circle-right:before {
    background-size: 35px !important;
    padding-left: 36px !important;
    width: 1px !important;
  }

  /* Books ___________________________________________________________________________*/

  .fa-books:before {
    content: "";
  }

  .fa-books:before {
    background: url(https://i.ibb.co/B3QxS79/books.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-books:before {
    background-size: 60px !important;
    padding-left: 66px !important;
    width: 1px !important;
  }

  /* Business _____________________________________________________________________________*/

  .fa-analytics:before {
    content: "";
  }

  .fa-analytics:before {
    background: url(https://i.ibb.co/fGF5QhG/analytics.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-analytics:before {
    background-size: 70px !important;
    padding-left: 68px !important;
    width: 1px !important;
  }

  /* Checkmark _______________________________________________________________________________*/

  .fa-check:before {
    content: "";
  }

  /* Big Check ___________________________*/

  /* Checked ___________________________*/

  .fa-check:before {
    background: url(https://i.ibb.co/ZMNmHwc/Mcrw-IRxnnrq.png) no-repeat !important;
    box-sizing: border-box;
  }

  /* Unchecked ________________________*/

  selector {
    background: url(https://i.ibb.co/thJkp9V/big-check-off.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-check:before {
    background-size: 35px !important;
    height: 36px !important;
    padding-left: 36px !important;
    width: 1px !important;
  }

  .py-3 .fa-check:before {
    background-size: 73px !important;
    padding-left: 74px !important;
    width: 1px !important;
  }

  /* Checked ___________________________*/

  selector {
    background: url(https://i.ibb.co/HgsTqFS/checkbox-checked.png) no-repeat !important;
    box-sizing: border-box;
  }

  /* Unchecked ________________________*/

  selector {
    background: url(https://i.ibb.co/fM9ptv1/checkbox-empty.png) no-repeat !important;
    box-sizing: border-box;
  }

  selector {
    background-size: 25px !important;
    height: 26px !important;
    padding-left: 26px !important;
    width: 1px !important;
  }

  /* Code _____________________________________________________________________________*/

  .fa-code:before {
    content: "";
  }

  .fa-code:before {
    background: url(https://i.ibb.co/0nSV5VD/source-code.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-code:before {
    background-size: 65px !important;
    padding-left: 66px !important;
    width: 1px !important;
  }

  /* Contact ___________________________________________________________________________*/

  .fa-map-marker-alt:before {
    content: "";
  }

  .fa-map-marker-alt:before {
    background: url(https://i.ibb.co/z7pP6kF/location.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-map-marker-alt:before {
    background-size: 61px !important;
    padding-left: 62px !important;
    width: 1px !important;
  }

  /* Courses ___________________________________________________________________________*/

  .fa-play-circle:before {
    content: "";
  }

  .fa-play-circle:before {
    background: url(https://i.ibb.co/7VB6KK3/red-play.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-play-circle:before {
    background-size: 45px !important;
    padding-left: 46px !important;
    width: 1px !important;
  }

  /* Ebooks ___________________________________________________________________________*/

  .fa-book-reader:before {
    content: "";
  }

  .fa-book-reader:before {
    background: url(https://i.ibb.co/hLMcfGd/ebook.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-book-reader:before {
    background-size: 45px !important;
    padding-left: 46px !important;
    width: 1px !important;
  }

  /* Globe _____________________________________________________________________________*/

  .fa-globe:before {
    content: "";
  }

  .fa-globe:before {
    background: url(https://i.ibb.co/NjnZr3y/globe3.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-globe:before {
    background-size: 75px !important;
    padding-left: 76px !important;
    width: 1px !important;
  }

  /* Home _____________________________________________________________________________*/

  .fa-home-alt:before {
    content: "";
  }

  .fa-home-alt:before {
    background: url(https://i.ibb.co/c63D58g/Home4.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-home-alt:before {
    background-size: 65px !important;
    padding-left: 66px !important;
    width: 1px !important;
  }

  /* Jobs _____________________________________________________________________________*/

  .fa-suitcase:before {
    content: "";
  }

  .fa-suitcase:before {
    background: url(https://i.ibb.co/Fzt57rx/Breifcase.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-suitcase:before {
    background-size: 60px !important;
    padding-left: 66px !important;
    width: 1px !important;
  }

  /* Log-In ___________________________________________________________________________*/

  .fa-sign-in-alt:before {
    content: "";
  }

  .fa-sign-in-alt:before {
    background: url(https://i.ibb.co/fpGB5C8/login.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-sign-in-alt:before {
    background-size: 61px !important;
    padding-left: 62px !important;
    width: 1px !important;
  }

  /* Privacy Policy ___________________________________________________________________________*/

  .fa-shield-check:before {
    content: "";
  }

  .fa-shield-check:before {
    background: url(https://i.ibb.co/9WxKKkK/security.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-shield-check:before {
    background-size: 61px !important;
    padding-left: 62px !important;
    width: 1px !important;
  }

  /* Teach with Us ___________________________________________________________________________*/

  .fa-users-class:before {
    content: "";
  }

  .fa-users-class:before {
    background: url(https://i.ibb.co/ZKdyLwP/roommates2.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-users-class:before {
    background-size: 101px !important;
    padding-left: 102px !important;
    width: 1px !important;
  }

  /* Prime Packs ___________________________________________________________________________*/

  .fa-cubes:before {
    content: "";
  }

  .fa-cubes:before {
    background: url(https://i.ibb.co/kMgp4Y9/code-blocks.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-cubes:before {
    background-size: 45px !important;
    padding-left: 46px !important;
    width: 1px !important;
  }

  /* Print _______________________________________________________________________________*/

  .fa-print:before {
    content: "";
  }

  .fa-print:before {
    background: url(https://i.ibb.co/gST2svf/print.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-print:before {
    background-size: 85px !important;
    padding-left: 86px !important;
    width: 1px !important;
  }

  /* Q/A _________________________________________________________________________________*/

  .fa-comments-alt:before {
    content: "";
  }

  .fa-comments-alt:before {
    background: url(https://i.ibb.co/BV659LN/1984.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-comments-alt:before {
    background-size: 65px !important;
    padding-left: 66px !important;
    width: 1px !important;
  }

  /* Search ___________________________________________________________________________*/

  .fa-search:before {
    content: "";
  }

  .fa-search:before {
    background: url(https://i.ibb.co/cJFxJM6/search3.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-search:before {
    background-size: 35px !important;
    padding-left: 36px !important;
    width: 1px !important;
  }

  /* Shopping Cart ___________________________________________________________________*/

  .fa-shopping-cart:before {
    content: "";
  }

  .fa-shopping-cart:before {
    background: url(https://i.ibb.co/42GPC9s/shoppingcart.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-shopping-cart:before {
    background-size: 35px !important;
    height: 36px !important;
    padding-left: 36px !important;
    width: 1px !important;
  }

  /* Tools _____________________________________________________________________________*/

  .fa-tools:before {
    content: "";
  }

  .fa-tools:before {
    background: url(https://i.ibb.co/tCd6CDB/tools.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-tools:before {
    background-size: 60px !important;
    padding-left: 66px !important;
    width: 1px !important;
  }

  /* Whiteboard _____________________________________________________________________________*/

  .fa-chalkboard:before {
    content: "";
  }

  .fa-chalkboard:before {
    background: url(https://i.ibb.co/FgvDCV6/whiteboard-297484-640.png)
      no-repeat !important;
    box-sizing: border-box;
  }

  .fa-chalkboard:before {
    background-size: 60px !important;
    padding-left: 66px !important;
    width: 1px !important;
  }
}

@-moz-document domain("tutorialspoint.com") {
  /* Logos */

  #north {
    overflow: hidden;
    width: 1920px;
    height: 79px;
  }

  .layout-panel-east,
  .layout-panel-center {
    top: 79px !important;
  }

  .mui-appbar-home a svg {
    font-size: 23px !important;
  }

  /* Learn jQuery _____________________________*/

  [src="/jquery/images/jquery.jpg"]:not(#myimg) {
    background: url(https://i.ibb.co/p3S6cWR/jquery-2.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/about/images/about.jpg"]:not(#myimg) {
    background: url(https://i.ibb.co/MfzQpjJ/about.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/about/images/about.jpg"]:not(#myimg) {
    background-size: 74rem !important;
    height: 26rem !important;
    padding-left: 84rem !important;
  }

  [src="/jquery/images/jquery.jpg"]:not(#myimg) {
    background-size: 62rem !important;
    height: 26rem !important;
    padding-left: 71rem !important;
    width: 18rem !important;
  }

  /* Coding Ground _____________________________*/

  [alt="Coding Ground"] {
    background: url(https://i.ibb.co/KsqqKDf/logo.png) no-repeat !important;
    box-sizing: border-box;
  }

  [alt="Coding Ground"] {
    background-size: 12rem !important;
    height: 26rem !important;
    padding-left: 14rem !important;
    width: 14rem !important;
  }

  /* tp Logo _______________________________________________________________*/

  [alt="Tutorials Point"],
  [src="/jquery/images/logo.png"] {
    background: url(https://i.ibb.co/KsqqKDf/logo.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/about/images/logo.png"] {
    background: url(https://i.ibb.co/Bf5Ksvk/mainlogo.png) no-repeat !important;
    box-sizing: border-box;
  }

  [alt="Tutorials Point"],
  [src="/about/images/logo.png"],
  [src="/jquery/images/logo.png"] {
    background-size: 13rem !important;
    height: 4rem !important;
    padding-left: 18rem !important;
  }

  /* TutorialsPoint _____________________________*/

  .brand-text img,
  [alt="tutorialspoint"] {
    background: url(https://i.ibb.co/Bf5Ksvk/mainlogo.png) no-repeat !important;
    box-sizing: border-box;
  }

  .brand-text img,
  [alt="tutorialspoint"] {
    background-size: 14rem !important;
    height: 5rem !important;
    padding-left: 18rem !important;
    width: 14rem !important;
  }

  /* Tutor Connect _____________________________*/

  [src="https://www.tutorialspoint.com/tutor_connect/images/tutor-connect-icon.png"]
  {
    background: url(https://i.ibb.co/KbSCsjV/tutor-connect-icon.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="https://www.tutorialspoint.com/tutor_connect/images/tutor-connect-icon.png"]
  {
    background-size: 18rem !important;
    height: 5rem !important;
    padding-left: 18rem !important;
    width: 14rem !important;
  }

  /* Angular Logo ____________________________________________*/

  ul.sprite li a {
    background: url(https://i.ibb.co/jvKgVGq/cdgrnd-sprite.png) !important;
    box-sizing: border-box;
    width: 137px;
  }

  /* A _____________________________________________*/

  ul.sprite li.angular a {
    background-position: -300px -10px !important;
  }

  ul.sprite li.ascii a {
    background-position: -732px -10px !important;
  }

  ul.sprite li.algol a {
    background-position: -158px -10px !important;
  }

  ul.sprite li.assembly a {
    background-position: -441px -10px !important;
  }

  ul.sprite li.awk a {
    background-position: -862px -10px !important;
  }

  /* B _____________________________________________*/

  ul.sprite li.bash a {
    background-position: -598px -10px !important;
  }

  ul.sprite li.befunge a {
    background-position: -1290px -10px !important;
  }

  ul.sprite li.brain a {
    background-position: -6px -108px !important;
  }

  ul.sprite li.basic a {
    background-position: -1009px -10px !important;
  }

  ul.sprite li.bootstrap a {
    background-position: -1456px -10px !important;
  }

  /* C _____________________________________________*/

  ul.sprite li.css a {
    background-position: -286px -105px !important;
  }

  ul.sprite li.coffscript a {
    background-position: -731px -115px !important;
  }

  ul.sprite li.clang a {
    background-position: -152px -106px !important;
  }

  ul.sprite li.clojure a {
    background-position: -436px -106px !important;
  }

  ul.sprite li.cobol a {
    background-position: -595px -98px !important;
  }

  ul.sprite li.coldfusion a {
    background-position: -583px -1039px !important;
  }

  ul.sprite li.c99strict a {
    background-position: -869px -109px !important;
  }

  ul.sprite li.cplus a {
    background-position: -1013px -104px !important;
  }

  ul.sprite li.cplusox a {
    background-position: -1154px -109px !important;
  }

  ul.sprite li.cplus11 a {
    background-position: -1309px -109px !important;
  }

  ul.sprite li.chash a {
    background-position: -1451px -109px !important;
  }

  /* D _____________________________________________*/

  ul.sprite li.d3js a {
    background-position: -1003px -1126px !important;
  }

  ul.sprite li.dlang a {
    background-position: -280px -203px !important;
  }

  ul.sprite li.dlang a {
    background-position: -273px -203px !important;
  }

  /* E _____________________________________________*/

  ul.sprite li.erlang a {
    background-position: -871px -203px !important;
  }

  ul.sprite li.elixir a {
    background-position: -276px -1118px !important;
  }

  ul.sprite li.embedc a {
    background-position: -730px -203px !important;
  }

  /* F _____________________________________________*/

  ul.sprite li.factor a {
    background-position: -1164px -206px !important;
  }

  ul.sprite li.fantom a {
    background-position: -1311px -203px !important;
  }

  ul.sprite li.falcon a {
    background-position: -1462px -203px !important;
  }

  ul.sprite li.fortran95 a {
    background-position: 3px -303px !important;
  }

  ul.sprite li.forth a {
    background-position: -140px -303px !important;
  }

  ul.sprite li.fhash a {
    background-position: -275px -297px !important;
  }

  ul.sprite li.freebasic a {
    background-position: -432px -298px !important;
  }

  /* G _____________________________________________*/

  ul.sprite li.go a {
    background-position: -727px -299px !important;
  }

  ul.sprite li.groovy a {
    background-position: -583px -303px !important;
  }

  ul.sprite li.gnat a {
    background-position: -881px -1120px !important;
  }

  /* H _____________________________________________*/

  ul.sprite li.haxe a {
    background-position: -870px -303px !important;
  }

  ul.sprite li.haskell a {
    background-position: -1023px -303px !important;
  }

  ul.sprite li.html a {
    background-position: -1167px -303px !important;
  }

  /* I _____________________________________________*/

  ul.sprite li.ilasm a {
    background-position: -1319px -303px !important;
  }

  ul.sprite li.icon a {
    background-position: 1px -403px !important;
  }

  ul.sprite li.intercal a {
    background-position: -1465px -303px !important;
  }

  /* J _____________________________________________*/

  ul.sprite li.java a {
    background-position: -138px -403px !important;
  }

  ul.sprite li.java8 a {
    background-position: -1041px -886px !important;
  }

  ul.sprite li.java-mysql a {
    background-position: -415px -964px !important;
  }

  ul.sprite li.jsp a {
    background-position: -738px -1039px !important;
  }

  ul.sprite li.julia a {
    background-position: -1026px -403px !important;
  }

  ul.sprite li.jython a {
    background-position: -742px -1120px !important;
  }

  ul.sprite li.javascript a {
    background-position: -274px -399px !important;
  }

  ul.sprite li.jquery a {
    background-position: -873px -403px !important;
  }

  ul.sprite li.jquerymobile a {
    background-position: -1121px -1123px !important;
  }

  ul.sprite li.jqueryui a {
    background-position: -1244px -1124px !important;
  }

  /* K _____________________________________________*/

  ul.sprite li.kotlin a {
    background-position: -588px -1118px !important;
  }

  ul.sprite li.kshshell a {
    background-position: -1175px -403px !important;
  }

  /* L _____________________________________________*/

  ul.sprite li.lisp a {
    background-position: -133px -493px !important;
  }

  ul.sprite li.lolcode a {
    background-position: -269px -493px !important;
  }

  ul.sprite li.lua a {
    background-position: -411px -493px !important;
  }

  ul.sprite li.latex a {
    background-position: 6px -1118px !important;
  }

  /* M _____________________________________________*/

  ul.sprite li.matlab-octave a {
    background-position: -588px -496px !important;
  }

  ul.sprite li.malgolbe a {
    background-position: -733px -500px !important;
  }

  ul.sprite li.mozart-oz a {
    background-position: -1178px -502px !important;
  }

  ul.sprite li.markdown a {
    background-position: -873px -502px !important;
  }

  ul.sprite li.mathML a {
    background-position: -1030px -502px !important;
  }

  /* N _____________________________________________*/

  ul.sprite li.nimrod a {
    background-position: -1476px -498px !important;
  }

  ul.sprite li.node a {
    background-position: 1px -598px !important;
  }

  /* O _____________________________________________*/

  ul.sprite li.objectivec a {
    background-position: -144px -598px !important;
  }

  ul.sprite li.oraclexe a {
    background-position: 5px -1033px !important;
  }

  ul.sprite li.ocaml a {
    background-position: -269px -593px !important;
  }

  /* P _____________________________________________*/

  ul.sprite li.pascal a {
    background-position: -412px -589px !important;
  }

  ul.sprite li.pari-gp a {
    background-position: -586px -593px !important;
  }

  ul.sprite li.pawn a {
    background-position: -733px -593px !important;
  }

  ul.sprite li.perl a {
    background-position: -879px -593px !important;
  }

  ul.sprite li.perl-mysql a {
    background-position: 4px -964px !important;
  }

  ul.sprite li.php a {
    background-position: -1034px -593px !important;
  }

  ul.sprite li.php-mysql a {
    background-position: -274px -964px !important;
  }

  ul.sprite li.phpweb a {
    background-position: -1182px -887px !important;
  }

  ul.sprite li.pike a {
    background-position: -1467px -592px !important;
  }

  ul.sprite li.prolog a {
    background-position: -1337px -593px !important;
  }

  ul.sprite li.python a {
    background-position: -141px -688px !important;
  }

  ul.sprite li.python-3 a {
    background-position: -274px -688px !important;
  }

  ul.sprite li.python-mysql a {
    background-position: -143px -964px !important;
  }

  ul.sprite li.processingjs a {
    background-position: -1470px -965px !important;
  }

  ul.sprite li.p5js a {
    background-position: -1330px -1040px !important;
  }

  /* R _____________________________________________*/

  ul.sprite li.rexx a {
    background-position: -877px -688px !important;
  }

  ul.sprite li.ruby a {
    background-position: -1191px -693px !important;
  }

  ul.sprite li.ruby-mysql a {
    background-position: -1492px -1118px !important;
  }

  ul.sprite li.rust a {
    background-position: -1341px -688px !important;
  }

  ul.sprite li.restruc a {
    background-position: -1039px -695px !important;
  }

  ul.sprite li.r-programming a {
    background-position: -1466px -699px !important;
  }

  /* S _____________________________________________*/

  ul.sprite li.scala a {
    background-position: 5px -791px !important;
  }

  ul.sprite li.sml-nj a {
    background-position: -586px -786px !important;
  }

  ul.sprite li.simula a {
    background-position: -413px -789px !important;
  }

  ul.sprite li.sqllite a {
    background-position: -890px -795px !important;
  }

  ul.sprite li.smalltalk a {
    background-position: -276px -791px !important;
  }

  ul.sprite li.scheme a {
    background-position: -141px -788px !important;
  }

  ul.sprite li.swift a {
    background-position: -426px -1120px !important;
  }

  /* T _____________________________________________*/

  ul.sprite li.tcl a {
    background-position: -1186px -789px !important;
  }

  ul.sprite li.typescript a {
    background-position: -1372px -1124px !important;
  }

  ul.sprite li.tex a {
    background-position: -1469px -1041px !important;
  }

  /* U _____________________________________________*/

  ul.sprite li.unlambda a {
    background-position: 11px -891px !important;
  }

  /* V _____________________________________________*/

  ul.sprite li.vb-net a {
    background-position: -414px -891px !important;
  }

  ul.sprite li.verilog a {
    background-position: -582px -884px !important;
  }

  /* W _____________________________________________*/

  ul.sprite li.whitespace a {
    background-position: -743px -882px !important;
  }

  /* Y _____________________________________________*/

  ul.sprite li.yasm a {
    background-position: -148px -1118px !important;
  }

  /* Mini Logo ____________________________________________*/

  .mui-col-md-3 [src="/jquery/images/jquery-mini-logo.jpg"] {
    background: url(https://i.ibb.co/BqjW545/jquery-mini-logo.png) no-repeat !important;
    box-sizing: border-box;
  }

  .mui-col-md-3 [src="/about/images/about-mini-logo.jpg"] {
    background: url(https://i.ibb.co/HhTTC3x/about-mini-logo.png) no-repeat !important;
    box-sizing: border-box;
  }

  .mui-col-md-3 [src="/about/images/about-mini-logo.jpg"],
  .mui-col-md-3 [src="/jquery/images/jquery-mini-logo.jpg"] {
    background-size: 25rem !important;
    height: 20rem !important;
    padding-left: 27rem !important;
  }
}

@-moz-document domain("tutorialspoint.com") {
  /* Page Headers */

  pre {
    white-space: pre-line;
  }

  /* AJAX Large _____________________________*/

  [src="/ajax/images/ajax.jpg"] {
    background: url(https://i.ibb.co/qr9M0S9/ajax-large.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/ajax/images/ajax.jpg"] {
    background-size: 74rem !important;
    height: 25rem !important;
    padding-left: 78rem !important;
    width: 14rem !important;
  }

  /* AJAX Mini _____________________________*/

  [src="/ajax/images/ajax-mini-logo.jpg"] {
    background: url(https://i.ibb.co/zhLtqgf/ajax-mini-logo.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/ajax/images/ajax-mini-logo.jpg"] {
    background-size: 18rem !important;
    height: 15rem !important;
    padding-left: 18rem !important;
    width: 14rem !important;
  }

  /* Learn jQuery _____________________________*/

  [src="/jquery/images/jquery.jpg"]:not(#myimg) {
    background: url(https://i.ibb.co/p3S6cWR/jquery-2.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/about/images/about.jpg"]:not(#myimg) {
    background: url(https://i.ibb.co/MfzQpjJ/about.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/about/images/about.jpg"]:not(#myimg) {
    background-size: 74rem !important;
    height: 26rem !important;
    padding-left: 84rem !important;
  }

  [src="/jquery/images/jquery.jpg"]:not(#myimg) {
    background-size: 62rem !important;
    height: 26rem !important;
    padding-left: 71rem !important;
    width: 18rem !important;
  }

  /* Coding Ground _____________________________*/

  [alt="Coding Ground"] {
    background: url(https://i.ibb.co/KsqqKDf/logo.png) no-repeat !important;
    box-sizing: border-box;
  }

  [alt="Coding Ground"] {
    background-size: 12rem !important;
    height: 26rem !important;
    padding-left: 14rem !important;
    width: 14rem !important;
  }

  /* tp Logo _______________________________________________________________*/

  [alt="Tutorials Point"],
  [src="/jquery/images/logo.png"] {
    background: url(https://i.ibb.co/KsqqKDf/logo.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/about/images/logo.png"] {
    background: url(https://i.ibb.co/Bf5Ksvk/mainlogo.png) no-repeat !important;
    box-sizing: border-box;
  }

  [alt="Tutorials Point"],
  [src="/about/images/logo.png"],
  [src="/jquery/images/logo.png"] {
    background-size: 13rem !important;
    height: 4rem !important;
    padding-left: 18rem !important;
  }

  /* TutorialsPoint _____________________________*/

  .brand-text img,
  [alt="tutorialspoint"] {
    background: url(https://i.ibb.co/Bf5Ksvk/mainlogo.png) no-repeat !important;
    box-sizing: border-box;
  }

  .brand-text img,
  [alt="tutorialspoint"] {
    background-size: 14rem !important;
    height: 5rem !important;
    padding-left: 18rem !important;
    width: 14rem !important;
  }

  /* CSS Large Logo _____________________________*/

  [src="/css/images/css.jpg"] {
    background: url(https://i.ibb.co/8Ph4r4Z/css.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/css/images/css.jpg"] {
    background-size: 74rem !important;
    height: 25rem !important;
    padding-left: 78rem !important;
    width: 14rem !important;
  }

  /* CSS Mini Logo _____________________________*/

  [src="/css/images/css-mini-logo.jpg"] {
    background: url(https://i.ibb.co/vHpc2H7/css-mini-logo.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/css/images/css-mini-logo.jpg"] {
    background-size: 18rem !important;
    height: 15rem !important;
    padding-left: 18rem !important;
    width: 14rem !important;
  }

  .mui-container .mui-col-md-3 {
    margin-top: -7px !important;
  }

  /* CSS Buttons Large _____________________________*/

  [src="/css_buttons/images/cssbuttons.jpg"] {
    background: url(https://i.ibb.co/F5tcPqk/cssbuttons.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/css_buttons/images/cssbuttons.jpg"] {
    background-size: 74rem !important;
    height: 25rem !important;
    padding-left: 78rem !important;
    width: 14rem !important;
  }

  /* CSS Buttons Mini _____________________________*/

  [src="/css_buttons/images/cssbuttons-mini-logo.jpg"] {
    background: url(https://i.ibb.co/XXCcf8m/cssbuttons-mini-logo.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/css_buttons/images/cssbuttons-mini-logo.jpg"] {
    background-size: 18rem !important;
    height: 15rem !important;
    padding-left: 18rem !important;
    width: 14rem !important;
  }

  .mui-container .mui-col-md-3 {
    margin-top: -7px !important;
  }

  /* JavaScript Large Logo _____________________________*/

  [src="/javascript/images/javascript.jpg"] {
    background: url(https://i.ibb.co/VwYKWhf/javascript-large.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/javascript/images/javascript.jpg"] {
    background-size: 74rem !important;
    height: 25rem !important;
    padding-left: 78rem !important;
    width: 14rem !important;
  }

  /* JavaScript Mini Logo _____________________________*/

  [src="/javascript/images/javascript-mini-logo.jpg"] {
    background: url(https://i.ibb.co/XFHTSdG/javascript-mini-logo.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/javascript/images/javascript-mini-logo.jpg"] {
    background-size: 18rem !important;
    height: 15rem !important;
    padding-left: 18rem !important;
    width: 14rem !important;
  }

  .mui-container .mui-col-md-3 {
    margin-top: -7px !important;
  }

  /* JavaScript Video _____________________________*/

  [src="/javascript/images/javascript-video-tutorials.jpg"] {
    background: url(https://i.ibb.co/FHqzH2b/javascript-video-tutorials.png)
      no-repeat !important;
    box-sizing: border-box;
  }

  [src="/javascript/images/javascript-video-tutorials.jpg"] {
    background-size: 18rem !important;
    height: 6rem !important;
    padding-left: 24rem !important;
    width: 14rem !important;
  }

  /* Perl Large _____________________________*/

  [src="/perl/images/perl.jpg"] {
    background: url(https://i.ibb.co/HzjY1Vw/perl-large.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/perl/images/perl.jpg"] {
    background-size: 74rem !important;
    height: 25rem !important;
    padding-left: 78rem !important;
    width: 14rem !important;
  }

  /* Perl Mini _____________________________*/

  [src="/perl/images/perl-mini-logo.jpg"] {
    background: url(https://i.ibb.co/gFKxWtY/perl-mini-logo.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/perl/images/perl-mini-logo.jpg"] {
    background-size: 18rem !important;
    height: 15rem !important;
    padding-left: 18rem !important;
    width: 14rem !important;
  }

  /* Php Large _____________________________*/

  [src="/php/images/php.jpg"] {
    background: url(https://i.ibb.co/QNrmm6m/php-large.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/php/images/php.jpg"] {
    background-size: 74rem !important;
    height: 25rem !important;
    padding-left: 78rem !important;
    width: 14rem !important;
  }

  /* Php Mini _____________________________*/

  [src="/php/images/php-mini-logo.jpg"] {
    background: url(https://i.ibb.co/k0RgRG4/php-mini-logo.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/php/images/php-mini-logo.jpg"] {
    background-size: 18rem !important;
    height: 15rem !important;
    padding-left: 18rem !important;
    width: 14rem !important;
  }

  /* Php Video _____________________________*/

  [src="/php/images/php-video-tutorials.jpg"] {
    background: url(https://i.ibb.co/Xt2vVQt/php-video-tutorials.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/php/images/php-video-tutorials.jpg"] {
    background-size: 18rem !important;
    height: 6rem !important;
    padding-left: 24rem !important;
    width: 14rem !important;
  }

  /* Python Large _____________________________*/

  [src="/python/images/python.jpg"] {
    background: url(https://i.ibb.co/5415wQP/python-Large.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/python/images/python.jpg"] {
    background-size: 74rem !important;
    height: 25rem !important;
    padding-left: 78rem !important;
    width: 14rem !important;
  }

  /* Python Mini _____________________________*/

  [src="/python/images/python-mini.jpg"] {
    background: url(https://i.ibb.co/Qc7Z1Lj/python-mini.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/python/images/python-mini.jpg"] {
    background-size: 18rem !important;
    height: 15rem !important;
    padding-left: 18rem !important;
    width: 14rem !important;
  }

  /* SVG Large _____________________________*/

  [src="/svg/images/svg.jpg"] {
    background: url(https://i.ibb.co/xz86WP7/svg-large.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/svg/images/svg.jpg"] {
    background-size: 74rem !important;
    height: 25rem !important;
    padding-left: 78rem !important;
    width: 14rem !important;
  }

  /* SVG Mini _____________________________*/

  [src="/svg/images/svg-mini-logo.jpg"] {
    background: url(https://i.ibb.co/V3DT8Tv/svg-mini-logo.png) no-repeat !important;
    box-sizing: border-box;
  }

  [src="/svg/images/svg-mini-logo.jpg"] {
    background-size: 18rem !important;
    height: 15rem !important;
    padding-left: 18rem !important;
    width: 14rem !important;
  }
}

@-moz-document domain("tutorialspoint.com") {
  /* Social Media */

  /* Facebook _____________*/

  .fa-facebook:before {
    content: "";
  }

  .fa-facebook:before {
    background: url(https://i.ibb.co/bvgwKNN/facebook-48x48.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-facebook:before {
    background-size: 25px !important;
    padding-left: 26px !important;
    width: 1px !important;
  }

  /* Instagram _____________*/

  .fa-instagram:before {
    content: "";
  }

  .fa-instagram:before {
    background: url(https://i.ibb.co/YQ5F02g/Instagram.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-instagram:before {
    background-size: 25px !important;
    padding-left: 26px !important;
    width: 1px !important;
  }

  /* Linkedin _____________*/

  .fa-linkedin-in:before {
    content: "";
  }

  .fa-linkedin-in:before {
    background: url(https://i.ibb.co/sVqbgYC/linkedin-48x48.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-linkedin-in:before {
    background-size: 25px !important;
    padding-left: 26px !important;
    width: 1px !important;
  }

  /* Twitter _____________*/

  .fa-twitter:before {
    content: "";
  }

  .fa-twitter:before {
    background: url(https://i.ibb.co/SQGCm92/twitter-48x39.png) no-repeat !important;
    box-sizing: border-box;
  }

  .fa-twitter:before {
    background-size: 25px !important;
    padding-left: 26px !important;
    width: 1px !important;
  }

  /* YouTube _____________*/

  .fa-youtube:before {
    content: "";
  }

  .fa-youtube:before {
    background: url(https://i.ibb.co/8cHpnPV/You-Tube-logo-play-icon-30x23.png)
      no-repeat !important;
    box-sizing: border-box;
  }

  .fa-youtube:before {
    background-size: 25px !important;
    padding-left: 26px !important;
    width: 1px !important;
  }
}

@-moz-document domain("tutorialspoint.com") {
  /* Scrollbar Settings */

  /* Width
_____________________________________________________________________________________________________*/

  ::-webkit-scrollbar {
    width: 1.2em !important;
  }

  /* Color of handle
__________________________________________________________________________________________________________________________________*/

  ::-webkit-scrollbar-thumb {
    background: #580303 !important;
    background-image: linear-gradient(
        to right,
        rgba(93, 6, 6, 0.95),
        rgba(255, 4, 4, 0.1)
      ),
      url(https://image.ibb.co/hCq4n5/Carbon_Fiber_2.jpg) !important;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4), rgba(55, 55, 55, 1) 0 1px 0 !important;
    border-radius: 22px !important;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #580303 !important;
    background-image: linear-gradient(
        to left,
        rgba(93, 6, 6, 0.95),
        rgba(255, 4, 4, 0.1)
      ),
      url(https://image.ibb.co/hCq4n5/Carbon_Fiber_2.jpg) !important;
    border-radius: 22px !important;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4), rgba(155, 155, 155, 1) 0 1px 0 !important;
  }

  /* Color of Track
_____________________________________________________________________________________________________*/

  ::-webkit-scrollbar-track {
    background: #170000 !important;
    box-shadow: inset 8px 0 13px rgba(0, 0, 0, 0.4), rgba(55, 55, 55, 1) 0 1px 0 !important;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
  }

  /* Color of handles at top and bottom
_____________________________________________________________________________________________________*/

  ::-webkit-scrollbar-button {
    background: #4c0707 !important;
    box-shadow: inset 0 12px 13px rgba(0, 0, 0, 0.6),
      rgba(55, 55, 55, 1) 0 1px 0 !important;
  }

  ::-webkit-scrollbar-button:hover {
    border-radius: 22px !important;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4), rgba(155, 155, 155, 1) 0 1px 0 !important;
  }

  /* Color of the bottom corner of the scrollable element, where two scrollbar meet.
_____________________________________________________________________________________________________*/

  ::-webkit-scrollbar-corner {
    background: #530205 !important;
    box-shadow: inset 0 12px 13px rgba(0, 0, 0, 0.6),
      rgba(55, 55, 55, 1) 0 1px 0 !important;
  }

  ::-webkit-scrollbar-corner:hover {
    border-radius: 22px !important;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4), rgba(155, 155, 155, 1) 0 1px 0 !important;
  }
}

@-moz-document domain("tutorialspoint.com") {
  /* :has */
}
