@-moz-document domain("userstyles.org") {
  /***
 *    ████████╗██╗   ██╗███╗   ███╗██████╗  █████╗     ██████╗██╗  ██╗
 *    ╚══██╔══╝██║   ██║████╗ ████║██╔══██╗██╔══██╗   ██╔════╝██║  ██║
 *       ██║   ██║   ██║██╔████╔██║██████╔╝███████║   ██║     ███████║
 *       ██║   ██║   ██║██║╚██╔╝██║██╔══██╗██╔══██║   ██║     ██╔══██║
 *       ██║   ╚██████╔╝██║ ╚═╝ ██║██████╔╝██║  ██║██╗╚██████╗██║  ██║
 *       ╚═╝    ╚═════╝ ╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝╚═╝ ╚═════╝╚═╝  ╚═╝
 *
 *             Visit https://tumba.ch/ for a LOT more expirience
 */
  /*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
  /* 
						UserStyles.org without fucking ads!
			This CSS work best jointly with uBlock Origin extention
*/

  /**********************************************************************/

  /* hide ad & junk elements START */
  .android_button_banner,
  #footer,
  #top_android_button,
  .overlay_flex_div,
  .overlay_container,
  .overlay_background,
  .walking,
  div.us-stylecard--short:nth-of-type(3) > .fallbackDiv,
  div.us-stylecard--short:nth-of-type(12) > .fallbackDiv,
  div.us-stylecard--short:nth-of-type(12),
  div.us-stylecard--short:nth-of-type(3),
  div.us-stylecard--short:nth-of-type(5) > .fallbackDiv,
  div.us-stylecard--short:nth-of-type(5),
  .android_button_button,
  #ad_unit,
  .adContainer,
  img[src="/ui/images/pieLoader.gif"],
  #view-responsive > div > div:nth-child(1) {
    display: none !important;
  }
  /* hide ad & junk elements END */
  /**********************************************************************/
  /* DARK THEME START */
  html,
  body,
  body * {
    background-color: #181a1b !important;
    border-color: #337d59 !important;
    color: #e8e6e3 !important;
  }

  .header-search .type_search .type_search_button {
    border-left: 3px solid transparent !important;
    border-right: 3px solid transparent !important;
    border-top: 3px solid #337d59 !important;
  }

  table,
  tr,
  th,
  td,
  td input {
    border-color: #0000 !important;
  }

  td input {
    background-color: #0e0f0f !important;
  }

  .navigation .links-box .navigation-link {
    box-shadow: #222425 0px -1px 0px 0px, #222425 0px 0px 0px 0px !important;
  }

  .navigation .links-box {
    box-shadow: 0 -1px 0 0 #4f4f4f, 0 1px 0 0 #424242 !important;
  }

  .header-search .search_input .input_text_search,
  .search_image {
    background-color: #111213 !important;
    border: none;
  }

  .us-username.ellipsis {
    color: #7b7b7b !important;
  }

  .us-username.ellipsis a {
    color: #7b7b7b !important;
  }

  h4 a {
    color: #d4d4d5 !important;
  }

  h4.us-title a:visited {
    color: #f4f0e7 !important;
  }

  h4.us-title a:hover {
    color: #b8b8c1 !important;
  }

  .us-stylecard--short .us-username a {
    color: #ccc !important;
    text-decoration-color: initial !important;
  }

  .init_loader:before {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' width='64px' height='64px' viewBox='0 0 128 128' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M.6 57.54c5.73-6.23 17.33-15.5 33.66-12.35C55.4 48.5 64 63.95 64 63.95S42.42 65 30.28 83.63a38.63 38.63 0 0 0-3.4 32.15 64.47 64.47 0 0 1-5.52-4.44A63.64 63.64 0 0 1 .6 57.54z' fill='%23ffcb02'/%3E%3Cpath d='M65.32 29.05c7.65 19.98-1.44 35.18-1.44 35.18S52.2 46.05 30.03 44.85A38.6 38.6 0 0 0 .56 57.93 63.8 63.8 0 0 1 37.56 6c8.2 1.8 22.26 7.16 27.76 23.05z' fill='%23ff9e02'/%3E%3Cpath d='M94.92 47.7c-13.48 16.63-31.2 16.36-31.2 16.36s9.92-19.2-.13-39a38.6 38.6 0 0 0-26.18-19 63.78 63.78 0 0 1 63.52 6.03c2.56 8 4.98 22.85-6.05 35.6z' fill='%23ff4b42'/%3E%3Cpath d='M93.52 82.53C72.38 79.17 63.75 63.7 63.75 63.7s21.6-1.02 33.7-19.63a38.6 38.6 0 0 0 3.43-32.04 64.33 64.33 0 0 1 5.74 4.6 63.63 63.63 0 0 1 20.82 53.26c-5.62 6.2-17.34 15.8-33.94 12.6z' fill='%23c063d6'/%3E%3Cpath d='M62.5 99c-7.65-19.98 1.44-35.17 1.44-35.17S75.56 81.6 97.74 82.8a39.1 39.1 0 0 0 29.73-13.03 63.8 63.8 0 0 1-37.16 52.3c-8.2-1.8-22.25-7.15-27.8-23.06z' fill='%2317a4f6'/%3E%3Cpath d='M26.64 115.63C24 107.6 21.6 93.06 32.5 80.5c13.48-16.62 31.58-16.55 31.58-16.55s-9.6 19.06.44 38.86a38.82 38.82 0 0 0 26.05 19.17 63.78 63.78 0 0 1-63.93-6.3z' fill='%234fca24'/%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 64 64' to='360 64 64' dur='900ms' repeatCount='indefinite'%3E%3C/animateTransform%3E%3C/g%3E%3C/svg%3E");
  }

  img[src="/ui/images/no_screenshot.png"] {
    filter: invert(100%) !important;
  }

  .us-stylecard--short .us-stencil {
    background-color: #3c3b3b !important;
    box-shadow: 0 1px 0 0 #1a1818 !important;
  }

  .us-stylecard--short {
    box-shadow: 0 5px 10px 0 #000 !important;
  }

  /* green icons main menu START */

  img[src="/ui/images/icons/home-icon.svg"] {
    display: none !important;
  }

  #root
    > div.navigation
    > div:nth-child(1)
    > a:nth-child(1)
    > div
    > span:before {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.001 16h3a.5.5 0 0 0 .5-.5v-7h2a.502.502 0 0 0 .353-.853l-7.5-7.5a.501.501 0 0 0-.708 0l-7.5 7.5a.5.5 0 0 0 .355.852h2v7c0 .278.222.5.5.5h3a.5.5 0 0 0 .5-.5V12h3v3.5c0 .278.223.5.5.5zm-4.5-4.5V15h-2V8c0-.276-.225-.5-.5-.5H1.706L8 1.205 14.294 7.5h-1.292a.5.5 0 0 0-.5.5v7h-2v-3.5c0-.275-.226-.5-.5-.5h-4a.5.5 0 0 0-.5.5z' fill='%233d9165' fill-rule='evenodd'/%3E%3C/svg%3E");
    margin: 0 10px 0 0;
  }

  img[src="/ui/images/icons/editors-choice-icon.svg"] {
    display: none !important;
  }

  #root
    > div.navigation
    > div:nth-child(1)
    > a:nth-child(2)
    > div
    > span:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%233d9165' fill-rule='evenodd' d='M12.002 15.27h-5.17a1.878 1.878 0 0 1-1.544-.81l-3.62-5.228a1.47 1.47 0 0 1-.262-.84c0-.563.313-1.069.817-1.321a1.114 1.114 0 0 1 1.216.144L5.205 8.7a.252.252 0 0 0 .282.04.248.248 0 0 0 .138-.223V1.91c0-.905.736-1.64 1.64-1.64.905 0 1.641.735 1.641 1.64v3.876c0 .112.08.209.19.231l3.29.658c.7.14 1.208.759 1.208 1.472l-.01.236-.414 5.798a1.175 1.175 0 0 1-1.168 1.088zm-9.28-7.38l-.08.02a.538.538 0 0 0-.203.79l3.62 5.227a.936.936 0 0 0 .772.405h5.17a.235.235 0 0 0 .234-.218l.415-5.8.006-.167c0-.268-.19-.5-.453-.553l-3.291-.658a1.176 1.176 0 0 1-.943-1.15V1.91a.704.704 0 0 0-1.407 0v6.607a1.187 1.187 0 0 1-1.966.896l-1.76-1.48a.179.179 0 0 0-.114-.042z'/%3E%3C/svg%3E");
    margin: 0 10px 0 0;
  }

  img[src="/ui/images/icons/popular.svg"] {
    display: none !important;
  }

  #root
    > div.navigation
    > div:nth-child(1)
    > a:nth-child(3)
    > div
    > span:before {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.668 13.399a3.7 3.7 0 0 0 3.304 1.464 5.333 5.333 0 0 0 4.02-8.027l-.837-1.41-.091 1.638a2.778 2.778 0 0 1-.936 1.929A7.011 7.011 0 0 0 6.94 1.54l-.696-.297V2c0 1.112-.508 1.957-1.994 3.69l-.072.083c-1.623 1.89-2.203 2.814-2.297 4.194a5.281 5.281 0 0 0 2.44 4.82l1.169.742-.425-1.317a3.786 3.786 0 0 1-.04-2.194c.114.492.33.964.643 1.381zm6.976-4.75l.025.128-.025-.128zm.025.128a4.333 4.333 0 0 1-3.797 5.091 2.7 2.7 0 0 1-2.755-3.683l.878-2.217L5.3 9.646a4.79 4.79 0 0 0-1.42 3.448 4.281 4.281 0 0 1-1.003-3.059c.074-1.083.58-1.888 2.06-3.61l.07-.084c1.335-1.556 1.976-2.498 2.17-3.568a6.01 6.01 0 0 1 2.727 7.073l-.313.964.955-.337a3.777 3.777 0 0 0 2.097-1.824l.025.128z' fill-rule='nonzero' fill='%233d9165'/%3E%3C/svg%3E");
    margin: 0 10px 0 0;
  }

  img[src="/ui/images/icons/newest.svg"] {
    display: none !important;
  }

  #root
    > div.navigation
    > div:nth-child(1)
    > a:nth-child(4)
    > div
    > span:before {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 12.04l-2.517 3.237.151-4.098-4.008.861L4.376 9 .752 7.081l4.06-.562L3.27 2.722l3.472 2.18L8 1l1.259 3.902 3.472-2.18-1.544 3.798 4.061.562L11.624 9l2.75 3.041-4.008-.86.151 4.097z' stroke='%233d9165' fill='none' fill-rule='evenodd' stroke-linejoin='round'/%3E%3C/svg%3E");
    margin: 0 10px 0 0;
  }

  img[src="/ui/images/icons/updated.svg"] {
    display: none !important;
  }

  #root
    > div.navigation
    > div:nth-child(1)
    > a:nth-child(5)
    > div
    > span:before {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='updated' fill='%23339966'%3E%3Cpath d='M7.82683483,14.051336 L7.92077536,14.1922468 C7.95208903,14.2339984 7.97035506,14.2783587 7.97557401,14.3253292 C7.98079295,14.3722997 7.97818352,14.4166601 7.96774563,14.4584117 C7.95730774,14.5001632 7.93643228,14.5393047 7.90511861,14.5758373 C7.87380494,14.6123699 7.83727288,14.6462926 7.79552132,14.6776062 L7.63895376,14.75589 L5.30609719,15.9614602 C5.22259408,16.0032117 5.13909222,16.01104 5.0555891,15.9849453 C4.97208599,15.9588506 4.90424073,15.9040525 4.85205128,15.8205494 L4.80508102,15.6952953 C4.75289157,15.6117922 4.7398444,15.5230715 4.76593913,15.4291305 C4.79203385,15.3351895 4.84683195,15.2673442 4.93033506,15.2255927 L6.19853226,14.5680089 L6.16721875,14.5680089 C6.15678086,14.5680089 6.14634312,14.5627901 6.13590523,14.5523522 C5.66620022,14.4375354 5.21737772,14.2705317 4.78942426,14.051336 C4.3614708,13.8321403 3.9596181,13.5738065 3.58385409,13.2763266 C3.20809007,12.9788468 2.86886376,12.6448393 2.56616498,12.2742943 C2.26346619,11.9037492 1.99730401,11.499287 1.76767045,11.0608957 C1.55891266,10.653818 1.39190894,10.2336993 1.26665427,9.80052688 C1.1413996,9.36735448 1.06050717,8.92896971 1.02397456,8.48535942 C0.987441946,8.04174913 0.992660813,7.59553606 1.03963131,7.14670682 C1.08660182,6.69787759 1.18315084,6.25427395 1.32928129,5.81588261 C1.46497385,5.37749126 1.64502474,4.96259139 1.86943936,4.57117054 C2.09385397,4.1797497 2.35218786,3.81181962 2.64444875,3.46736928 C2.93670965,3.12291893 3.26027936,2.80978696 3.6151676,2.52796395 C3.97005583,2.24614094 4.35625194,2.00085422 4.7737675,1.79209644 C4.88858429,1.7294691 5.00861821,1.71903137 5.13387288,1.76078293 C5.25912755,1.80253448 5.35306715,1.88081748 5.41569448,1.99563426 C5.47832182,2.12088893 5.48875955,2.24614172 5.44700799,2.37139639 C5.40525644,2.49665106 5.32697344,2.59059066 5.21215666,2.65321799 C4.51281808,3.01854411 3.90482016,3.49867981 3.38814464,4.0936395 C2.87146913,4.68859918 2.49310132,5.36183294 2.25302987,6.11336096 C2.01295842,6.86488898 1.92684712,7.6294529 1.9946934,8.40707564 C2.06253968,9.18469839 2.27390377,9.92316797 2.628792,10.6225065 C2.82711189,10.9878327 3.05674201,11.3296684 3.31768924,11.648024 C3.57863647,11.9663797 3.86828355,12.2534173 4.18663917,12.5091456 C4.50499479,12.7648739 4.84943997,12.9866757 5.21998504,13.1745577 C5.5905301,13.3624397 5.97933564,13.508568 6.38641332,13.6129469 C6.42816488,13.6233847 6.46730638,13.6338225 6.50383899,13.6442604 C6.5403716,13.6546983 6.5795131,13.665136 6.62126466,13.6755739 L5.69751608,12.2351524 C5.64532663,12.1516493 5.62184174,12.0577097 5.62706068,11.9533308 C5.63227963,11.8489519 5.67663999,11.7758877 5.7601431,11.7341362 L5.88539715,11.6558524 C5.97933815,11.603663 6.07327774,11.5906158 6.16721875,11.6167105 C6.26115975,11.6428052 6.33422388,11.6976033 6.38641332,11.7811065 L7.82683483,14.0356793 L7.82683483,14.051336 Z M14.3557019,5.00173132 C14.5644597,5.408809 14.7314634,5.82892774 14.8567181,6.26210014 C14.9819727,6.69527254 15.0628652,7.13365731 15.0993978,7.5772676 C15.1359304,8.02087789 15.1307115,8.46709096 15.083741,8.9159202 C15.0367705,9.36474943 14.9402215,9.80835307 14.794091,10.2467444 C14.6583985,10.6851358 14.480957,11.1026451 14.2617613,11.4992849 C14.0425657,11.8959246 13.7894507,12.2638547 13.5024087,12.6030861 C13.2153668,12.9423175 12.8970159,13.2528401 12.5473466,13.5346631 C12.1976773,13.8164861 11.8193095,14.0617728 11.4122318,14.2705306 C11.3704803,14.2914064 11.3313388,14.307063 11.2948062,14.3175009 C11.2582736,14.3279387 11.2191321,14.3331576 11.1773805,14.3331576 C11.0938774,14.3331576 11.012985,14.3096727 10.9347008,14.2627022 C10.8564166,14.2157317 10.7963997,14.1504959 10.7546481,14.0669928 C10.6920208,13.9417381 10.681583,13.8164853 10.7233346,13.6912306 C10.7650862,13.565976 10.8433692,13.4720364 10.9581859,13.409409 C11.6575245,13.0440829 12.2576941,12.5639472 12.7587128,11.9689875 C13.2597315,11.3740278 13.630271,10.7007941 13.8703425,9.94926606 C14.1104139,9.19773804 14.1991346,8.43578356 14.1365073,7.66337976 C14.07388,6.89097596 13.8599064,6.14989694 13.4945803,5.44012047 C13.1083784,4.69903034 12.5969295,4.06754752 11.9602183,3.54565306 C11.323507,3.0237586 10.5980846,2.65843795 9.78392927,2.44968017 C9.68998827,2.4183665 9.59082981,2.3948816 9.48645092,2.37922477 C9.38207202,2.36356794 9.28291356,2.3453019 9.18897256,2.32442613 L10.1127211,3.76484763 C10.1649106,3.84835075 10.185786,3.94229034 10.1753482,4.04666923 C10.1649103,4.15104812 10.1179405,4.22411225 10.0344374,4.26586381 L9.90918331,4.34414759 C9.8256802,4.39633703 9.73695947,4.4093842 9.64301847,4.38328948 C9.54907747,4.35719475 9.47601334,4.30239666 9.42382389,4.21889354 L7.98340239,1.96432075 L7.96774563,1.96432075 L7.88946185,1.80775319 C7.85814818,1.76600164 7.83988215,1.72164127 7.83466321,1.67467077 C7.82944426,1.62770027 7.8320537,1.58333991 7.84249159,1.54158835 C7.85292948,1.49983679 7.87380494,1.4606953 7.90511861,1.42416268 C7.93643228,1.38763007 7.97296434,1.35370744 8.0147159,1.32239377 L8.17128345,1.24410999 L10.50414,0.0385398199 C10.5876431,-0.00321173689 10.6789733,-0.0110400364 10.7781332,0.0150546866 C10.8772932,0.0411494096 10.9529668,0.095947506 11.0051562,0.17945062 L11.0521265,0.304704664 C11.1043159,0.388207777 11.1095348,0.476928505 11.0677832,0.570869507 C11.0260317,0.66481051 10.9634053,0.737874639 10.8799022,0.790064085 L9.62736171,1.41633431 C9.70042694,1.42677219 9.77088163,1.43981936 9.83872791,1.45547619 C9.90657419,1.47113303 9.97181002,1.48939906 10.0344374,1.51027484 C10.5041424,1.63552951 10.9529649,1.80514266 11.3809183,2.01911939 C11.8088718,2.23309612 12.2055056,2.48882057 12.5708318,2.78630041 C12.9361579,3.08378026 13.2701653,3.4177877 13.5728641,3.78833277 C13.8755629,4.15887783 14.1365062,4.56333997 14.3557019,5.00173132 Z' id='refresh---simple-line-icons'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    margin: 0 10px 0 0;
  }

  /* green icons main menu END */

  /* DARK THEME END */
  /**********************************************************************/
}
