@-moz-document regexp("^.*\.xml$") {
  body {
    background-color: hsl(0, 0%, 7%);
    color: hsl(0, 0%, 65%);
  }

  .html-tag {
    color: #62448c;
  }

  .html-attribute-name {
    color: #336636;
  }

  .html-attribute-value {
    color: #3c859d;
  }
}
