@-moz-document url-prefix("https://www.youtube.com")
{
  /*support dla jasnego motywu*/
  ytd-toggle-theme-compact-link-renderer {
    --paper-item-min-height: 40px;
    height: var(--paper-item-min-height, 48px);
    color: #fff;
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: var(
      --ytd-toggle-theme-compact-link-renderer-display-workaround,
      flex
    );
  }

  #channel-name.ytd-video-owner-renderer {
    color: #fff;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
  }

  yt-icon.ytd-logo {
    height: 20px;
    width: 90px;
    padding: 18px 14px 18px 16px;
    color: #fff;
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
  }

  /*dziwny pasek w w opisie*/
  ytd-merch-shelf-renderer {
    display: block;
    position: relative;
    border-bottom: 0px;
    padding-bottom: 8px;
    margin-top: -26px;
    background-color: #031126;
  }
  /*PASEK PRZY NAPISACH*/

  .ytp-chrome-controls .ytp-button[aria-pressed]:after {
    background-color: #12a0ff;
  }

  /*powiadomienie o dislike (lol to istnieje)*/
  yt-notification-action-renderer[ui-refresh]
    #text.yt-notification-action-renderer,
  yt-notification-action-renderer[ui-refresh]
    #sub-text.yt-notification-action-renderer {
    color: #fff;
  }

  /*kontener playlistowy miniodtwarzac*/
  #info-bar.ytd-miniplayer .expander.ytd-miniplayer {
    padding-right: 16px;
    margin-left: -8px;
    opacity: 1;
    color: #fff;
    transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #03142d;
  }

  #chips-wrapper.ytd-feed-filter-chip-bar-renderer {
    position: fixed;
    top: var(--ytd-rich-grid-chips-bar-top);
    width: var(--ytd-rich-grid-chips-bar-width);
    z-index: 2000;
    background-color: #051c3e;
    border-top: 1px solid #1054af;
    border-bottom: 1px solid #1054af;
    display: flex;
    justify-content: center;
    flex: none;
  }

  #country-code.ytd-topbar-logo-renderer {
    color: #aaa;
    margin: 12px 0 0 -10px;
  }

  yt-notification-action-renderer[ui-refresh]
    #text-container.yt-notification-action-renderer {
    color: #fff;
    background: #03142d;
    border: 0;
  }

  yt-notification-action-renderer[ui-refresh]
    tp-yt-paper-toast.yt-notification-action-renderer {
    background: #03142d;
  }

  #account-name.ytd-active-account-header-renderer {
    color: #fff;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 500;
  }

  yt-formatted-string[ellipsis-truncate] a.yt-formatted-string:last-child,
  yt-formatted-string[ellipsis-truncate] span.yt-formatted-string:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #3ea6ff;
  }

  ytd-compact-link-renderer[compact-link-style="compact-link-style-type-disclaimer"]
    #label.ytd-compact-link-renderer {
    color: #09afff;
    white-space: initial;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
  }

  #voice-search-button.ytd-masthead .ytd-masthead[is-icon-button],
  #buttons.ytd-masthead .ytd-masthead[is-icon-button] {
    color: #fff;
    outline: none;
  }

  #voice-search-button.ytd-masthead {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: #1254a1c7;
    margin-left: 4px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  #header-text.ytd-voice-search-dialog-renderer {
    color: #fff;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 400;
    padding: 48px 0 24px;
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 1e-9px;
    flex-basis: 1e-9px;
  }

  .body-line.ytd-voice-search-dialog-renderer {
    padding-bottom: 16px;
    color: #ddd;
  }

  #microphone.ytd-voice-search-dialog-renderer[state="try-again"]
    #microphone-circle.ytd-voice-search-dialog-renderer
    yt-icon.ytd-voice-search-dialog-renderer {
    color: #fff;
  }

  #microphone.ytd-voice-search-dialog-renderer[state="try-again"]
    #microphone-circle.ytd-voice-search-dialog-renderer {
    background-color: #ffffff1a;
    cursor: pointer;
  }

  tp-yt-paper-dialog > *:first-child:focus {
    padding-top: 24px;
    background-color: #03142d;
    outline: none;
  }

  #author-text.yt-simple-endpoint.ytd-comment-renderer {
    margin-right: 4px;
    color: #fff;
    margin-bottom: 2px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.8rem;
  }

  yt-formatted-string[has-link-only_]:not([force-default-style])
    a.yt-simple-endpoint.yt-formatted-string {
    color: #fff;
  }

  .published-time-text.ytd-comment-renderer {
    --yt-endpoint-color: #aaa;
    --yt-endpoint-visited-color: #aaa;
    color: #aaa;
    white-space: nowrap;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
  }

  #button.ytd-button-renderer
    yt-icon.ytd-button-renderer
    + yt-formatted-string.ytd-button-renderer {
    margin-left: var(--yt-string-icon-padding, 8px);
    color: #fff;
  }

  #content-text.ytd-comment-renderer {
    --yt-endpoint-color: var(--yt-spec-call-to-action);
    --yt-endpoint-hover-color: var(--yt-spec-call-to-action);
    --yt-endpoint-visited-color: var(--yt-spec-call-to-action);
    color: #fff;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    line-height: 2rem;
  }

  button.yt-icon-button {
    vertical-align: middle;
    color: #fff;
    outline: none;
    background: none;
    margin: 0;
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }

  ytd-comment-action-buttons-renderer {
    display: block;
    color: #aaa;
    min-height: 16px;
  }

  ytd-comment-action-buttons-renderer[system-icons][is-liked]
    #vote-count-left.ytd-comment-action-buttons-renderer,
  ytd-comment-action-buttons-renderer[system-icons][is-liked]
    #vote-count-middle.ytd-comment-action-buttons-renderer {
    color: #aaa;
  }

  .more-button.ytd-comment-renderer,
  .less-button.ytd-comment-renderer {
    text-transform: none;
    color: #aaa;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
  }

  tp-yt-paper-menu-button.yt-dropdown-menu {
    color: #aaa;
    --paper-menu-button-dropdown-background: transparent;
  }

  #icon-label.yt-dropdown-menu {
    color: #fff;
    font-size: var(--ytd-tab-system-font-size);
    font-weight: var(--ytd-tab-system-font-weight);
    letter-spacing: var(--ytd-tab-system-letter-spacing);
    text-transform: var(--ytd-tab-system-text-transform);
  }

  #label-icon.yt-dropdown-menu {
    flex-shrink: 0;
    color: #aaa;
  }

  #contenteditable-root.yt-formatted-string[aria-label].yt-formatted-string:empty:before {
    color: #aaa;
    content: var(--contenteditable-root-style-placeholder-with-aria-content);
    cursor: var(--contenteditable-root-style-placeholder-with-aria-cursor);
  }

  #text.ytd-channel-name {
    display: var(--ytd-channel-name-text-display);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--ytd-channel-name-text-line-clamp, inherit);
    word-break: break-word;
    font-size: var(--ytd-channel-name-text-font-size);
    font-weight: var(--ytd-channel-name-text-font-weight);
    line-height: var(--ytd-channel-name-text-line-height);
    color: #fff;
  }

  #owner-sub-count.ytd-video-owner-renderer {
    color: #aaa;
    margin-right: 4px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
  }

  .more-button.ytd-video-secondary-info-renderer,
  .less-button.ytd-video-secondary-info-renderer {
    color: #aaa;
    display: inline-block;
    margin-top: 8px;
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 500;
  }

  a.yt-simple-endpoint.yt-formatted-string {
    color: #3ea6ff;
    display: var(--yt-endpoint-display, inline-block);
    -webkit-text-decoration: var(--yt-endpoint-text-regular-decoration, none);
    text-decoration: var(--yt-endpoint-text-regular-decoration, none);
    word-wrap: var(--yt-endpoint-word-wrap, none);
    word-break: var(--yt-endpoint-word-break, none);
  }

  ytd-button-renderer.style-suggestive[is-paper-button]
    tp-yt-paper-button.ytd-button-renderer {
    border: 1px solid #3ea6ff;
    padding: var(--yt-button-padding-minus-border);
  }

  ytd-sponsorships-offer-renderer[dialog][dialog][dialog] {
    --divider-color: var(--yt-spec-10-percent-layer);
    background-color: inherit;
    padding: 0px;
    margin: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 480px;
    max-width: 608px;
    width: 90vw;
  }

  .offer-overview-item.ytd-sponsorships-offer-renderer
    yt-formatted-string.title.ytd-sponsorships-offer-renderer {
    color: #fff;
    font-family: "YouTube Sans", "YT SANS";
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 500;
  }

  .disclaimer.ytd-sponsorships-tier-renderer {
    color: #aaa;
    margin: 8px 0;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
  }

  #title.ytd-sponsorships-perk-renderer {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 400;
    color: #fff;
  }

  #expansion_call_to_action.ytd-sponsorships-tier-renderer {
    background: transparent;
    border: none;
    color: #3ea6ff;
    cursor: pointer;
    font: inherit;
    margin-top: 8px;
    outline: none;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
  }

  #description.ytd-sponsorships-perk-renderer,
  #fulfillment-instructions.ytd-sponsorships-perk-renderer {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    color: #aaa;
  }

  .title.ytd-video-primary-info-renderer {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 400;
    max-height: 5.2rem;
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    color: #fff;
    font-family: var(
      --ytd-video-primary-info-renderer-title-font-family,
      inherit
    );
    font-size: var(
      --ytd-video-primary-info-renderer-title-font-size,
      var(--yt-navbar-title-font-size, inherit)
    );
    font-variant: var(
      --ytd-video-primary-info-renderer-title-font-variant,
      inherit
    );
    transform: var(--ytd-video-primary-info-renderer-title-transform, none);
    text-shadow: var(--ytd-video-primary-info-renderer-title-text-shadow, none);
  }

  ytd-toggle-button-renderer.style-text[is-icon-button]
    #text.ytd-toggle-button-renderer {
    color: #fff;
  }

  ytd-button-renderer.style-text[is-icon-button] #text.ytd-button-renderer,
  ytd-button-renderer.style-default[is-icon-button] #text.ytd-button-renderer,
  ytd-button-renderer.style-opacity[is-icon-button] #text.ytd-button-renderer {
    color: #fff;
  }

  #button.ytd-menu-renderer yt-icon.ytd-menu-renderer {
    color: #fff;
  }

  #button.ytd-menu-renderer yt-icon.ytd-menu-renderer:hover {
    color: #fff;
  }

  #guide-icon.ytd-masthead {
    color: #fff;
  }

  :root {
    --color: #0088ff;
    --standard-ease: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .ytp-large-play-button.ytp-touch-device .ytp-large-play-button-bg,
  .ytp-cued-thumbnail-overlay:hover .ytp-large-play-button-bg,
  #heart-button button[aria-label="Remove heart"] yt-icon,
  #hearted.ytd-creator-heart-renderer,
  path[fill="#FF0000"],
  path[fill="#ff0000"],
  path[fill="#f80000"],
  path[fill="#FF8983"],
  path[fill="#f00"],
  path[fill="#F00"],
  circle[fill="red"] {
    fill: var(--color) !important;
  }

  ytd-section-list-renderer.ytd-engagement-panel-section-list-renderer {
    padding-left: var(--ytd-margin-6x);
    background: #031126;
  }

  .yt-spec-icon-badge-shape--type-notification
    .yt-spec-icon-badge-shape__badge {
    background-color: #3491f1;
    color: var(--yt-spec-static-brand-white);
  }

  /*animacje do naprawienia*/
  tp-yt-paper-button[animated] {
    transition: box-shadow 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  }

  tp-yt-paper-dialog > *:first-child {
    padding-top: 0px !important;
    background-color: #03142d;
  }

  ytd-button-renderer {
    --paper-button-ink-color: #3ea6ff20 !important;
    --yt-formatted-string-deemphasize-color: #3ea6ff20;
    vertical-align: middle;
    white-space: nowrap;
    font-size: var(--ytd-tab-system-font-size);
    font-weight: var(--ytd-tab-system-font-weight);
    letter-spacing: var(--ytd-tab-system-letter-spacing);
    text-transform: var(--ytd-tab-system-text-transform);
  }

  ytd-toggle-button-renderer #button.ytd-toggle-button-renderer {
    color: #fff;
    background-color: #031126;
    text-transform: inherit;
  }

  paper-ripple[animating] {
    -webkit-transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
  }

  #button.yt-button-renderer {
    --paper-button-ink-color: #3ea6ff20 !important;
    --yt-formatted-string-deemphasize-color: #3ea6ff20;
    vertical-align: middle;
    white-space: nowrap;
    font-size: var(--ytd-tab-system-font-size);
    font-weight: var(--ytd-tab-system-font-weight);
    letter-spacing: var(--ytd-tab-system-letter-spacing);
    text-transform: var(--ytd-tab-system-text-transform);
  }

  paper-ripple.tp-yt-paper-button {
    color: #ffffff10;
  }

  tp-yt-paper-button.ytd-toggle-button-renderer[aria-pressed="false"] {
    color: #fff !important;
  }

  tp-yt-paper-button.ytd-toggle-button-renderer[aria-pressed="true"] {
    color: #03b9ff !important;
  }

  /*global coś wyżej*/

  ::selection {
    background: #0d3086;
    color: #fff;
  }

  tp-yt-paper-listbox.yt-dropdown-menu {
    background-color: #03142d;
  }

  ytd-reel-player-overlay-renderer[vertical]
    #menu.ytd-reel-player-overlay-renderer {
    background: #031126;
  }

  /*sca*/
  #chips.ytd-feed-filter-chip-bar-renderer {
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.05, 0, 0, 1);
    will-change: transform;
    display: inline-block;
    white-space: nowrap;
    background: #051c3e;
    border: 0.5px solid #1219ff;
    border-left: 0;
  }

  #left-arrow-button.ytd-feed-filter-chip-bar-renderer {
    left: 0;
    background: #051c3e;
    border: 0.5px solid #1219ff;
    border-right: 0;
  }

  #right-arrow.ytd-feed-filter-chip-bar-renderer {
    right: 0;
    background: #051c3e;
    border: 0.5px solid #1219ff;
    border-left: 0;
    height: 56.33px;
  }

  #left-arrow-button.ytd-feed-filter-chip-bar-renderer,
  #right-arrow-button.ytd-feed-filter-chip-bar-renderer {
    background-color: #051c3e;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-left: 0;
    height: 56.33px;
  }

  #left-arrow-button.ytd-feed-filter-chip-bar-renderer,
  #right-arrow-button.ytd-feed-filter-chip-bar-renderer {
    background-color: #051c3e;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-left: 0;
  }

  #left-arrow.ytd-feed-filter-chip-bar-renderer:after,
  #right-arrow.ytd-feed-filter-chip-bar-renderer:before {
    height: 100%;
    width: 0px;
    content: "";
    pointer-events: none;
  }

  ytd-app {
    --app-drawer-width: 240px;
    --ytd-mini-guide-width: 72px;
    --app-drawer-content-container_-_background-color: #03142d !important;
    background: #03142d !important;
    display: block;
    left: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  #video-preview-container.ytd-video-preview {
    background-color: #051c3e;
    box-shadow: 0px 0px 12px 2px #12a0ff;
    width: var(--ytd-video-preview-width);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    border: 2px solid #12a0ff;
  }

  /*Klipy eh*/
  #container.yt-clip-creation-renderer {
    padding: var(--ytd-margin-4x);
    overflow-y: auto;
    background-color: #010e20;
    border: 1px solid #12a0ff;
    border-bottom: 0px;
    border-top: 0px;
  }

  #footer.yt-clip-creation-renderer {
    background-color: #03142d;
    padding: var(--ytd-margin-2x);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
    border: 1px solid #12a0ff;
    border-top: 0px;
  }
  /*playlista znowu*/

  #primary.ytd-two-column-browse-results-renderer {
    -ms-flex: 1 1 1e-9px;
    -webkit-flex: 1;
    flex: 1;
    background: #031126;
  }

  tp-yt-paper-button.ytd-subscribe-button-renderer {
    background-color: #08f;
    --paper-button-flat-keyboard-focus-background-color: #08f;
    border-radius: 2px;
    color: var(--yt-spec-static-brand-white);
    padding: var(--yt-button-padding);
    margin: auto var(--ytd-subscribe-button-margin, 4px);
    white-space: nowrap;
    font-size: var(--ytd-tab-system-font-size);
    font-weight: var(--ytd-tab-system-font-weight);
    letter-spacing: var(--ytd-tab-system-letter-spacing);
    text-transform: var(--ytd-tab-system-text-transform);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .ytp-larger-tap-buttons
    .ytp-chrome-controls
    .ytp-button[aria-pressed="true"]:after {
    background-color: #12a0ff;
  }

  .ytp-larger-tap-buttons
    .ytp-chrome-controls
    .ytp-button[aria-pressed="false"]:after {
    background-color: #12a0ff;
  }

  /*mały pasek przy napisach*/

  /*udostepnianie przyciski*/

  .scroll-button.yt-third-party-share-target-section-renderer {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 16px;
    border-radius: 50%;
    background-color: #0a48a3;
    color: var(--yt-spec-icon-inactive);
    overflow: hidden;
    box-shadow: 0 4px 4px rgb(0 0 0 / 30%), 0 0 4px rgb(0 0 0 / 20%);
  }

  #share-url.yt-copy-link-renderer:focus {
    outline: none;
  }
  /*subskrybujesz?*/
  tp-yt-paper-button.ytd-subscribe-button-renderer[subscribed] {
    background-color: #1d3a87;
    color: #ddd;
  }

  /*anulujesz?*/
  yt-confirm-dialog-renderer[dialog][dialog][dialog] {
    --divider-color: var(--yt-spec-10-percent-layer);
    background: #021128;
    margin: 0;
    max-width: 688px;
    padding: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  yt-button-renderer #button.yt-button-renderer.focused.pressed {
    background: inherit;
  }
  /*4k 8k*/
  .ytp-settings-button.ytp-8k-quality-badge:after {
    content: "";
    position: absolute;
    top: 10px;
    right: 5px;
    height: 9px;
    width: 13px;
    background-color: #00a6ff;
    border-radius: 1px;
    line-height: normal;
  }

  .ytp-settings-button.ytp-4k-quality-badge:after {
    content: "";
    position: absolute;
    top: 10px;
    right: 5px;
    height: 9px;
    width: 13px;
    background-color: #00a6ff;
    border-radius: 1px;
    line-height: normal;
  }

  .html5-play-progress,
  .ytp-play-progress {
    background: linear-gradient(-45deg, #12a0ff, #19d9ff) !important;
  }

  .html5-play-progress,
  .ytp-play-progress:hover {
    background: linear-gradient(-45deg, #12a0ff, #19d9ff) !important;
  }

  .html5-play-progress,
  .ytp-play-progress:active {
    background: linear-gradient(-45deg, #12a0ff, #19d9ff) !important;
  }
  /* Scrollbar */
  body::-webkit-scrollbar {
    width: 15px !important;
    height: 15px !important;
    display: block !important;
    background: #03142d !important;
    background-image: url(https://cdn.discordapp.com/attachments/648916305998774301/793843800186552340/image_2.png),
      url(https://cdn.discordapp.com/attachments/648916305998774301/793843800186552340/image_2.png) !important;
    background-position: top center, bottom center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }
  /* Thumb */
  body::-webkit-scrollbar-thumb {
    background: linear-gradient(-45deg, #12a0ff, #19d9ff) !important;
    border-left: 2px solid !important;
    border-right: 2px solid !important;
    border-color: #141414 !important;
    box-shadow: 0 0 5px linear-gradient(-45deg, #12a0ff, #bb00bb);
  }

  body::-webkit-scrollbar-thumb:hover {
    transition: 1.5s;
    background: linear-gradient(-45deg, #0080dd, #06a6cc) !important;
    box-shadow: 0 0 10px linear-gradient(-45deg, #12a0ff, #bb00bb);
  }

  body::-webkit-scrollbar-thumb:active {
    background: linear-gradient(-45deg, #a80505, #d6710d) !important;
    box-shadow: 0 0 10px linear-gradient(-45deg, #ff0000, #ffff00);
  }
  /* Buttons */
  body::-webkit-scrollbar-button:single-button {
    background-position: center center;
    background-size: contain;
    display: block;
    height: 16px;
    width: 16px;
    background: #14141488;
  }

  body::-webkit-scrollbar-button:single-button:hover {
    background: #14141444;
  }

  body::-webkit-scrollbar-button:single-button:active {
    background: #14141422;
  }
  /*pasek, głośność*/
  .ytp-big-mode .ytp-volume-slider-handle {
    width: 18px;
    height: 18px;
    border-radius: 9px;
    margin-top: -9px;
    background: linear-gradient(-45deg, #12a0ff, #19d9ff) !important;
  }

  .ytp-volume-slider-handle {
    position: absolute;
    top: 50%;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-top: -6px;
    background: linear-gradient(-45deg, #12a0ff, #19d9ff) !important;
  }

  .ytp-big-mode .ytp-volume-slider-handle:before {
    left: -87px;
  }

  .ytp-big-mode .ytp-volume-slider-handle:before,
  .ytp-big-mode .ytp-volume-slider-handle:after {
    height: 4px;
    margin-top: -2px;
    width: 96px;
  }

  .ytp-big-mode .ytp-volume-slider-handle:before {
    left: -87px;
  }

  .ytp-big-mode .ytp-volume-slider-handle:before,
  .ytp-big-mode .ytp-volume-slider-handle:after {
    height: 4px;
    margin-top: -2px;
    width: 96px;
  }

  .ytp-volume-slider-handle:before {
    z-index: -1;
  }
  /*komy*/
  #main.ytd-commentbox
    .underline.is-highlighted.paper-input-container:not([v2]).paper-input-container
    .focused-line.paper-input-container,
  ytd-sentiment-bar-renderer #like-bar.ytd-sentiment-bar-renderer,
  ytd-button-renderer.style-suggestive[is-paper-button]::before,
  .ytp-volume-slider-handle::before,
  #checkbox.checked.paper-checkbox,
  paper-ripple[animating] #waves,
  #submit-button.ytd-commentbox,
  #onRadio.paper-radio-button,
  .ytp-volume-slider-handle {
    background-color: currentcolor !important;
  }

  .ytp-volume-slider-track,
  .ytp-volume-slider-handle:before {
    background: linear-gradient(-45deg, #12a0ff, #19d9ff) !important;
    z-index: -117;
  }

  .ytp-volume-slider-handle:before {
    left: -58px;
    background: #fff;
  }

  .html[it-player-color="blue"] .ytp-play-progress,
  html[it-player-color="blue"] .ytp-scrubber-button,
  html[it-player-color="blue"]
    .ytp-menuitem[aria-checked="true"]
    .ytp-menuitem-toggle-checkbox,
  html[it-player-color="blue"]
    .ytp-settings-button.ytp-hd-quality-badge::after {
    background-color: #08f;
  }
  /*#03142d 2px 0 0 2px;*/

  /*cały YT*/
  ytd-app {
    --app-drawer-width: 240px;
    --app-drawer-content-container_-_background-color: #031126;
    background: #03142d;
    display: block;
    left: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  #container.ytd-masthead {
    height: 56px;
    padding: 0 16px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background: #03142d !important;
  }
  /*wyszukiwarka*/
  #container.ytd-searchbox {
    position: relative;
    align-items: center;
    background-color: #03142d;
    border: 1px solid #1055b0;
    border-right: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #1055b0;
    color: var(--yt-searchbox-text-color);
    padding: 2px 6px;
    -ms-flex: 1 1 1e-9px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 1e-9px;
    flex-basis: 1e-9px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    color: #12a0ff;
  }

  #search-icon-legacy.ytd-searchbox {
    cursor: pointer;
    width: 65px;
    border: 1px solid #1055b0;
    background-color: #03142d;
    box-shadow: 0px 0px 10px #1055b0;
    border-radius: 5px;
    margin: 0;
    --yt-icon-button-icon-width: 24px;
    --yt-icon-button-icon-height: 24px;
  }

  #search-icon-legacy.ytd-searchbox:hover {
    cursor: pointer;
    width: 65px;
    border: 1px solid #1055b0;
    background-color: #03142d;
    box-shadow: 0px 0px 10px #1055b0;
    border-radius: 5px;
    margin: 0;
    --yt-icon-button-icon-width: 24px;
    --yt-icon-button-icon-height: 24px;
  }

  #container.ytd-searchbox input.ytd-searchbox {
    color: #12a0ff;
  }

  #like-bar.style-scope.ytd-sentiment-bar-renderer {
    background-color: #12a0ff !important;
  }

  #search-icon-legacy.ytd-searchbox yt-icon.ytd-searchbox {
    width: 20px;
    height: 20px;
    color: #fff;
    opacity: 0.7;
  }

  #search-icon-legacy.ytd-searchbox yt-icon.ytd-searchbox:hover {
    width: 20px;
    height: 20px;
    color: #fff;
    opacity: 1;
  }

  ytd-app:not([background-color-update_])
    app-drawer.ytd-app:not([persistent]).ytd-app
    #header.ytd-app {
    border-bottom: 1px solid transparent;
    background: #03142d !important;
  }

  #sections.ytd-guide-renderer > *.ytd-guide-renderer:not(:last-child) {
    border-bottom: 1px solid #12a0ff;
    background: #03142d !important;
  }

  ytd-guide-collapsible-section-entry-renderer.ytd-guide-section-renderer:not(:first-child) {
    border-top: 1px solid #12a0ff;
    margin-top: 12px;
    padding-top: 12px;
  }

  .style-scope ytd-guide-renderer {
    border-bottom: 1px solid #12a0ff;
    background: #03142d !important;
  }

  #guide-links-primary.ytd-guide-renderer {
    padding: 16px 24px 0;
    border-top: 1px solid #12a0ff;
  }

  #guide-links-primary.ytd-guide-renderer:hover {
    padding: 16px 24px 0;
    border-top: 1px solid #12a0ff;
  }

  #footer.ytd-guide-renderer > #copyright {
    padding: 16px 24px;
    color: #12a0ff;
    font-size: var(--ytd-thumbnail-attribution_-_font-size);
    font-weight: var(--ytd-thumbnail-attribution_-_font-weight);
    line-height: var(--ytd-thumbnail-attribution_-_line-height);
    letter-spacing: var(--ytd-thumbnail-attribution_-_letter-spacing);
    text-transform: var(--ytd-thumbnail-attribution_-_text-transform);
  }

  .guide-entry-badge.ytd-guide-entry-renderer {
    width: 16px;
    height: 16px;
    color: #078eb0;
    display: none;
  }

  #guide-links-primary.ytd-guide-renderer > a:not(:last-child),
  #guide-links-secondary.ytd-guide-renderer > a:not(:last-child) {
    margin-right: 8px;
    color: #fff;
  }

  #guide-links-primary.ytd-guide-renderer > a:not(:last-child),
  #guide-links-secondary.ytd-guide-renderer > a:not(:last-child):hover {
    margin-right: 8px;
    color: #12a0ff;
    text-decoration: underline;
  }

  #guide-links-primary.ytd-guide-renderer > a,
  #guide-links-secondary.ytd-guide-renderer > a {
    display: inline-block !important;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.8rem;
  }

  #guide-links-primary.ytd-guide-renderer > a,
  #guide-links-secondary.ytd-guide-renderer > a:hover {
    display: inline-block !important;
    text-decoration: none;
    color: #12a0ff;
    white-space: nowrap;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.8rem;
  }

  #guide-section-title.ytd-guide-section-renderer {
    color: #fff;
    display: block;
    padding: 8px 24px;
    font-size: var(--ytd-tab-system-font-size);
    font-weight: var(--ytd-tab-system-font-weight);
    letter-spacing: var(--ytd-tab-system-letter-spacing);
    text-transform: var(--ytd-tab-system-text-transform);
  }

  .guide-icon.ytd-guide-entry-renderer {
    --iron-icon-height: 24px;
    --iron-icon-width: 24px;
    margin-right: 24px;
    color: #12a0ff;
  }

  .deemphasize.yt-formatted-string {
    color: #12a0ff;
    display: var(--yt-formatted-string-deemphasize_-_display);
    margin-left: var(--yt-formatted-string-deemphasize_-_margin-left);
  }
  /*Playlista*/
  #title.ytd-add-to-playlist-renderer {
    color: #fff;
    background-color: #03142d !important;
    padding: 16px 24px;
    flex: 1;
    flex-basis: 1e-9px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 400;
  }

  ytd-add-to-playlist-renderer[dialog] #playlists.ytd-add-to-playlist-renderer {
    max-height: 300px;
    max-width: 600px;
    background-color: #03142d !important;
  }

  ytd-add-to-playlist-renderer[dialog]
    #playlists.ytd-add-to-playlist-renderer::-webkit-scrollbar {
    background-color: #03142d;
  }

  ytd-add-to-playlist-renderer[dialog]
    #playlists.ytd-add-to-playlist-renderer::-webkit-scrollbar-thumb {
    background: linear-gradient(-45deg, #12a0ff, #19d9ff);
    border-radius: 40px;
    height: 15%;
  }

  ytd-add-to-playlist-renderer[dialog]
    #playlists.ytd-add-to-playlist-renderer::-webkit-scrollbar-thumb:active {
    background: linear-gradient(-45deg, #a80505, #d6710d);
    border-radius: 40px;
    height: 15%;
  }

  .fit.tp-yt-paper-dialog-scrollable::-webkit-scrollbar {
    background-color: #03142d;
    width: 13px;
  }

  .fit.tp-yt-paper-dialog-scrollable::-webkit-scrollbar-thumb {
    background: linear-gradient(-45deg, #12a0ff, #19d9ff);
    border-radius: 40px;
    height: 15%;
    width: 10px;
  }

  .fit.tp-yt-paper-dialog-scrollable::-webkit-scrollbar-thumb:active {
    background: linear-gradient(-45deg, #a80505, #d6710d);
    border-radius: 40px;
    height: 15%;
    width: 10px;
  }

  #left-arrow-button.yt-chip-cloud-renderer,
  #right-arrow-button.yt-chip-cloud-renderer {
    background: #03142d;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    justify-content: center;
  }

  #right-arrow.yt-chip-cloud-renderer:before {
    display: none;
  }

  #left-arrow.yt-chip-cloud-renderer:after {
    display: none;
  }

  ytd-app {
    --app-drawer-width: 240px;
    --app-drawer-content-container_-_background-color: #fff3f3;
    background: #03142d;
    display: block;
    left: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  #header.ytd-add-to-playlist-renderer {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 1px solid #12a0ff;
    background-color: #03142d !important;
  }

  #checkboxContainer.paper-checkbox {
    display: inline-block;
    position: relative;
    width: var(--calculated-paper-checkbox-size);
    height: var(--calculated-paper-checkbox-size);
    min-width: var(--calculated-paper-checkbox-size);
    margin: var(--paper-checkbox-margin, initial);
    vertical-align: var(--paper-checkbox-vertical-align, middle);
    background: transparent;
  }

  ytd-compact-link-renderer:not([has-secondary])
    paper-item.ytd-compact-link-renderer {
    padding: var(--yt-compact-link-paper-item-padding, 0px 36px 0 16px);
    color: #fff;
    background-color: #03142d !important;
  }

  #create-playlist-form.ytd-add-to-playlist-create-renderer {
    padding-top: 16px;
    color: #fff;
    background-color: #03142d !important;
  }

  .toast-button.yt-notification-action-renderer {
    padding-right: var(--ytd-margin-2x);
    color: #fff;
    background-color: #03142d !important;
  }

  #notification-count.ytd-notification-topbar-button-renderer {
    position: absolute;
    top: 4px;
    right: 0;
    color: var(--yt-swatch-important-text, var(--yt-white));
    background-color: #12a0ff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    line-height: 18px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
  }

  #checkboxContainer.paper-checkbox {
    display: inline-block;
    position: relative;
    width: var(--calculated-paper-checkbox-size);
    height: var(--calculated-paper-checkbox-size);
    min-width: var(--calculated-paper-checkbox-size);
    margin: var(--paper-checkbox-margin, initial);
    vertical-align: var(--paper-checkbox-vertical-align, middle);
    background: transparent;
  }

  #checkboxContainer.style-scope.paper-checkbox {
    background: transparent;
  }

  .style-scope paper-checkbox {
    color: #12a0ff;
  }
  /*sekcje*/
  #sections.ytd-multi-page-menu-renderer
    > *.ytd-multi-page-menu-renderer:not(:last-child) {
    border-bottom: 1px solid #12a0ff;
    color: #fff;
    background-color: #03142d !important;
  }

  #sections.ytd-multi-page-menu-renderer > *.ytd-multi-page-menu-renderer {
    color: #fff;
    background-color: #03142d !important;
  }

  ytd-compact-link-renderer:not([has-secondary])
    paper-item.ytd-compact-link-renderer {
    color: #fff;
    background-color: #03142d !important;
  }

  ytd-multi-page-menu-renderer {
    display: inline-block;
    background: #03142d;
    border: none;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  ytd-simple-menu-header-renderer {
    background-color: #03142d !important;
    color: #fff;
    border-bottom: 1px solid #12a0ff;
    min-height: 48px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  button.yt-icon-button > yt-icon {
    width: var(--yt-icon-button-icon-width, 100%);
    height: var(--yt-icon-button-icon-height, 100%);
  }
  /*ustawienia YT*/
  ytd-playlist-sidebar-renderer.ytd-browse,
  ytd-settings-sidebar-renderer.ytd-browse {
    position: fixed;
    left: 0;
    height: calc(100vh - var(--ytd-toolbar-height));
    background-color: #03142d !important;
    color: #fff;
  }

  #title.ytd-settings-sidebar-renderer {
    color: #fff;
    padding-left: 24px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 500;
  }

  #label.ytd-compact-link-renderer,
  #subtitle.ytd-compact-link-renderer {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    text-decoration: none;
  }

  yt-copy-link-renderer[renderer-style="copy-link-renderer-style-settings"] {
    background-color: #031126;
    padding: var(--ytd-margin-base) 0;
  }

  ytd-button-renderer.style-inactive-outline[is-paper-button]
    paper-button.ytd-button-renderer {
    border: 1px solid #00cc3d;
    color: #00cc3d;
    padding: var(--yt-button-padding-minus-border);
  }

  #text.style-scope.ytd-button-renderer.style-inactive-outline.size-default {
    color: #000;
  }

  #button.style-scope.ytd-button-renderer.style-inactive-outline.size-default {
    background-color: #00cc3d;
  }
  /*Najnowsze Posty*/
  #content.ytd-rich-item-renderer ytd-post-renderer.ytd-rich-item-renderer,
  #content.ytd-rich-item-renderer
    ytd-shared-post-renderer.ytd-rich-item-renderer {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #031126;
  }

  ytd-post-renderer[uses-compact-lockup_]
    #author-text.yt-simple-endpoint.ytd-post-renderer {
    color: #fff;
    display: block;
    max-height: var(--yt-thumbnail-attribution-line-height, 1.8rem);
    overflow: hidden;
    font-size: var(--ytd-thumbnail-attribution_-_font-size);
    font-weight: var(--ytd-thumbnail-attribution_-_font-weight);
    line-height: var(--ytd-thumbnail-attribution_-_line-height);
    letter-spacing: var(--ytd-thumbnail-attribution_-_letter-spacing);
    text-transform: var(--ytd-thumbnail-attribution_-_text-transform);
  }
  /*przycisk suka*/
  paper-button.ytd-subscribe-button-renderer {
    background-color: #12a0ff;
    border-radius: 2px;
    color: #fff;
    padding: var(--yt-button-padding);
    margin: auto var(--ytd-subscribe-button-margin, 4px);
    white-space: nowrap;
    font-size: var(--ytd-tab-system_-_font-size);
    font-weight: var(--ytd-tab-system_-_font-weight);
    letter-spacing: var(--ytd-tab-system_-_letter-spacing);
    text-transform: var(--ytd-tab-system_-_text-transform);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  paper-button.ytd-subscribe-button-renderer[subscribed] {
    background-color: #13528a;
    color: #fff;
  }

  button.yt-icon-button > yt-icon {
    width: var(--yt-icon-button-icon-width, 100%);
    height: var(--yt-icon-button-icon-height, 100%);
  }

  .style-scope.ytd-subscription-notification-toggle-button-renderer {
    color: #fff;
  }

  .style-scope.ytd-button-renderer {
    color: #fff;
  }
  /*ustawienia profilu, razem z ciemnym motywem itd itd*/
  ytd-active-account-header-renderer {
    background-color: #03142d;
    border-bottom: 1px solid #12a0ff;
    box-sizing: border-box;
    position: relative;
    padding: 16px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  yt-icon.ytd-compact-link-renderer {
    color: #12a0ff;
  }

  yt-icon.ytd-toggle-theme-compact-link-renderer {
    color: #12a0ff;
  }
  /*dokończenie bocznego paska YT*/
  ytd-mini-guide-renderer.ytd-app {
    position: fixed;
    left: 0;
    top: var(--ytd-masthead-height, var(--ytd-toolbar-height));
    bottom: 0;
    background-color: #03142d;
  }

  a.ytd-mini-guide-entry-renderer {
    width: 72px;
    padding: 16px 0 14px;
    outline: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: #03142d;
  }
  /*udostępnij*/
  paper-dialog {
    display: block;
    margin: 24px 40px;
    background-color: #03142d;
    color: #fff;
    font-family: var(--paper-font-body1_-_font-family);
    -webkit-font-smoothing: var(--paper-font-body1_-_-webkit-font-smoothing);
    font-size: var(--paper-font-body1_-_font-size);
    font-weight: var(--paper-font-body1_-_font-weight);
    line-height: var(--paper-font-body1_-_line-height);
    box-shadow: var(--shadow-elevation-16dp_-_box-shadow);
  }

  #bar.yt-copy-link-renderer {
    justify-content: space-between;
    border: 1px solid #12a0ff;
    background-color: #031126;
    border-radius: 2px;
    display: flex;
    align-items: center;
  }

  yt-formatted-string.yt-start-at-renderer {
    color: #fff;
    font-size: var(--ytd-user-comment-font-size);
    font-weight: var(--ytd-user-comment-font-weight);
    line-height: var(--ytd-user-comment-line-height);
    letter-spacing: var(--ytd-user-comment-letter-spacing);
    font-family: var(--ytd-user-comment-font-family);
  }

  input {
    color: #fff;
  }
  /*Gry, Opis*/
  a.ytd-rich-metadata-renderer {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    background: #03142d;
  }
  /*zgłoś*/
  paper-listbox {
    display: block;
    padding: 8px 0;
    background: #03142d;
    color: #fff;
  }
  /*Sekcja Gier*/
  #content-container.ytd-interactive-tabbed-header-renderer {
    position: relative;
    width: 100%;
  }

  .badge-style-type-live-now.ytd-badge-supported-renderer,
  .badge-style-type-starting-soon.ytd-badge-supported-renderer {
    background: #0000;
    color: #12a0ff;
    border: 1px solid #12a0ff;
  }

  ytd-page-manager > *.ytd-page-manager {
    -ms-flex: 1 1 1e-9px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 1e-9px;
    flex-basis: 1e-9px;
    background: #03142d;
  }

  #tabs-inner-container.ytd-interactive-tabbed-header-renderer {
    background: #03142d;
  }
  /* Lajwy! */
  yt-live-chat-header-renderer {
    height: 48px;
    padding: 8px;
    box-sizing: border-box;
    font-size: var(--yt-live-chat-header-font-size, 18px);
    color: var(
      --yt-live-chat-header-text-color,
      var(--yt-live-chat-primary-text-color)
    );
    display: var(--layout-horizontal_-_display);
    -ms-flex-direction: var(--layout-horizontal_-_-ms-flex-direction);
    -webkit-flex-direction: var(--layout-horizontal_-_-webkit-flex-direction);
    flex-direction: var(--layout-horizontal_-_flex-direction);
    -ms-flex-align: var(--layout-center_-_-ms-flex-align);
    -webkit-align-items: var(--layout-center_-_-webkit-align-items);
    align-items: var(--layout-center_-_align-items);
    display: var(--yt-live-chat-header-renderer-display, flex);
    background: #03142d;
  }

  #empty-state-message.yt-live-chat-item-list-renderer {
    position: var(--layout-fit_-_position);
    top: var(--layout-fit_-_top);
    right: var(--layout-fit_-_right);
    bottom: var(--layout-fit_-_bottom);
    left: var(--layout-fit_-_left);
    display: var(--layout-vertical_-_display);
    -ms-flex-direction: var(--layout-vertical_-_-ms-flex-direction);
    -webkit-flex-direction: var(--layout-vertical_-_-webkit-flex-direction);
    flex-direction: var(--layout-vertical_-_flex-direction);
    -ms-flex-pack: var(--layout-center-justified_-_-ms-flex-pack);
    -webkit-justify-content: var(
      --layout-center-justified_-_-webkit-justify-content
    );
    justify-content: var(--layout-center-justified_-_justify-content);
    background: #031126;
  }

  ytd-toggle-button-renderer #button.ytd-toggle-button-renderer {
    color: var(--yt-button-color, inherit);
    background-color: #031126;
    text-transform: inherit;
  }

  ytd-live-chat-frame {
    border: 1px solid #12a0ff;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  paper-button.ytd-toggle-button-renderer {
    width: var(--yt-paper-button-width, auto);
    height: var(--yt-paper-button-height, auto);
    border-radius: inherit;
    border-top: 1px solid #12a0ff;
    margin: 0;
    padding: var(--yt-button-padding, 0.7em 0.57em);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  /*NA CZASIE*/
  #title.ytd-channel-list-sub-menu-avatar-renderer {
    margin-top: 8px;
    color: #fff;
    display: block;
    max-height: var(--yt-link-line-height, 1.6rem);
    white-space: nowrap;
    overflow: hidden;
    font-size: var(--yt-link-font-size, 1.4rem);
    font-weight: 500;
    line-height: var(--ytd-link-line-height, 1.6rem);
    letter-spacing: var(--yt-link-letter-spacing, normal);
  }
  /*kanał*/
  #channel-header.ytd-c4-tabbed-header-renderer {
    background: #031126;
    width: 100%;
    padding: 16px 107px 4px;
    position: relative;
    z-index: 1;
    min-width: 0;
  }

  #tabs-inner-container.ytd-c4-tabbed-header-renderer {
    background: #031126;
  }

  ytd-shelf-renderer {
    --yt-icon-disabled-color: var(--yt-spec-icon-active-other);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    background: #031126;
  }

  ytd-page-manager > *.ytd-page-manager {
    -ms-flex: 1 1 1e-9px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 1e-9px;
    flex-basis: 1e-9px;
    background: #031126;
  }
  /*komy*/
  ytd-button-renderer[disabled][is-paper-button] a.ytd-button-renderer {
    background: #12a0ff;
    cursor: url("https://cdn.discordapp.com/attachments/648916305998774301/793899298693054474/cursor_2.cur"),
      pointer;
  }

  #button.style-scope.ytd-button-renderer.style-primary.size-default {
    background: #12a0ff;
  }

  #input-container.ytd-commentbox {
    --paper-input-container-underline-color: #12a0ff;
    --paper-input-container-underline-focus-color: #12a0ff;
  }

  .underline is-highlighted style-scope paper-input-container {
    --paper-input-container-underline-color: #12a0ff;
    --paper-input-container-underline-focus-color: #12a0ff;
  }

  ytd-button-renderer #button.ytd-button-renderer {
    color: #12a0ff;
    background-color: transparent;
    text-transform: inherit;
  }

  .style-scope.yt-formatted-string {
    color: #fff;
  }

  /*.add-on-content.is-highlighted.style-scope.paper-input-container{


}*/
  ::sellection {
    background-color: #12a0ff;
    color: #fff;
  }

  /*PlayListav2*/

  ytd-item-section-renderer {
    display: block;
    background: #031126;
  }

  paper-listbox.yt-dropdown-menu {
    background-color: #031126;
  }

  #progress.ytd-thumbnail-overlay-resume-playback-renderer {
    background-color: #12a0ff;
    height: 100%;
  }

  .header.ytd-playlist-panel-renderer {
    background-color: #031126;
    padding: 16px 16px 0 24px;
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
  }

  .playlist-items.ytd-playlist-panel-renderer {
    background: #03142d;
    height: 100%;
    overflow-y: auto;
    padding: 4px 0;
  }

  /*komy v2*/

  #text.style-scope.ytd-button-renderer {
    color: #12a0ff;
  }

  yt-formatted-string#text.style-scope.ytd-button-renderer.style-primary.size-default {
    color: #fff;
  }

  /*Wspieranie*/

  #top-bar.ytd-sponsorships-offer-renderer {
    padding: 8px 16px 8px 24px;
    color: #12a0ff;
    background-color: #03142d;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  #tier.ytd-sponsorships-offer-renderer {
    width: 100%;
    padding: 24px;
    color: #12a0ff;
    background-color: #03142d;
  }

  .offer-overview-item.ytd-sponsorships-offer-renderer {
    display: block;
    width: 100%;
    padding: 11px 24px;
    font-family: inherit;
    background: #03142d;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
  }

  .offer-overview-item.selected.ytd-sponsorships-offer-renderer {
    background-color: #12a0ff;
  }

  .offer-overview-item.ytd-sponsorships-offer-renderer:not(:last-of-type) {
    border-bottom: 1px solid #12a0ff;
  }

  #tier-overview.ytd-sponsorships-offer-renderer {
    width: 220px;
    margin: 0;
    flex-shrink: 0;
    background-color: #03142d;
  }

  /*czat v2 ostatni raczej*/

  yt-live-chat-item-list-renderer[allow-scroll]
    #item-scroller.yt-live-chat-item-list-renderer {
    overflow-y: scroll;
    padding-right: 0;
    background-color: #031126;
    color: #fff;
  }

  #card.yt-live-chat-viewer-engagement-message-renderer {
    position: relative;
    background: radial-gradient(#19d9ff, transparent 70%);
    border-radius: 4px;
    padding: 12px 16px;
    display: var(--layout-horizontal_-_display);
    -ms-flex-direction: var(--layout-horizontal_-_-ms-flex-direction);
    -webkit-flex-direction: var(--layout-horizontal_-_-webkit-flex-direction);
    flex-direction: var(--layout-horizontal_-_flex-direction);
  }

  yt-live-chat-message-input-renderer {
    display: block;
    padding: 16px;
    color: #12a0ff;
    background: #031126;
    border-top: 0.5px solid #12a0ff;
    font-size: 13px;
    position: relative;
    --yt-emoji-picker-renderer-content_-_margin: 0 24px;
    --yt-emoji-picker-category-margin-left: 24px;
  }

  /*Wyszukaj Głosowo*/

  ytd-voice-search-dialog-renderer[dialog] {
    display: inline-block;
    width: 560px;
    height: 400px;
    margin: 0;
    padding: 0 0 16px 32px;
    background-color: #03142d;
    color: #12a0ff;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  /*taki pasek przy miniodtwarzaczu na dole z tytułem filmu*/

  #info-bar.ytd-miniplayer .metadata.ytd-miniplayer {
    padding: 14px 16px 16px;
    overflow: hidden;
    cursor: pointer;
    background-color: #03142d;
    -ms-flex: 1 1 1e-9px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 1e-9px;
    flex-basis: 1e-9px;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  /*zgłaszanie, wybór*/

  yt-report-form-modal-renderer[dialog][dialog][dialog] {
    --yt-report-form-modal-renderer-width: 450px;
    background-color: #03142d;
    margin: 0;
    width: var(--yt-report-form-modal-renderer-width, 450px);
    max-width: 80vw;
    min-height: var(--yt-report-form-modal-renderer-min-width, 240px);
    min-width: var(--yt-report-form-modal-renderer-min-width, 300px);
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  /*Dlaczego Ci się ten film nie podobał?!!*/

  ytd-dismissal-follow-up-renderer[dialog][dialog][dialog] {
    background: #03142d;
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  ytd-button-renderer[disabled][is-paper-button] a.ytd-button-renderer {
    background: #03142d;
    cursor: url(https://cdn.discordapp.com/attachments/648916305998774301/793899298693054474/cursor_2.cur),
      pointer;
  }

  #items.yt-live-chat-ticker-renderer {
    background: #00b3ff !important;
    height: 32px;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 24px 8px;
  }

  /*poprawa kropki itd*/

  .ytp-swatch-background-color {
    background: linear-gradient(-45deg, #12a0ff, #19d9ff);
  }

  .ytp-settings-button.ytp-hd-quality-badge:after {
    content: "";
    position: absolute;
    top: 10px;
    right: 5px;
    height: 9px;
    width: 13px;
    background-color: #00a6ff;
    border-radius: 1px;
    line-height: normal;
  }

  /*ustawienia odtwarzania*/

  .ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox {
    background: #088cff;
  }

  .ytp-popup {
    position: absolute;
    overflow: hidden;
    border-radius: 2px;
    background: #03142d;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    -moz-transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1);
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    opacity: 0.9;
  }

  .ytp-swatch-color {
    color: #088cff;
  }

  /*logo YT!*/

  path.style-scope.ytd-topbar-logo-renderer {
    fill: #088cff;
  }

  /*rozdziały*/

  #header.ytd-engagement-panel-title-header-renderer {
    display: block;
    padding: 4px 2px 4px 16px;
    color: #fff;
    background-color: #03142d;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    border: 1px solid #12a0ff;
    border-bottom: 0px;
  }

  /*udostepnianie*/

  tp-yt-paper-dialog > *:last-child {
    background-color: #03142d;
  }

  tp-yt-paper-dialog > *:last-child {
    margin-bottom: 24px;
    background-color: #03142d;
  }

  tp-yt-paper-dialog > *:first-child {
    padding-top: 24px;
    background-color: #03142d;
  }

  tp-yt-paper-dialog {
    display: block;
    margin: 24px 40px;
    background: #03142d;
    color: #fff;
    font-family: "Roboto", "Noto", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%),
      0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 40%);
  }
  /*zgłaszanie itd*/

  tp-yt-paper-listbox {
    display: block;
    padding: 8px 0;
    background-color: #03142d;
    color: var(--paper-listbox-color, var(--primary-text-color));
  }

  element.style {
  }

  #sync-container.ytd-macro-markers-list-renderer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.05, 0, 0, 1);
    transition: -webkit-transform 0.2s cubic-bezier(0.05, 0, 0, 1);
    transition: transform 0.2s cubic-bezier(0.05, 0, 0, 1);
    transition: transform 0.2s cubic-bezier(0.05, 0, 0, 1),
      -webkit-transform 0.2s cubic-bezier(0.05, 0, 0, 1);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    color: #fff;
    background-color: #03142d;
  }

  #contents.ytd-macro-markers-list-renderer {
    overflow-y: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    color: #fff;
    background-color: #021024;
  }

  path.style-scope.ytd-topbar-logo-renderer {
    fill: #088cff;
  }

  path.style-scope yt-icon {
    fill: #088cff;
  }

  ytd-compact-link-renderer:not([has-secondary])
    tp-yt-paper-item.ytd-compact-link-renderer {
    padding: var(--yt-compact-link-paper-item-padding, 0px 36px 0 16px);
    background: #03142d;
  }

  ytd-app:not([background-color-update_])
    tp-yt-app-drawer.ytd-app:not([persistent]).ytd-app
    #header.ytd-app {
    border-bottom: #12a0ff;
    background: #03142d;
  }

  body {
    background-color: #03142d;
  }

  #contentContainer.tp-yt-app-drawer[swipe-open].tp-yt-app-drawer::after {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    visibility: visible;
    width: 20px;
    content: "";
  }

  #guide-inner-content.ytd-app {
    overflow: hidden;
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 1e-9px;
    flex-basis: 1e-9px;
    overflow-y: auto;
    background: #03142d;
    scrollbar-color: #12a0ff;
  }

  ytd-app[standardized-themed-scrollbar] #guide-inner-content.ytd-app {
    background: #03142d;
  }

  ytd-app[standardized-themed-scrollbar] #guide-inner-content.ytd-app:hover {
    scrollbar-color: #12a0ff;
  }

  /*fix desc shorts*/

  #header.ytd-reel-description-sheet-renderer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  ytd-reel-description-sheet-renderer[dialog] {
    background: #03142d;
    color: #fff;
    width: 450px;
    min-width: 300px;
    max-width: 80vw;
    min-height: 240px;
    display: flex;
    flex-direction: column;
  }

  /*chat, again.*/

  yt-live-chat-header-renderer {
    height: 48px;
    padding: 8px;
    box-sizing: border-box;
    font-size: var(--yt-live-chat-header-font-size, 18px);
    background-color: #041734;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: var(--yt-live-chat-header-renderer-display, flex);
  }

  yt-live-chat-item-list-renderer[allow-scroll]
    #item-scroller.yt-live-chat-item-list-renderer {
    overflow-y: scroll;
    padding-right: 0;
    background: #031126;
  }

  yt-live-chat-banner-manager[has-active-banner] {
    background: linear-gradient(#2467bf, transparent, transparent);
  }

  yt-live-chat-message-input-renderer {
    display: block;
    padding: 16px;
    color: #fff;
    background: #02142e;
    font-size: 13px;
    position: relative;
    --yt-emoji-picker-renderer-content-margin: 0 24px;
    --yt-emoji-picker-category-margin-left: 24px;
  }

  #unfocused.yt-live-chat-text-input-field-renderer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #3ea6ff;
  }

  #input-panel.yt-live-chat-renderer::after {
    content: "";
    display: block;
    height: 1px;
    margin: 0;
    background: #12a0ff;
  }

  #items.yt-live-chat-ticker-renderer {
    height: 32px;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 24px 8px;
    background: #00152e;
  }

  tp-yt-paper-icon-item[style-target="host"],
  tp-yt-paper-item[style-target="host"] {
    white-space: nowrap;
    background: #02142e;
  }

  tp-yt-paper-listbox {
    display: block;
    padding: 8px 0;
    background: #02142e;
    color: #fff;
    border: var(--paper-listbox-border);
  }
}
