@-moz-document domain("youtube.com"),regexp("http(s?)://[^/]*\\.youtube(\\.com)?(\\.[a-z][a-z])?/.*"),regexp("http(s?)://youtube(\\.com)?(\\.[a-z][a-z])?/.*")
{



	/********************************/
	/*2021 Youtube RetroWave by YAD*/
	/********************************/
  body
  {
    color: #fff!important;
    text-shadow: 0px 1px 2px #2c0d3b;
    overflow: overlay;
  }
	/*like bar*/
  #container.ytd-sentiment-bar-renderer
  {
    height: 3px;
    background-color: #000000;
  }

  #like-bar.ytd-sentiment-bar-renderer
  {
    background: linear-gradient(200deg, #f6019d 0%, #2de2e6 100%)!important;
    box-shadow: 0px 0px 3px 1px #0006;
    height: 3px;
  }

	/*option*/
  tp-yt-paper-listbox
  {
    background: linear-gradient(180deg, #520d69 0%, #ff00b285 100%), url(/*[[yadbgchanger]]*/) center center/cover no-repeat fixed #3a0e59;
  }

  tp-yt-paper-listbox.yt-dropdown-menu
  {
    background: #3a0e59b8;
    background-image: linear-gradient(180deg, #520d69 0%, #ff00b275 100%);
  }

  ytd-menu-popup-renderer
  {
    box-shadow: 0px 0px 5px 1px #00000094, 0px 0px 0px 1px #b84fff;
  }


	/*autoplay*/
  .ytp-autonav-toggle-button[aria-checked=true]:after
  {
    background-color: #00d6ff;
    box-shadow: 0px 0px 6px 2px #03c0ff;
  }

	/*share dialog*/
  tp-yt-paper-dialog
  {
    background-image: linear-gradient(200deg, #35044480 0%, #d81b9f91 100%);
    background-color: #5927a261;
    color: var(--paper-tooltip-text-color, white);
    border: 1px solid #b84fff;
    border-radius: 4px;
  }

	/*light*/
  #guide-content.ytd-app
  {
    background: #dcff0800;
    border-right: 1px solid #0dffff26;
  }

  #sections.ytd-guide-renderer > *.ytd-guide-renderer:not(:last-child)
  {
    background-color: #7bc09100;
  }

  #contentContainer.app-drawer
  {
    background-color: #f9f9f900;
  }

  ytd-guide-entry-renderer[active] .guide-icon.ytd-guide-entry-renderer
  {
    color: #00eaf6;
  }

  ytd-simple-menu-header-renderer,
  ytd-simple-menu-header-renderer[darker-dark-theme]
  {
    background-color: rgba(73, 18, 108, 0);
    color: #fff;
  }

  .text.ytd-notification-renderer,
	.title.ytd-video-primary-info-renderer,
	.content.ytd-video-secondary-info-renderer,
	#content-text.ytd-comment-rendere,
	h3.ytd-compact-video-renderer,
	.title.ytd-guide-entry-renderer,
	yt-formatted-string.ytd-menu-navigation-item-renderer,
	paper-item.ytd-compact-link-renderer,
	#email.ytd-active-account-header-renderer,
	ytd-toggle-theme-compact-link-renderer
  {
    color: #fff!important;
  }

  #icon-label.yt-dropdown-menu,
	#date.ytd-video-primary-info-renderer,
	#owner-sub-count.ytd-video-owner-renderer,
	.more-button.ytd-video-secondary-info-renderer,
	.less-button.ytd-video-secondary-info-renderer,
	ytd-toggle-button-renderer.style-text[is-icon-button] #text.ytd-toggle-button-renderer,
	ytd-button-renderer.style-text[is-icon-button] #text.ytd-button-renderer,
	ytd-button-renderer.style-default[is-icon-button] #text.ytd-button-renderer,
	ytd-button-renderer.style-opacity[is-icon-button] #text.ytd-button-renderer
  {
    color: #a5a5a5;
  }

  ytd-toggle-button-renderer.style-default-active[is-icon-button]
  {
    color: #00bfff;
  }

  ytd-active-account-header-renderer
  {
    background-color: #fff0;
    border-bottom: 1px solid var(--yt-spec-10-percent-layer);
  }

  paper-button.ytd-subscribe-button-renderer[subscribed]
  {
    background-color: var(--yt-spec-badge-chip-background);
    color: #bebebe;
  }

  .ytp-sb-unsubscribe
  {
    background-color: #520d693d;
    color: #fff;
    box-shadow: 0px 0px 0px 1px #0ef;
  }

  ytd-masthead,
  ytd-masthead[darker-dark-theme]
  {
    --yt-spec-brand-background-solid: #f5151500;
    --yt-spec-brand-background-primary: #da000000;
    --yt-spec-brand-background-secondary: #21212100;
    --yt-spec-general-background-a: #1ed03300;
    --yt-spec-general-background-b: #e31a1a00;
    --yt-spec-general-background-c: #df1e1e00;
    --yt-spec-call-to-action: #00fff7;
  }

  #channel-name.ytd-video-meta-block
  {
    --yt-endpoint-color: #c1bdbd;
    --yt-endpoint-visited-color: #fc098b;
    color: #0fe1da;
  }

  #metadata-line.ytd-video-meta-block
  {
    color: #bebebe;
  }

  yt-formatted-string.ytd-menu-service-item-renderer,
	.item.yt-dropdown-menu
  {
    color: #fff;
  }

  paper-listbox.yt-dropdown-menu .iron-selected.yt-dropdown-menu
  {
    background-color: #ffffff0d;
  }

  paper-listbox.yt-dropdown-menu paper-item.yt-dropdown-menu:hover
  {
    background-color: #ffffff24;
  }

  yt-formatted-string.ytd-comments-header-renderer
  {
    color: #cfcfcf;
  }

  .more-button.ytd-comment-replies-renderer,
	.less-button.ytd-comment-replies-renderer
  {
    color: #919191;
  }

  yt-live-chat-header-renderer
  {
    color: #fff!important;
    background-color: #59108754;
  }

  yt-live-chat-ticker-renderer
  {
    background-color: #68048f78;
  }

  #show-hide-button.ytd-live-chat-frame > ytd-toggle-button-renderer.ytd-live-chat-frame
  {
    color: #fff!important;
    background-color: #bb00ff54;
  }

  #label-text.yt-dropdown-menu,
	#message.yt-live-chat-text-message-renderer,
	#message.yt-live-chat-viewer-engagement-message-renderer,
	#video-title.ytd-rich-grid-media,
	#subtitle.ytd-shelf-renderer,
	#title.ytd-shelf-renderer,
	#subscriber-count.ytd-c4-tabbed-header-renderer,
	#channel-name.ytd-c4-tabbed-header-renderer,
	paper-tab.ytd-c4-tabbed-header-renderer:hover,
	paper-tab.iron-selected.ytd-c4-tabbed-header-renderer,
	ytd-mini-guide-entry-renderer[active] .title.ytd-mini-guide-entry-renderer,
	ytd-post-renderer[uses-compact-lockup] #home-content-text.ytd-post-renderer,
	.input-content.paper-input-container > input,
	.input-content.paper-input-container > iron-input,
	.input-content.paper-input-container > textarea,
	.input-content.paper-input-container > iron-autogrow-textarea,
	.input-content.paper-input-container > .paper-input-input,
	#title.ytd-rich-shelf-renderer,
	#content-text.ytd-backstage-post-renderer,
	ytd-comment-action-buttons-renderer
  {
    color: #fff;
  }

  #author-name.yt-live-chat-author-chip
  {
    color: var(--paper-cyan-a200);
  }

  #upnext.ytd-compact-autoplay-renderer
  {
    color: var(--paper-cyan-a200);
  }

  ytd-browse[page-subtype=channels]
  {
    background: #f1f1f100;
  }

  #channel-header.ytd-c4-tabbed-header-renderer
  {
    background-color: #f9f9f900;
  }

  #channel-container.ytd-c4-tabbed-header-renderer,
	#tabs-container.ytd-c4-tabbed-header-renderer
  {
    background-color: #8d3ed58a;
    background-image: linear-gradient(100deg, #00fffc7d 0%, #ff00b27d 100%);
  }

  #tabs-inner-container.ytd-c4-tabbed-header-renderer
  {
    background-color: #f9f9f900;
  }

  paper-tabs.ytd-c4-tabbed-header-renderer
  {
    color: #aeaeae;
  }

  ytd-mini-guide-renderer
  {
    background-color: #fff0;
  }

  ytd-mini-guide-entry-renderer
  {
    background-color: #70636300;
  }

  ytd-mini-guide-entry-renderer[active] .guide-icon.ytd-mini-guide-entry-renderer
  {
    color: #00e4ff;
  }

  ytd-post-renderer[uses-compact-lockup]
  {
    border-top: 2px solid #0ff;
    background-color: #76518d8c;
  }

  ytd-button-renderer.style-primary[is-paper-button]
  {
    background-color: #7608a4;
    color: #ffffff;
  }

  .more-button.ytd-backstage-post-renderer,
	.less-button.ytd-backstage-post-renderer
  {
    color: #838383;
  }

  ytd-comment-action-buttons-renderer.ytd-backstage-post-renderer ytd-button-renderer.ytd-comment-action-buttons-renderer[is-icon-button].style-default-active.ytd-comment-action-buttons-renderer,
	ytd-comment-action-buttons-renderer.ytd-backstage-post-renderer ytd-toggle-button-renderer.ytd-comment-action-buttons-renderer[is-icon-button].style-default-active.ytd-comment-action-buttons-renderer
  {
    color: #00b9f8;
  }

  ytd-settings-sidebar-renderer
  {
    background-color: #f1f1f100;
  }

  #title.ytd-settings-sidebar-renderer
  {
    color: #00e2ff;
  }

  ytd-page-introduction-renderer,
	#title.ytd-item-section-header-renderer,
	#title.ytd-settings-options-renderer,
	#title.ytd-settings-switch-renderer,
	#label.ytd-settings-checkbox-renderer
  {
    color: #fff;
  }
	/*light end*/
  a:link
  {
    color: /*[[link]]*/}
	a:visited {
		color: /*[[visited]]*/
		!important;
  }

  a:hover
  {
    color: #fff!important;
  }

  a:active
  {
    color: #00ffed!important;
    text-shadow: 0 0 8px;
  }

  #account-name.ytd-active-account-header-renderer
  {
		/*name*/
    text-shadow: 0 0 8px var(--paper-purple-a200);
  }

  yt-icon.ytd-topbar-logo-renderer,
	[id="logo"][class="style-scope ytd-masthead"] yt-icon.ytd-logo,
	tp-yt-app-drawer[opened] [class="style-scope ytd-logo"][id="logo-icon"]
  {
		/*logo*/
    animation-name: logoyad;
    filter: none;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    fill-opacity: 0;
    background: url("/*[[logoniyad]]*/") center center/100% no-repeat;
    max-width: 70px;
    max-height: 100px;
  }


	@  keyframes logoyad
  {
    0% {
			transform: scalex(0);
  }

  25%
  {
    transform: scaleY(0.1);
  }

  50%
  {
    transform: scalex(0.7);
  }

  75%
  {
    transform: scaleY(0.15);
  }
}

.ytd-topbar-logo-renderer
{
  animation: yadlogo;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}

@keyframes /*[[yadcolorize]]*/
{
  0%
  {
    filter: hue-rotate(0deg);
  }

  100%
  {
    filter: hue-rotate(360deg) saturate(6.1);
  }
}

.ytd-topbar-logo-renderer:hover
{
  animation-name: rubberBand;
  animation-duration: 1s;
  animation-delay: 10s;
  animation-fill-mode: both;
  animation-iteration-count: 5;
}

@keyframes yadlogo2
{
  0%
  {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
    filter: blur(4px);
    opacity: 0;
  }

  100%
  {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    filter: blur(0);
    opacity: 1;
  }
}

ytd-topbar-logo-renderer:not(:active)
{
  animation: yadlogo2;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

@keyframes rubberBand
{
  0%
  {
    transform: scale3d(1, 1, 1);
  }

  30%
  {
    transform: scale3d(1.25, 0.75, 1);
  }

  40%
  {
    transform: scale3d(0.75, 1.25, 1);
  }

  50%
  {
    transform: scale3d(1.15, 0.85, 1);
  }

  65%
  {
    transform: scale3d(.95, 1.05, 1);
  }

  75%
  {
    transform: scale3d(1.05, .95, 1);
  }

  100%
  {
    transform: scale3d(1, 1, 1);
  }
}

#country-code.ytd-topbar-logo-renderer,
	ytd-topbar-logo-renderer[is-logo-updated] #country-code.ytd-topbar-logo-renderer
{
  color: var(--yt-spec-text-secondary);
  margin: 10px 0 0px 3px!important;
}

ytd-thumbnail #thumbnail.ytd-thumbnail:not(:active)
{
  animation: yadpoof;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  transition: opacity 0.5s;
}

@keyframes yadpoof
{
  0%
  {
    transform: scale(1);
    filter: blur(0px);
  }

  100%
  {
    transform: scale(3.5);
    opacity: 0;
    filter: blur(50px);
  }
}

button.yt-icon-button > yt-icon:active
{
  animation: yadpooficon;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  transition: opacity 0.5s;
}

@keyframes yadpooficon
{
  0%
  {
    transform: scale(1.5);
    filter: blur(1px);
  }

  50%
  {
    transform: scale(5.5);
    opacity: 0.1;
    filter: blur(5px);
  }

  90%
  {
    transform: scale(15.5);
    opacity: 0;
    filter: blur(20px);
  }

  100%
  {
    transform: scale(20.5);
    opacity: 0;
    filter: blur(50px);
  }
}

.style-scope ytd-thumbnail
{
  animation: yadroad;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
}

@keyframes yadroad
{
  0%
  {
    transform: scale(0.1);
    filter: blur(90px);
  }

  100%
  {
    transform: scale(1);
  }
}
	/*my eyes hurt coding*/
html:not(.style-scope)
{
  --yt-spec-static-brand-red: #ff00f7!important;
}

#thumbnail.ytd-moving-thumbnail-renderer
{
  transition: opacity 0.5s;
  opacity: 0;
  width: 100%;
  height: 100%;
  max-height: var(--yt-img-max-height, none);
  max-width: var(--yt-img-max-width, 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ytp-swatch-background-color
{
  animation-name: yadpogi;
  animation-iteration-count: infinite;
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes /*[[pogi]]*/
{
  0%
  {
    background-color: #fff;
    box-shadow: 0 0 9px 3px #ff00d4;
  }

  10%
  {
    background-color: #fff;
    box-shadow: 0 0 7px 3px #9d00ff;
  }

  20%
  {
    background-color: #fff;
    box-shadow: 0 0 9px 3px #5100ff;
  }

  30%
  {
    background-color: #fff;
    box-shadow: 0 0 7px 3px #00d9ff;
  }

  40%
  {
    background-color: #fff;
    box-shadow: 0 0 9px 3px #00ffc3;
  }

  50%
  {
    background-color: #fff;
    box-shadow: 0 0 7px 3px #b3ff00;
  }

  60%
  {
    background-color: #fff;
    box-shadow: 0 0 9px 3px #ff8400;
  }

  70%
  {
    background-color: #fff;
    box-shadow: 0 0 7px 3px #ff6a00;
  }

  80%
  {
    background-color: #fff;
    box-shadow: 0 0 9px 3px #f00;
  }

  90%
  {
    background-color: #fff;
    box-shadow: 0 0 7px 3px #ee436b;
  }

  100%
  {
    background-color: #fff;
    box-shadow: 0 0 7px 3px #ff00d4;
  }
}

ytd-app[darker-dark-theme],
	ytd-app
{
  background-image: url(https://i.postimg.cc/J4gFh3TK/sunset.gif), url(https://i.postimg.cc/1mScS4XW/retrowave.png)!important;
  background-repeat: no-repeat!important;
  background-attachment: fixed;
  background-color: /*[[yadbgcolor]]*/!important;
  background-position: 50% 33%, center;
  background-size: 350px, /*[[yadbgsize]]*/!important;
  background-blend-mode: screen!important;
}

	/*BG CHANGER*/
ytd-app[darker-dark-theme],
	ytd-app
{
  background-image: url(/*[[araw]]*/), url(/*[[yadbgchanger]]*/)!important;
}

.html5-video-player
{
		/*glow on player*/
  box-shadow: 0 0 20px #f800ff;
}

#container.ytd-masthead
{
		/*top bar*/
  background: #1d062d;
  opacity: 0.9;
  border-bottom: 1px solid #0dffff26;
  box-shadow: 0px 0px 0px 3px #0006;
}

	/*new*/
.badge-style-type-simple.ytd-badge-supported-renderer
{
  background: #00ffdc75;
  color: #fff;
}

.style-scope ytd-rich-metadata-renderer
{
		/*side coloumn*/
  background-image: linear-gradient(200deg, #35044480 0%, #d81b9f91 100%);
  background-color: #5927a261;
  color: var(--paper-tooltip-text-color, white);
  border: 1px solid #b84fff;
  border-radius: 4px;
}

ytd-comments
{
		/*comments box*/
  display: block;
  background-color: #18042b7d;
  background-image: linear-gradient(180deg, #520d693d 0%, #ff00b240 100%);
}

#container.ytd-searchbox
{
		/*search bar*/
  background-color: #20062ea3;
  border: 1px solid #5e2288d4;
  border-radius: 17px 0 0 17px;
}

#search-icon-legacy.ytd-searchbox,
	ytd-searchbox[desktop-search-bar-big-tap-target] #search-icon-legacy.ytd-searchbox
{
  border: 1px solid #5e2288d4;
  background-color: #770c92;
  border-radius: 0px 17px 17px 0px;
  height: 35px;
}

ytd-searchbox[desktop-search-bar-big-tap-target] #search-form.ytd-searchbox,
	#search-form.ytd-searchbox
{
  height: 35px;
}

#search-icon-legacy.ytd-searchbox:hover,
	ytd-searchbox[desktop-search-bar-big-tap-target] #search-icon-legacy.ytd-searchbox:hover
{
  border: 1px solid #5e2288d4;
  background-color: #aa17cfab;
  border-radius: 0px 17px 17px 0px;
}

#search-icon-legacy.ytd-searchbox yt-icon.ytd-searchbox
{
  width: 30px;
  height: 30px;
  color: #fff;
  opacity: 1;
}

ytd-searchbox[desktop-searchbar-style=rounded_corner_dark_btn] #container.ytd-searchbox, ytd-searchbox[desktop-searchbar-style=rounded_corner_light_btn] #container.ytd-searchbox
{
  background: #00000070;
}

ytd-searchbox[has-focus][desktop-searchbar-style=rounded_corner_dark_btn] #container.ytd-searchbox, ytd-searchbox[has-focus][desktop-searchbar-style=rounded_corner_light_btn] #container.ytd-searchbox,
	ytd-searchbox[has-focus] #container.ytd-searchbox
{
  background: #2c0d3b;
  border: 1px solid #fff;
  box-shadow: inset 0 0px 6px #9d00ff;
  animation: yadsearch;
  animation-iteration-count: 1;
  animation-duration: 2s;
}

@keyframes yadsearch
{
  0%
  {
    box-shadow: inset 0 0px 9px 12px #f0f;
  }
}

.ytp-scrubber-pull-indicator::after
{
  display: block;
  position: inherit;
  content: '';
  top: -13px;
  left: -13px;
  opacity: 1;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 0px;
  border-color: #e70b0b00;
  background-image: url(https://i.postimg.cc/wxtHHvWL/starfall.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transform: rotate(94deg);
  border-radius: 81px;
}

	/*2021 Youtube RetroWave by YAD*/
tp-yt-paper-button.ytd-subscribe-button-renderer
{
		/*sub button*/
  background-color: #a320fb;
  border-radius: 5px;
}

.ytp-sb-subscribe,
	a.ytp-sb-subscribe
{
  background-color: #a320fb;
  color: #fff;
}

.guide-entry-badge.ytd-guide-entry-renderer
{
		/*live icon*/
  width: 16px;
  height: 16px;
  color: #00d0ff;
  display: none;
}

ytd-multi-page-menu-renderer,
  ytd-multi-page-menu-renderer[darker-dark-theme]
{
		/*right dropdown notif*/
  border-radius: 10px;
  background: linear-gradient(180deg, #520d69 0%, #ff00b266 100%), url(/*[[yadbgchanger]]*/) center center/cover no-repeat fixed #30083bed;
  box-shadow: 0px 0px 5px 1px #00000094, 0px 0px 0px 1px #b84fff;
}

ytd-voice-search-dialog-renderer[dialog]
{
		/*right dropdown notif*/
  background: linear-gradient(180deg, #520d69 0%, #ff00b266 100%);
  box-shadow: 0px 0px 5px 1px #00000094, 0px 0px 0px 1px #b84fff;
}

#guide-content.ytd-app,
  ytd-app[darker-dark-theme] #guide-content.ytd-app
{
  background-image: linear-gradient(180deg, #2f033ea8 0%, #ff00b240 100%);
}

yt-icon.ytd-compact-link-renderer
{
		/*dropdown yt icons*/
  color: var(--yt-compact-link-icon-color, var(--yt-spec-icon-inactive));
}

paper-toggle-button[checked]:not([disabled]) .toggle-button.paper-toggle-button
{
		/*toggle button*/
  background-color: #fff;
  box-shadow: 0 0 10px 5px #d208ff;
}

paper-toggle-button[checked]:not([disabled]) .toggle-bar.paper-toggle-button
{
  opacity: 1;
  background-color: #fff;
  box-shadow: 0 0 10px 5px #d208ff;
}

.ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox
{
		/*toggle button2*/
  background: #ffffff;
  box-shadow: 0 0 10px 5px #d208ff;
}

	/********************************/
	/*2021 Youtube Retro Wave by YAD*/
	/********************************/
.ytp-volume-slider-handle
{
		/*volume buttom*/
  border-radius: 7px;
  margin-top: -6px;
  background: #ffffff;
  box-shadow: 0 0 12px 5px #2de2e6;
}

.badge-style-type-live-now.ytd-badge-supported-renderer
{
		/*live now*/
  background: transparent;
  color: #fff;
  border: 1px solid #de00ff00;
  border-radius: 6px;
  animation-name: yadlive;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes yadlive
{
  0%
  {
    background-color: #fff0;
    box-shadow: inset 0 0 9px 3px #ff00d4;
  }

  10%
  {
    background-color: #fff0;
    box-shadow: inset 0 0 7px 3px #9d00ff;
  }

  20%
  {
    background-color: #fff0;
    box-shadow: inset 0 0 9px 3px #fff;
  }

  30%
  {
    background-color: #fff0;
    box-shadow: inset 0 0 7px 3px #00d9ff;
  }

  40%
  {
    background-color: #fff0;
    box-shadow: inset 0 0 9px 3px #00ffc3;
  }

  50%
  {
    background-color: #fff0;
    box-shadow: inset 0 0 7px 3px #fff;
  }

  60%
  {
    background-color: #fff0;
    box-shadow: inset 0 0 9px 3px #ff00e1;
  }

  70%
  {
    background-color: #fff0;
    box-shadow: inset 0 0 7px 3px #fff;
  }

  80%
  {
    background-color: #fff0;
    box-shadow: inset 0 0 9px 3px #00ffea;
  }

  90%
  {
    background-color: #fff0;
    box-shadow: inset 0 0 7px 3px #bdff00;
  }

  100%
  {
    background-color: #fff0;
    box-shadow: inset 0 0 7px 3px #ff00d4;
  }
}

ytd-thumbnail-overlay-time-status-renderer[overlay-style=LIVE]
{
  background-color: #c307d4e6;
}

	/*watched video*/
#progress.ytd-thumbnail-overlay-resume-playback-renderer
{
  background-color: #fc0966;
}

#progress.ytd-thumbnail-overlay-resume-playback-renderer[style*="100%"]
{
  background: #fff0;
}

ytd-thumbnail-overlay-resume-playback-renderer
{
  background-color: #1a1a1a00;
}

#progress.ytd-thumbnail-overlay-resume-playback-renderer[style*="100%"]::before
{
  content: '⭕Watched';
  position: absolute;
  height: 600%!important;
  width: 100%;
  top: -21px;
  color: #fff!important;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 130%;
  padding-left: 9px;
  letter-spacing: 0.05em;
  text-shadow: 0 0 9px #0b0b0b66;
  background: linear-gradient(-90deg, #0000 10%, #7608a4 100%);
  transition: all 1s ease-in-out 1s;
}

#thumbnail:hover #overlays #progress.ytd-thumbnail-overlay-resume-playback-renderer[style*="100%"]::before
{
  opacity: 0;
  content: '⭕Watch Again?';
}

ytd-thumbnail-overlay-resume-playback-renderer
{
  background: #fff0;
}
	/*notif color*/
#notification-count.ytd-notification-topbar-button-renderer
{
  position: absolute;
  top: 4px;
  right: 0;
  color: var(--yt-swatch-important-text, var(--yt-white));
  background-color: #c30aff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  line-height: 18px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
}
	/*scrollbar*/
#contentWrapper.iron-dropdown > *
{
  overflow: hidden;
}

#contentWrapper.iron-dropdown > *:hover
{
  overflow: auto;
}

::-webkit-scrollbar
{
  width: 10px!important;
}

	/* Track */
::-webkit-scrollbar-track
{
  border-radius: 8px;
  background-color: #35044480!important;
}

	/* Handle */
::-webkit-scrollbar-thumb
{
  background: #9900ff3d;
  border-radius: 10px;
}

	/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
  background-image: linear-gradient(200deg, #ff00d4 0%, #03c0ff 100%)!important;
}

	/*bg vids and settings*/
#primary.ytd-two-column-browse-results-renderer
{
  max-width: 100%;
  min-width: 0;
  background-color: #18042b7d;
}

ytd-button-renderer.style-suggestive[is-paper-button] paper-button.ytd-button-renderer
{
  border: 1px solid #fff;
  padding: var(--yt-button-padding-minus-border);
}

	/*join button*/
ytd-button-renderer.style-suggestive[is-paper-button]
{
  --yt-formatted-string-deemphasize-color: var(--yt-blue-opacity-lighten-2);
  background-color: transparent;
  color: #fff;
}

	/*video menu*/
paper-listbox
{
  display: block;
  padding: 8px 0;
  background-color: #3a1244eb;
  color: var(--paper-listbox-color, var(--primary-text-color));
  background-image: linear-gradient(180deg, #520d693d 0%, #ff00b240 100%);
}

	/*drop menu BG*/
paper-listbox.yt-dropdown-menu
{
  background-color: #330c4b;
  background-image: linear-gradient(180deg, #520d693d 0%, #ff00b240 100%);
}

.ytp-popup
{
  position: absolute;
  overflow: hidden;
  border-radius: 2px;
  background: rgba(67, 8, 81, .9);
  text-shadow: 0 0 2px rgba(0, 0, 0, .5);
  -moz-transition: opacity .1s cubic-bezier(0.0, 0.0, 0.2, 1);
  -webkit-transition: opacity .1s cubic-bezier(0.0, 0.0, 0.2, 1);
  transition: opacity .1s cubic-bezier(0.0, 0.0, 0.2, 1);
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-image: linear-gradient(180deg, #520d693d 0%, #ff00b240 100%);
}

.html5-video-info-panel
{
  background: rgba(67, 8, 81, .9);
  border-radius: 4px;
  color: #fff;
  left: 10px;
  position: absolute;
  top: 10px;
  z-index: 64;
  min-width: 26em;
}

	/*cc color under*/
.ytp-chrome-controls .ytp-button[aria-pressed]:after
{
  background-color: #fff;
  box-shadow: 0 0 9px 3px #ff00d4;
}

	/*hd text color*/
.ytp-swatch-color
{
  color: #ffffff;
  text-shadow: 0 0 9px #ff00d0;
}

	/*subpop*/
tp-yt-paper-toast
{
  background-color: var(--paper-toast-background-color, #3808532b);
  background-image: linear-gradient(140deg, #40095285 0%, #600e69c4 100%);
  border-radius: 5px;
}

yt-confirm-dialog-renderer[dialog][dialog][dialog]
{
  background-color: var(--paper-toast-background-color, #240237f2);
  background-image: linear-gradient(180deg, #520d693d 0%, #ff00b240 100%);
  text-align: center;
  border-radius: 5px;
}

	/*live indicator home*/
ytd-badge-supported-renderer.ytd-rich-grid-media
{
  margin: 6px 0px 6px 10px;
}

.ytp-spinner-circle
{
  border-style: /*[[yadspinner]]*/;
		border-color: #fff0 #ff00e6fa #fff0 #bd00ff;
  border-radius: 50%;
}

	/*mini player*/
.playlist-items.ytd-playlist-panel-renderer
{
  background-color: #230e32a3;
}

#info-bar.ytd-miniplayer
{
  background-color: #3b094f;
}

ytd-playlist-panel-renderer[hide-header-text] .header.ytd-playlist-panel-renderer
{
  background-color: #230e32c4;
}

	/*hd indicator*/
.ytp-settings-button.ytp-hd-quality-badge:after
{
  height: 12px;
  width: 16px;
  background-color: #a400ff;
}

	/*4k 8k indicator*/
.ytp-settings-button.ytp-4k-quality-badge:after,
	.ytp-settings-button.ytp-5k-quality-badge:after,
	.ytp-settings-button.ytp-8k-quality-badge:after
{
  background-color: #05d0da;
  box-shadow: 0 0 7px 1px #04fff3;
  transform: scale(1.3);
}

	/*info box on live*/
#card.yt-live-chat-viewer-engagement-message-renderer
{
  background-color: #6e418987;
}

ytd-clarification-renderer[background-style=info]
{
  padding: 12px 0 12px 0;
  background: #8a0ec76b;
  border: 1px solid #00fff730;
}

yt-live-chat-renderer
{
  background: #20072a4f;
  background-image: linear-gradient(130deg, #520d693d 0%, #ff00b240 100%);
}

html[dark] .watch-skeleton .skeleton-bg-color
{
		/*skeletal system*/
  background-color: #1f0423ed;
  background-image: url(https://media1.giphy.com/media/2C8Kf24dnrYNW/giphy.gif);
  background-position: center;
  background-size: 100%;
  background-blend-mode: screen;
}

.sbfl_b
{
		/*report search predictiion*/
  background: rgb(1 1 1 / 0%);
}

.sbsb_a
{
  background-image: linear-gradient(180deg, #350444 10%, #9a0c90ab 100%);
  border-radius: 0px 0px 15px 15px;
  background-color: #32323200;
  color: #fff;
}

.sbdd_b
{
  background-color: #32323200;
  border: 1px solid #7120ab00;
  border-top-color: #bf45ffc9;
  box-shadow: 0 2px 5px #39044a;
  border-radius: 0px 0px 15px 15px;
  backdrop-filter: blur(2px);
}

.gsfs
{
  font-size: 1.6rem;
  color: #dfdfdf;
}

.sbpqs_a
{
  color: #2dbbde;
}

.sbsb_d
{
  background: #ffffff0f;
}

#tooltip.tp-yt-paper-tooltip,
	ytcp-paper-tooltip-placeholder[type=explanatory] #tooltip.ytcp-paper-tooltip-placeholder
{
  background-image: linear-gradient(200deg, #35044480 0%, #d81b9f91 100%);
  background-color: #5927a2;
  color: var(--paper-tooltip-text-color, white);
  border: 1px solid #b84fff;
  border-radius: 4px;
}

ytd-toggle-button-renderer.style-text[is-icon-button],
	span.yt-view-count-renderer
{
		/*views*/
  color: #fff;
}

yt-formatted-string.ytd-video-primary-info-renderer
{
  text-shadow: 0px 1px 2px #2c0d3b;
}

#star-survey.ytd-inline-survey-renderer
{
		/*survey*/
  background-color: #521a66ba;
  background-image: linear-gradient(200deg, #3504444a 0%, #d81b9f4d 100%);
}

ytd-inline-survey-renderer[expanded] #dismissible.ytd-inline-survey-renderer
{
  background-color: #9f5f393b!important;
}

#dismiss-button.ytd-inline-survey-renderer
{
  background-color: #9f5f393b;
}
	/*voice search*/
div#voice-search-button:hover
{
  border-radius: 48px;
  box-shadow: inset 0px 0px 0px 3px #fff;
  background-color: #1e082394;
}


	/*feed filter*/
#chips-wrapper.ytd-feed-filter-chip-bar-renderer
{
  background-color: #1d062d91;
  border-top: 1px solid #987d7d00;
  border-bottom: 1px solid #0dffff;
}

yt-chip-cloud-chip-renderer[chip-style="STYLE_DEFAULT"][selected]:hover,
	yt-chip-cloud-chip-renderer[chip-style="STYLE_HOME_FILTER"][selected]:hover,
	yt-chip-cloud-chip-renderer[chip-style="STYLE_DEFAULT"][selected]:focus,
	yt-chip-cloud-chip-renderer[chip-style="STYLE_HOME_FILTER"][selected]:focus
{
  background-color: #2996cb59;
  border: 1px solid #17f5fb;
}

yt-chip-cloud-chip-renderer[chip-style="STYLE_DEFAULT"][selected],
	yt-chip-cloud-chip-renderer[chip-style="STYLE_HOME_FILTER"][selected]
{
  background-color: #17caea;
  color: #fff;
}

	/*new update*/
img[src="https://www.gstatic.com/images/branding/product/2x/youtube_96in128dp.png"]
{
  content: url(https://i.ibb.co/rxhXqHs/neonyt.png);
}

path[d="M6,18h12v1H6V18z M22,6.2v9.6c0,0.66-0.54,1.2-1.2,1.2H3.2C2.54,17,2,16.46,2,15.8V6.2C2,5.54,2.54,5,3.2,5 h17.6C21.46,5,22,5.54,22,6.2z"]
{
  fill: #9809fa66!important;
  stroke: #00fff7;
}
	/*kids*/
path[d="M21.39,13.19c0-0.08,0-0.15,0-0.22c-0.01-0.86-0.5-5-0.78-5.74c-0.32-0.85-0.76-1.5-1.31-1.91 c-0.9-0.67-1.66-0.82-2.6-0.84l-0.02,0c-0.4,0-3.01,0.32-5.2,0.62C9.28,5.4,6.53,5.8,5.88,6.04c-0.9,0.33-1.62,0.77-2.19,1.33 c-1.05,1.04-1.18,2.11-1.04,3.51c0.1,1.09,0.69,5.37,1.02,6.35c0.45,1.32,1.33,2.12,2.47,2.24c0.28,0.03,0.55,0.05,0.82,0.05 c1,0,1.8-0.21,2.72-0.46c1.45-0.39,3.25-0.87,6.97-0.87l0.09,0h0.02c0.91,0,3.14-0.2,4.16-2.07C21.44,15.12,21.41,13.91,21.39,13.19 z"]
{
  fill: #9809fa66!important;
}

[d="M21.99,13.26c0-0.08,0-0.16-0.01-0.24c-0.01-0.92-0.54-5.32-0.83-6.11c-0.34-0.91-0.81-1.59-1.4-2.03 C18.81,4.17,17.99,4.02,17,4l-0.02,0c-0.43,0-3.21,0.34-5.54,0.66c-2.33,0.32-5.25,0.75-5.95,1C4.53,6.01,3.76,6.48,3.16,7.08 c-1.12,1.1-1.25,2.25-1.11,3.74c0.11,1.16,0.73,5.71,1.08,6.75c0.48,1.41,1.41,2.25,2.63,2.38C6.06,19.98,6.34,20,6.63,20 c1.07,0,1.91-0.23,2.89-0.49c1.54-0.41,3.46-0.93,7.41-0.93l0.1,0h0.02c0.97,0,3.34-0.21,4.42-2.2 C22.04,15.32,22.01,14.03,21.99,13.26z M20.59,15.91c-0.82,1.51-2.75,1.68-3.56,1.68l-0.1,0c-4.09,0-6.07,0.53-7.67,0.96 C8.31,18.8,7.56,19,6.63,19c-0.25,0-0.5-0.01-0.76-0.04c-1.04-0.11-1.54-0.99-1.79-1.71c-0.3-0.88-0.91-5.21-1.04-6.53 C2.9,9.25,3.1,8.54,3.86,7.79c0.5-0.5,1.15-0.89,1.97-1.19c0.17-0.06,1.1-0.32,5.74-0.95C14.2,5.29,16.64,5.01,16.99,5 c0.83,0.02,1.43,0.13,2.17,0.69c0.43,0.32,0.79,0.86,1.06,1.58c0.22,0.58,0.76,4.78,0.77,5.77l0.01,0.25 C21.01,13.96,21.04,15.08,20.59,15.91z"]
{
  fill: #00fff7;
}

path[fill="#F00"]
{
  fill: #9809fa66!important;
  stroke: #00fff7;
}

circle[fill="#FF0000"]
{
  fill: #9809fa69!important;
  stroke: #00fff7;
  transform: scale(0.9) translatey(6%) translatex(6%);
}

	/*upload video*/
path[d="M19,4H5A2.15,2.15,0,0,0,3,6V18a2.15,2.15,0,0,0,2,2H19a2.15,2.15,0,0,0,2-2V6A2.15,2.15,0,0,0,19,4ZM5,18H19V6H5Z"]
{
  fill: #9f15c6!important;
}

path[d="M15,12,10,8v8Z"]
{
  fill: #0ff!important;
}

	/*go live icon*/
path[d="M23,12a11,11,0,0,1-3.22,7.78l-1.41-1.41a9,9,0,0,0,0-12.73l1.41-1.41A11,11,0,0,1,23,12ZM5.64,5.64,4.22,4.22a11,11,0,0,0,0,15.56l1.41-1.41a9,9,0,0,1,0-12.73ZM16.95,7.05,15.54,8.46a5,5,0,0,1,0,7.07l1.41,1.41a7,7,0,0,0,0-9.9Zm-9.9,0a7,7,0,0,0,0,9.9l1.41-1.41a5,5,0,0,1,0-7.07Z"]
{
  fill: #8017aa!important;
}

path[d="M12,9a3,3,0,1,1-3,3,3,3,0,0,1,3-3"]
{
  fill: #02dbff!important;
}

	/*mic*/
[d*="M12 3C10.34 3 9 4.37 9 6.07V11.93C9 13.63 10"],
	[d*="M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1."]
{
  d: path("M2.64,15.87l-1.41.94A11.63,11.63,0,0,1,10.94,0l-.11,1.68A10,10,0,0,0,2.64,15.87Zm9-12.79a8.55,8.55,0,1,1-8.54,8.55A8.55,8.55,0,0,1,11.66,3.08ZM8.92,11.83a2.74,2.74,0,0,0,5.48,0v-5a2.74,2.74,0,0,0-5.48,0ZM6.79,12A4.87,4.87,0,0,0,11,16.72v1.2H9.58v1.33h4.16V17.92H12.33v-1.2A4.87,4.87,0,0,0,16.54,12H15.15a3.49,3.49,0,0,1-7,0Zm5.6-12,.1,1.68a10,10,0,0,1,8.19,14.19l1.41.94A11.63,11.63,0,0,0,12.39,0Zm-.73,21.61a10,10,0,0,1-8.19-4.3L2,18.07a11.65,11.65,0,0,0,19.43,0l-1.53-.76A10,10,0,0,1,11.66,21.61Z")!important;
}

	/*left icons*/
[d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z"],
	[d*="M17,18v1H6V18ZM6.49,9l.71.71L11,5.91V16h1V5"],
	path[d="M17 10.5V7c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l4 4v-11l-4 4zM14 13h-3v3H9v-3H6v-2h3V8h2v3h3v2z"],
	[d*="M14,13h-3v3H9v-3H6v-2h3V8h2v3h3V13z M17,6H3"]
{
  d: path("M3.12,11.63a8.55,8.55,0,1,0,8.54-8.55A8.54,8.54,0,0,0,3.12,11.63ZM7.86,5.49l10.66,6.15L7.86,17.8ZM2.64,15.87l-1.41.94A11.63,11.63,0,0,1,10.94,0l-.11,1.68A10,10,0,0,0,2.64,15.87Zm17.21,1.44,1.53.76A11.65,11.65,0,0,1,2,18.07l1.52-.76a9.95,9.95,0,0,0,16.38,0Zm3.47-5.69a11.57,11.57,0,0,1-1.23,5.19l-1.41-.94A10,10,0,0,0,12.49,1.68L12.39,0A11.65,11.65,0,0,1,23.32,11.62ZM13,12H11.64v1.31h-.7V12H9.63v-.71h1.31V10h.7v1.3H13Z")!important;
}

path[d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"],
	[d*="M16,4v4h4V4H16z M19,7h-2V5h2V7z M16,10v4h4v"]
{
  d: path("M11.66,3.08a8.55,8.55,0,1,0,8.55,8.55A8.54,8.54,0,0,0,11.66,3.08ZM10.51,16.75H6.57V12.82h3.94Zm0-6.31H6.57V6.5h3.94Zm6.24,6.31H12.81V12.82h3.94Zm0-6.31H12.81V6.5h3.94ZM12.39,0a11.63,11.63,0,0,1,9.7,16.81l-1.41-.94A10,10,0,0,0,12.49,1.68Zm9,18.07A11.65,11.65,0,0,1,2,18.07l1.52-.76a9.95,9.95,0,0,0,16.38,0ZM1.23,16.81A11.63,11.63,0,0,1,10.94,0l-.11,1.68A10,10,0,0,0,2.64,15.87Z")!important;
}

path[d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"],
	[d*="M10,20h4c0,1.1-0.9,2-2,2S10,21.1,10,20z M20"]
{
  d: path("M2.64,15.87l-1.41.94A11.63,11.63,0,0,1,10.94,0l-.11,1.68A10,10,0,0,0,2.64,15.87Zm9-12.79a8.55,8.55,0,1,1-8.54,8.55A8.55,8.55,0,0,1,11.66,3.08ZM13.23,15.7H10.1a1.57,1.57,0,0,0,3.13,0ZM5.85,14.39a.37.37,0,0,0,0,.73H17.44a.37.37,0,0,0,0-.73c-3.42-.35-.33-8.47-5.17-9,0-.89-.22-1.22-.65-1.24S11,4.52,11,5.41C6.17,5.92,9.26,14,5.85,14.39Zm5.81,7.22a10,10,0,0,1-8.19-4.3L2,18.07a11.65,11.65,0,0,0,19.43,0l-1.53-.76A10,10,0,0,1,11.66,21.61ZM12.39,0l.1,1.68a10,10,0,0,1,8.19,14.19l1.41.94A11.63,11.63,0,0,0,12.39,0Z")!important;
}

path[d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"],
	[d*="M21,6H3V5h18V6z M21,11H3v1h18V11z M21,17H3v"]
{
  d: path("M2.64,15.87l-1.41.94A11.63,11.63,0,0,1,10.94,0l-.11,1.68A10,10,0,0,0,2.64,15.87Zm9-12.79a8.55,8.55,0,1,1-8.54,8.55A8.55,8.55,0,0,1,11.66,3.08ZM6.21,7.9A1.14,1.14,0,0,0,7.34,9H16a1.14,1.14,0,0,0,0-2.28H7.34A1.14,1.14,0,0,0,6.21,7.9Zm0,3.74a1.14,1.14,0,0,0,1.13,1.14H16a1.14,1.14,0,1,0,0-2.27H7.34A1.13,1.13,0,0,0,6.21,11.64Zm0,3.75a1.14,1.14,0,0,0,1.13,1.13H16a1.14,1.14,0,1,0,0-2.27H7.34A1.14,1.14,0,0,0,6.21,15.39Zm5.45,6.22a10,10,0,0,1-8.19-4.3L2,18.07a11.65,11.65,0,0,0,19.43,0l-1.53-.76A10,10,0,0,1,11.66,21.61ZM12.39,0l.1,1.68a10,10,0,0,1,8.19,14.19l1.41.94A11.63,11.63,0,0,0,12.39,0Z")!important;
}

	/*trending*/
img[src="//youtube.com/img/trending/chips/music_160x160.png"]
{
  content: url(https://img.icons8.com/nolan/160/musical-notes.png);
}

img[src="//youtube.com/img/trending/chips/gaming_160x160.png"]
{
  content: url(https://img.icons8.com/nolan/160/controller.png);
}

img[src="//youtube.com/img/trending/chips/news_160x160.png"]
{
  content: url(https://img.icons8.com/nolan/160/news.png);
}

img[src="//youtube.com/img/trending/chips/movies_160x160.png"]
{
  content: url(https://img.icons8.com/nolan/160/movie.png);
}

img[src="//youtube.com/img/trending/chips/fashion_160x160.png"]
{
  content: url(https://img.icons8.com/nolan/160/hanger.png);
}

	/*buttton anim*/
button.yt-icon-button
{
  color: #fff;
}

button.yt-icon-button:hover
{
  color: #00fbff;
  animation: yadix 0.3s ease-in-out;
}

@keyframes yadix
{
  0%
  {
    box-shadow: 0px 0px 9px 4px #f40a8f;
    border-radius: 50px;
    color: #ff00ae;
  }
}

	/*channel on screen*/
.ytp-ce-expanding-overlay-background,
	.iv-card
{
  background: #44167166;
  box-shadow: 0px 0px 0px 1px #b84fff;
}

.ytp-ce-channel-metadata,
	.iv-card h2
{
  color: #fff;
}

.yt-ui-ellipsis
{
  background-color: #fff0;
}

	/*icons*/
.guide-icon.ytd-guide-entry-renderer,
	yt-icon.ytd-menu-service-item-renderer
{
  color: #fcfcfc;
}
	/*studio*/
ytcp-header,
	ytcp-navigation-drawer.ytcp-entity-page
{
  background: transparent;
}

[src="https://www.gstatic.com/youtube/img/creator/yt_studio_logo.svg"]
{
  content: url(https://www.gstatic.com/youtube/img/creator/yt_studio_logo_white.svg);
}

.sbpqs_a:before,.sbqs_c:before
{
  filter: invert(1);
}

*
{
  color: #fff;
}

html,
  :root,
  html, [light],
  ytd-masthead,
  html[darker-dark-theme],
	html:not(.style-scope),
	html:not(.style-scope)[system-icons],
	html:not(.style-scope)[dark],
	:not(.style-scope)[dark],
  html[darker-dark-theme][dark], [darker-dark-theme] [dark],
  html[system-icons][dark], html[system-icons] [dark],
  html[darker-dark-theme][dark],
  html[system-icons]
{
  --yt-spec-base-background: #2c0d3b;
  --ytcp-video-row-highlighted: #0dffff26;
  --ytcp-brand-background-solid: linear-gradient(-90deg, #520d693d 0%, #ff00b240 100%);
  --yt-button-icon-button-text-color: #fff!important;
  --yt-spec-text-secondary: #bebebe!important;
  --yt-spec-icon-inactive: #a5a5a5!important;
  --yt-spec-text-primary: #fff!important;
  --yt-spec-icon-active-other: #fff!important;
  --ytd-searchbox-legacy-border-shadow-color: #0006;
  --yt-spec-brand-background-solid: #f5151500;
  --yt-spec-brand-background-primary: rgb(218 0 0 / 0%);
  --yt-spec-brand-background-secondary: rgba(33, 33, 33, 0);
  --yt-spec-general-background-a: #1ed03300;
  --yt-spec-general-background-b: #e31a1a00;
  --yt-spec-general-background-c: #df1e1e00;
  --yt-spec-call-to-action: #00fff7;
  --ytd-searchbox-text-color: #fff;
		/*studio*/
  --ytcp-hover-item: #0dffff26;
  --ytcp-selected-item: #ff00b27d;
  --ytcp-general-background-a: #00000094;
  --ytcp-text-primary: #fff;
  --ytcp-text-secondary: #bebebe;
  --ytmusic-nav-bar: linear-gradient(-90deg, #520d693d 0%, #ff00b240 100%);
  --ytmusic-player-page-background: linear-gradient(-90deg, #520d693d 0%, #ff00b240 100%);
}

	/********************************/
	/*2021 Youtube RetroWave by YAD*/
	/********************************/
}

@-moz-document domain("studio.youtube.com"),domain("music.youtube.com")
{
  body
  {
    background-image: url(/*[[araw]]*/), url(/*[[yadbgchanger]]*/)!important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: /*[[yadbgcolor]]*/;
		background-position: 50% 33%, center;
    background-size: 350px, /*[[yadbgsize]]*/;
    background-blend-mode: screen;
  }

  ytmusic-player-bar,
		#player-bar-background.ytmusic-app-layout
  {
    background: linear-gradient(-90deg, #520d696e 0%, #ff00b240 100%);
  }

  #primaryProgress.tp-yt-paper-progress
  {
    animation-name: yadpogi;
    animation-iteration-count: infinite;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
}

